#pagewrap{
	max-width:95%
}
#site-description{
	margin:2px 0 0
}
#header .social-widget,
.search-button{
	float:none;
	margin:0
}
#headerwrap #searchform-wrap{
	float:none
}
.cart-wrap{
	top:35px
}
#headerwrap .header-widget{
	display:block;
	text-align:inherit;
	max-height:none!important
}
.pull-down{
	display:none
}
.navbar-wrapper{
	display:block
}