#pagewrap{
	max-width:95%
}
.fixed-header #header{
	max-width:94%
}
#pagewrap #body{
	margin-top:15px
}
.no-fixed-header #headerwrap #menu-icon{
	right:0
}
.no-fixed-header #headerwrap .cart-wrap{
    position:static
}