.slide-cart .cart-icon-link{
	margin-right:0;
	padding:0
}
.header-minbar #mobile-menu{
	left:-300px
}
.sidemenu-left #mobile-menu.sidemenu-on{
	left:69px;
	opacity:1;  
	visibility:visible;
	z-index:1;
	box-shadow:3px 0 12px 0px rgba(0,0,0,.07)
}
.header-minbar #headerwrap #header{
	height:100%;
	padding:0;
	width:228px
}
.header-minbar #headerwrap #site-logo{
	margin:0 .3em 0 0
}
.header-minbar #headerwrap #main-nav{
	margin-top:1em
}
.header-minbar #headerwrap #main-nav a{
	padding:.6em 0;
	border:none
}
.header-minbar #headerwrap #menu-icon-close{
	display:none
}
.full_width .module_row .row_inner{
	width:100%
}
.mobile-menu-visible.sidemenu-right,
.mobile-menu-visible.sidemenu-right .fixed-header,
.sidemenu-right,
.sidemenu-right .fixed-header{
	left:0
}
@media screen and (max-width:680px){
	.sidemenu-left #mobile-menu.sidemenu-on{
		left:46px;
		width:274px
	}
	body.slide-cart-visible.sidemenu-right{
		left:250px
	}
}