.sidemenu-active{
	left:0
}
#mobile-menu.sidemenu{
	box-shadow:none;
	background-color:transparent;
	justify-content:flex-start;
	left:auto;
	padding-top:70px;
	color:#fff
}
#headerwrap #searchform-wrap{
	max-width:360px;
	margin:1em auto 0
}
#headerwrap #searchform #s{
	background-color:#fff
}
#header .social-widget .widget_search{
	display:block;
	margin-top:1.5em
}
.mobile-menu-visible #headerwrap{
	transition-duration:.2s
}
.mobile-menu-visible #headerwrap #site-logo{
	position:fixed;
	left:32px;
	padding-top:3px
}
.mobile-menu-visible #menu-icon-close{
	right:32px
}
#headerwrap #main-nav li li > a{
	font-size:.8em;
	padding:.6em 0
}
#headerwrap #main-nav li > a,
#headerwrap #main-nav li:last-child > a{
	border-bottom:1px solid rgba(255,255,255,.15)
}
#headerwrap #main-nav .menu-item-has-children > a:after,
#headerwrap #main-nav ul .menu-item-has-children > a:after{
	display:inline-block
}
#headerwrap #main-nav li:not(.themify-widget-menu) > ul{
	display:none;
	overflow:inherit
}
#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu ul{
	margin:0
}
#main-nav li:hover > ul,
#headerwrap #main-nav .has-mega-column > ul.sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu,
#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul,
#headerwrap #main-nav .has-mega-sub-menu:hover .mega-sub-menu{
	display:none;
	color:inherit
}
#headerwrap #main-nav a:hover,
#headerwrap #main-nav ul a:hover{
	color:inherit;
	opacity:.8
}
.mobile-menu-visible.fixed-header-on #searchform-wrap,
.mobile-menu-visible #mobile-menu.sidemenu-on .overlay-menu-sticky{
	display:block
}
.mobile-menu-visible #mobile-menu.sidemenu-on .overlay-menu-sticky .header-widget{
	min-height:auto
}
@media screen and (max-width:760px){
    #headerwrap #searchform-wrap{
		max-width:275px;
		margin-left:auto;
		margin-right:auto
    }
}
