.mobile-menu-visible.sidemenu-right.sidemenu-active #headerwrap,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-right,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-right .fixed-header{
	left:0;
	right:0
}
#mobile-menu.sidemenu{
	left:0;
	right:0;
	width:100%;
	perspective:400px;
	opacity:0;
	visibility:hidden;
	transition:.5s ease;
	overflow-x:hidden
}
.mobile-menu-visible #mobile-menu.sidemenu{
	opacity:1;
	visibility:visible
}
#mobile-menu.sidemenu:before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,.2);
	border-radius:0;
	transform:scale(0);
	transition:transform .8s ease-in-out,background-color .8s ease-in-out,border-radius .8s ease-in-out
}
.mobile-menu-visible #mobile-menu.sidemenu:before{
	transform:none;
	border-radius:0;
	background-color:transparent
}
.mobile-menu-visible .body-overlay,
.body-overlay,
.body-overlay.body-overlay-on{
	display:none
}