.mobile-menu-visible.sidemenu-right.sidemenu-active #headerwrap,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-active,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-active .fixed-header{
	left:0;
	right:0
}
#mobile-menu.sidemenu{
	left:0;
	right:0;
	width:100%;
	transform-origin:top right;
	transform:scale(.2);
	transition:opacity .8s ease,visibility .8s ease,transform .8s ease;
	opacity:0;
	visibility:hidden
}
.mobile-menu-visible #mobile-menu.sidemenu{
	transform:none;
	opacity:1;
	visibility:visible
}
.mobile-menu-visible .body-overlay,
.body-overlay,
.body-overlay.body-overlay-on,
body:not(.mobile-menu-visible) #menu-icon-close{
	display:none
}