.mobile-menu-visible.sidemenu-right.sidemenu-active #headerwrap,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-active,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-active .fixed-header{
    left:0;
    right:0
}
#mobile-menu.sidemenu{
    left:0;
    right:0;
    width:100%;
    perspective:400px;
    transform-origin:center;
    transform:translateX(-100%);
    transition:opacity .8s ease,visibility .8s ease,transform .8s ease;
    opacity:1;
    visibility:hidden;
    overflow-x:hidden
}
.mobile-menu-visible #mobile-menu.sidemenu{
    transform:none;
    visibility:visible
}
.mobile-menu-visible .body-overlay,
.body-overlay,
.body-overlay.body-overlay-on,
body:not(.mobile-menu-visible) #menu-icon-close{
    display:none
}
/*Animation menu elements */
.search-button,
.social-widget,
.header-widget div[class*="col"],
#main-nav li{
    transform:translate(-40px,0) !important
}