.mobile-menu-visible.sidemenu-right.sidemenu-active #headerwrap,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-right,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-right .fixed-header{
	left:0;
	right:0
}
#mobile-menu.sidemenu{
	left:0;
	right:0;
	width:100%;
	transition:opacity .8s ease,visibility .8s ease,transform .8s ease;
	overflow-x:hidden;
	opacity:0;
	visibility:hidden
}
.mobile-menu-visible #mobile-menu.sidemenu{
	opacity:1;
	visibility:visible
}
.mobile-menu-visible .body-overlay,
.body-overlay,
.body-overlay.body-overlay-on{
	display:none
}
/*Animation menu elements */
.search-button,
.social-widget,
.header-widget div[class*="col"],
#main-nav li{
	transition-timing-function:ease;
	transform:scaleX(0) !important;
	transform-origin:center
}
.mobile-menu-visible .search-button,
.mobile-menu-visible .social-widget,
.mobile-menu-visible .header-widget div[class*="col"],
.mobile-menu-visible #main-nav li{
	transform:scaleX(1) !important
}