.mobile-menu-visible.sidemenu-right.sidemenu-active #headerwrap,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-active,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-active .fixed-header{
    left:0;
    right:0
}
#mobile-menu.sidemenu{
    left:0;
    right:0;
    width:100%;
    perspective:400px;
    transform-origin:center;
    transform:translateX(-100%);
    transition:.8s cubic-bezier(.9,0,.2,1);
    visibility:hidden;
    overflow-x:hidden
}
.mobile-menu-visible #mobile-menu.sidemenu{
    transform:none;
    visibility:visible
}
.mobile-menu-visible .body-overlay,
.body-overlay,
.body-overlay.body-overlay-on{
    display:none
}
body:not(.mobile-menu-visible) #menu-icon-close{
    opacity:.25;
    transition:.4s
}
/*Animation menu elements */
.search-button,
.social-widget,
.header-widget div[class*="col"]{
    transform:none !important;
    transition:transform .2s ease-in-out,opacity .2s ease-in-out
}
#main-nav li{
    transform:translate(0,-40px) !important
}