.mobile-menu-visible.sidemenu-right.sidemenu-active #headerwrap,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-right,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.sidemenu-right .fixed-header{
	left:0;
	right:0
}
#mobile-menu.sidemenu{
	left:0;
	right:0;
	width:100%;
	padding-left:20%;
	padding-right:20%;
	overflow-x:hidden;
	box-sizing:border-box;
	transform:translateY(-150%) scale(2);
	transition:transform .8s ease
}
.mobile-menu-visible #mobile-menu.sidemenu{
	transform:translateY(0) scale(1)
}
.mobile-menu-visible .body-overlay,
.body-overlay,
.body-overlay.body-overlay-on{
	display:none
}
@media screen and (max-width:680px){
	#mobile-menu.sidemenu{
		padding-left:10%;
		padding-right:10%
	}
}