:root{
	--tb_preset_light_purple:#c1bafd
}
.module.module-buttons a.light-purple.builder_button,
.module-alert.ui .ui.light-purple,
.module-menu .ui.nav.light-purple a,
.themify_builder .ui.light-purple,
.ui.nav.light-purple li a,
.ui.module-tab.light-purple .tab-nav li a{
    color:#39355b
}
.ui.light-purple,
.ui.nav.light-purple,
.ui.nav.light-purple ul,
.ui.separate.light-purple > li,
.ui.module-tab.light-purple .tab-nav li,
.ui.light-purple.vertical .tab-nav,
.ui.module-accordion.light-purple .accordion-title,
.ui.module-tab.light-purple.panel .tab-nav{
    background-color:var(--tb_preset_light_purple)
}
.ui.light-purple > li.current_page_item > a,
.ui.light-purple > li.current_page_item:hover > a,
.ui.light-purple > li.current-menu-item > a,
.ui.light-purple > li.current-menu-item:hover > a,
.ui.builder_button.light-purple:hover,
.ui.nav.light-purple > li a:hover,
.ui.module-accordion.light-purple li:hover .accordion-title,
.ui.module-tab.light-purple .tab-nav li:hover{
    background:#d3ceff
}
.ui.light-purple > li.current,
.ui.light-purple > li.current:hover,
.ui.light-purple .tab-nav li.current{
    background:#6c678c
}
.ui.light-purple > .current > a{
    color:#fff
}
.module.module-buttons.transparent a.light-purple{
    color:var(--tb_preset_light_purple)
}