:root{
	--tb_preset_purple:#7a6bf8
}
.module.module-buttons a.purple.builder_button,
.module-alert.ui .ui.purple,
.module-menu .ui.nav.purple a,
.themify_builder .ui.purple,
.ui.nav.purple li a,
.ui.module-tab.purple .tab-nav li a{
    color:#eeedff
}
.ui.purple,
.ui.nav.purple,
.ui.nav.purple ul,
.ui.separate.purple > li,
.ui.module-tab.purple .tab-nav li,
.ui.vertical.purple .tab-nav,
.ui.module-accordion.purple .accordion-title,
.ui.module-tab.purple.panel .tab-nav{
    background-color:var(--tb_preset_purple)
}
.ui.purple > li.current_page_item > a,
.ui.purple > li.current_page_item:hover > a,
.ui.purple > li.current-menu-item > a,
.ui.purple > li.current-menu-item:hover > a,
.ui.builder_button.purple:hover,
.ui.nav.purple > li a:hover,
.ui.module-accordion.purple li:hover .accordion-title,
.ui.module-tab.purple .tab-nav li:hover{
    background:#9589ff
}
.ui.purple > li.current,
.ui.purple > li.current:hover,
.ui.purple .tab-nav li.current{
    background:#321396
}
.module.module-buttons.transparent a.purple {
    color:var(--tb_preset_purple)
}