:root{
	--tb_preset_yellow:#fff06c
}
.module.module-buttons a.yellow.builder_button,
.module-alert.ui .ui.yellow,
.module-menu .ui.nav.yellow a,
.themify_builder .ui.yellow,
.ui.nav.yellow li a,
.ui.module-tab.yellow .tab-nav li a{
    color:#594718
}
.ui.yellow,
.ui.nav.yellow,
.ui.nav.yellow ul,
.ui.separate.yellow > li,
.ui.module-tab.yellow .tab-nav li,
.ui.yellow.vertical .tab-nav,
.ui.module-accordion.yellow .accordion-title,
.ui.module-tab.yellow.panel .tab-nav{
    background-color:var(--tb_preset_yellow)
}
.ui.yellow > li.current_page_item > a,
.ui.yellow > li.current_page_item:hover > a,
.ui.yellow > li.current-menu-item > a,
.ui.yellow > li.current-menu-item:hover > a,
.ui.builder_button.yellow:hover,
.ui.nav.yellow > li a:hover,
.ui.module-accordion.yellow li:hover .accordion-title,
.ui.module-tab.yellow .tab-nav li:hover{
    background:#fff4b2
}
.ui.yellow > li.current,
.ui.yellow > li.current:hover,
.ui.yellow .tab-nav li.current{
    background:#b29e1c
}
.ui.yellow > .current > a{
    color:#fff
}
.module.module-buttons.transparent a.yellow{
    color:#fff06c
}