.module-menu .tf_acc_menu.ui.nav .menu-item .child-arrow{
    display:block;
    opacity:1;
    pointer-events:auto
}
.tf_acc_menu.ui.nav li.toggle-on > ul{
    transform:none;
}
.tf_acc_menu.ui.nav ul{
    display:none;
    padding: 0 0 0 20px;
    left:0;
    box-shadow:none;
    opacity:1;
    position:relative;
    margin:0;
    transform:scale(1,0);
    transform-origin:top;
    transition:transform 0.2s;
    pointer-events:auto;
    height:auto
}