.module .nav.transparent, 
.module .nav.transparent li,
.module .nav.transparent > li > a, 
.module .nav.transparent > li.current_page_item > a,
.module .nav.transparent > li.current-menu-item > a, 
.module .nav.transparent > li > a:hover,
.module .nav.transparent li:active > a{
    background:none;
    border:none;
    box-shadow:none
}