.tb_module:before{
    left:auto;
    right:7px
}
.tb_switch_frontend{
    margin-left:10px
}
.module_row .toggle_row{
    left:5px;
    right:auto
}
#tb_component_bar ul{
    direction:ltr
}
.tb_float_xsmall .tb_module .module_name,
.themify_builder_active .tb_row_actions{
	text-align:right
}
.tb_float_xsmall .tb_module .module_name{
    margin-left:0;
    margin-right:7px
}
.themify_builder_active .row_menu{
    margin-left:0;
    margin-right:10px
}
.tb_row_actions .tb_down{
    left:auto;
    right:0
}
.tb_down_front{
    left:0;
    right:auto
}
.tb_label{
    float:right;
    text-align:right;
    margin:0 0 0 1%;
    width:25%
}
.tb_input{
    float:right;
    text-align:right
}
.tb_field input[type=text]{
    margin-right:0;
    margin-left:0;
    border-radius:4px 0 0 4px
}
.tb_field .tfminicolors input[type=text]{
    margin-right:25px;
    border-radius:0
}
.module_menu,.tb_module .module_menu{
    left:auto;
    right:10px
}
.tb_module.active_module{
    padding-left:0;
    padding-right:38px
}
.tb_down{
    left:auto;
    right:0
}
.themify_builder_admin .active_module .tb_grid_menu{
    left:auto;
    right:36px
}
.themify_builder_admin .module_label{
    padding-left:0;
    padding-right:20px
}
.themify_builder_admin .module_subrow .module_label{
    padding-right:0
}
.themify_builder.builder-lightbox .tb_options_tab li{
    float:right
}
.themify_builder_admin h1,
.themify_builder_admin h2,
.themify_builder_admin h3,
.themify_builder_admin h4,
.themify_builder_admin h5,
.themify_builder_admin h6{
    text-align:right
}
.tb_field .selectwrapper{
    margin:5px 0 5px 5px
}
.tb_input .tfminicolors-swatch{
    margin:0  0 0 -4px;
    border-radius:0 4px 4px 0;
    left:auto;
    right:0
}
.builder-lightbox input[type="checkbox"]:checked::before{
    margin:-3px 0 0 1px
}
.builder-lightbox input[type="radio"],
.builder-lightbox input[type="checkbox"]{
    margin:0 0 0 4px
}
/**
 * FontAwesome-lightbox specifics */
#themify_lightbox_fa .lightbox_container a{
    float:left;
    padding-left:0;
    padding-right:12px;
    margin-right:auto;
    margin-left:10px
}
#themify_lightbox_fa .lightbox_container a i{
    margin-right:auto;
    margin-left:1em
}

/************************************************************************************
BUILDER COLUMN
*************************************************************************************/
/* sub row */
.module_column .tb_down_front .tb_module_action_more ul{
    left:auto;
    right:25px
}
.module_subrow .tb_down_front .themify_module_menu,
.module_column.col6-1 .tb_down_front .themify_module_menu,
.module_column.col5-1 .tb_down_front .themify_module_menu,
.module_column.col4-1 .tb_down_front .themify_module_menu,
.module_subrow .tb_down_front .themify_module_menu ul,
.module_column.col6-1 .tb_down_front .themify_module_menu ul,
.module_column.col5-1 .tb_down_front .themify_module_menu ul,
.module_column.col4-1 .tb_down_front .themify_module_menu ul{
    left:0;
    right:auto
}
.module_column.col6-1 .tb_down_front li,
.module_column.col5-1 .tb_down_front li,
.module_column.col4-1 .tb_down_front li{
    text-align:left
}
.module_column.col6-1 .tb_down_front li a,
.module_column.col5-1 .tb_down_front li a,
.module_column.col4-1 .tb_down_front li a{
    padding-left:12px
}
.tb_data_mod_name{
    left:auto;
    right:0
}
.tb_down_front li{
    text-align:inherit
}

#tb_module_panel_dropdown .predesigned_row,
#tb_module_panel_dropdown .tb_library_item{
	margin-right:0;
	margin-left:5%
}
#tb_module_panel_dropdown .tb_library_item:nth-child(4n+1),
#tb_module_panel_dropdown .predesigned_row.tb_column_break{
	margin-left:0
}
/************************************************************************************
POST LAYOUTS
*************************************************************************************/
#tb_tabs_frame_tabs .themify-layout-icon a{
	float:right
}
#themify_lightbox_fa .tf-icon-group-select{
	direction:ltr;
	display:flex;
	flex-direction:row-reverse
    }
#themify_lightbox_fa .tf-icon-group-select label{
	direction:rtl
}
#themify_lightbox_fa .lightbox_container section a{
	float:right;
	margin-right:0
}
#themify_lightbox_fa .themify_lightbox_title{
	margin-right:30px
}
.tb_module_front.drop-cap .tb_action_wrap + :first-letter,
.tb_module_front.tb_text_dropcap .tb_action_wrap + :first-letter{
    float:right;
    margin-left:.325em;
    margin-right:0
}
/* dragger */
.tb_dragger_lightbox li{
    margin-left:8px;
    margin-right:0
}
/* module panel search */
div.tb_module_panel_search input[type="text"]{
	padding-right:28px
}
.tb_module_panel_search .tf_fa{
	left:auto;
	right:6px
}
.tb_clear_input{
	right:auto;
	left:6px
}
.tb-layout-search-container{
	position:relative
}
.tb-layout-search-container .tb_clear_input{
	right:auto;
	left:5pxpx;
	top:15px
}
.tb-layout-search-container #tb_layout_search{
	padding-left:28px
}