/*
Skin Name:Ultra Music
Version:1.0
Demo URI:https://themify.me/demo/themes/ultra-music/
Required Plugins:builder-audio, builder-contact, builder-maps-pro, themify-event-post
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#ffe330;
	--theme_accent_semi:rgba(255,227,48,.8);
}
body{
	font:normal 1em/1.65em 'Roboto',Arial,sans-serif;
	color:#666
}
a{
	color:#E91E63
}
.post-title a:hover,
.post-nav a:hover .arrow{
	color:#E91E63
}

/* reset general border-radius */
input[type=reset],input[type=submit],button,select,textarea,input[type=checkbox],input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=time],input[type=week],.woocommerce ul.products li.product .button,.woocommerce a.button,.woocommerce #respond input#submit,.woocommerce #respond input#submit.alt,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce button.button.alt,.woocommerce button.button,.woocommerce a.button,.woocommerce a.button.alt,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.loops-wrapper.polaroid .post,.loops-wrapper.overlay .post,.loops-wrapper.auto_tiles > .product,.loops-wrapper.auto_tiles .post-image + .post-content,.loops-wrapper.auto_tiles > .post,.post-image img,.product img, ul.products li.product .post-image,#cart-wrap .product-image img,.woocommerce div.product div.images img,.woocommerce-product-gallery__wrapper .tf_swiper-container-initialized,#add_payment_method table.cart img,.woocommerce-cart table.cart img,.woocommerce-checkout table.cart img,.select2-dropdown,.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow,#slide-cart .button,#slide-cart .product-image img,.woocommerce-cart #content table.cart td.actions .coupon .input-text,.woocommerce span.onsale,.woocommerce ul.products li.product .onsale,.woocommerce table.shop_table,.woocommerce-checkout #payment,#add_payment_method #payment ul.payment_methods li,.woocommerce-cart #payment ul.payment_methods li,.woocommerce-checkout #payment ul.payment_methods li,.woocommerce-error, .woocommerce-info, .woocommerce-message,.woocommerce-page .cart-collaterals .cart_totals,body:not(.footer-block) #footer .back-top a,#main-nav .highlight-link > a,.pagenav a,.pagenav span,.pagenav .current,a.load-more-button,.more-link,.widget .feature-posts-list .post-img{
	border-radius:0
}

/* HEADINGS
================================================ */
h1, h2, h3{
    font-family:'Playfair Display',serif;
	font-weight:700
}
h1{
	font-size:3em;
	letter-spacing:-.0278em;
	line-height:1em
}
h2{
	font-size:2.2em
}
h3{
	font-size:1.6em
}

/* FORM
================================================ */
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week]{
	border-color:#ddd;
	padding:1.05em;
	margin:0;
	margin-bottom:1.1em;
	max-width:none
}
textarea{
	resize:vertical;
	height:260px
}
#commentform p label{
	transform:none;
	text-transform:none;
	font-size:1em;
	margin-bottom:.4em
}
#commentform textarea{
	height:260px
}
#review_form p label{
	transform:none
}

/************************************************************************************
HEADER
*************************************************************************************/
/* SITE LOGO
================================================ */
#site-logo{
	font-size:1.875em
}

/* MAIN NAVIGATION
================================================ */
#main-nav a{
	text-transform:uppercase;
	padding:.6em .55em
}
.transparent-header #main-nav a:hover,
.transparent-header #main-nav .current_page_item > a,
.transparent-header #main-nav .current-menu-item > a{
	color:#ffe32f
}
#main-nav ul a:hover,
#main-nav .mega-menu-posts a:hover,
#main-nav a:hover,
#main-nav .current_page_item > a,
#main-nav .current-menu-item > a{
	color:#E91E63
}

/* HEADER HORIZONTAL
================================================ */
.header-horizontal #site-logo{
	font-size:1.875em
}

/* header icon position */
.boxed-compact .search-button,
.boxed-compact .social-widget{
	order:1
}
.boxed-compact.slide-cart #main-nav-wrap,
.header-horizontal.slide-cart #main-nav-wrap{
	position:unset
}
.cart-icon-link{
	line-height:normal
}

/* HEADER BOXED COMPACT
================================================ */
.boxed-compact .sidemenu .social-widget .widget{
	margin:0
}

/* HEADER OVERLAY
================================================ */
.header-overlay.transparent-header .fixed-header,
.header-overlay.mobile-menu-visible #headerwrap{
	background-color:rgba(255, 227, 48, 1)
}
.header-overlay.transparent-header .fixed-header,
.header-overlay.mobile-menu-visible #headerwrap,
.header-overlay #headerwrap #searchform .tf_fa,
.header-overlay.mobile-menu-visible .sidemenu,
.header-overlay.mobile-menu-visible #headerwrap a{
	color:#000
}
.header-overlay #headerwrap #searchform .tf_fa{
	border-color:#000
}

/* HEADER STRIPE
================================================ */
.header-stripe #site-logo{
	background-color:var(--theme_accent);
	color:#000
}

/* HEADER BOTTOM
================================================ */
#footerwrap .footer-tab{
	background-color:var(--theme_accent);
	color:#000
}

/************************************************************************************
POSTS
*************************************************************************************/
/* POST TITLE
================================================ */
.post-title{
    font-family:'Playfair Display',serif;
    font-size:2.8em
}
.post-title a{
	color:#06062a
}
.post-nav .arrow{
	color:#06062a
}

/* GRID2, GRID3, GRID4 POST
================================================ */
.loops-wrapper.grid2 .post,
.loops-wrapper.grid3 .post,
.loops-wrapper.grid4 .post{
	text-align:left
}
.loops-wrapper.grid2 .post-title,
.loops-wrapper.grid3 .post-title,
.loops-wrapper.grid4 .post-title{
	font-size:1.875em;
	margin:.6em 0
}
.loops-wrapper.grid2 .post-date-wrap, 
.loops-wrapper.grid3 .post-date-wrap, 
.loops-wrapper.grid4 .post-date-wrap{
	position:absolute;
    top:0;
	margin-left:-10px;
    margin-top:-14px
}
.loops-wrapper.grid2 .post-date, 
.loops-wrapper.grid3 .post-date, 
.loops-wrapper.grid4 .post-date{
    background:var(--theme_accent);
    color:#06062a;
    padding:8px 12px;
    line-height:1em;
    margin:0;
	position:relative;
	z-index:1
}
.loops-wrapper.grid2 .post-date:after, 
.loops-wrapper.grid3 .post-date:after, 
.loops-wrapper.grid4 .post-date:after{
	content:"";
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
    background:inherit;
    transform-origin:bottom left;
    transform:skew(-18deg, 0deg)
}

/* related posts */
.related-posts .post-title{
	font-weight:700
}

/************************************************************************************
WIDGETS
*************************************************************************************/
.widgettitle{
	font-size:1.1em
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	background-color:#3e0a3f;
	color:#fff;
	border:none;
    padding-bottom:0
}
#footerwrap a{
	color:var(--theme_accent)
}
#footerwrap a:hover{
	color:#fff
}

/* FOOTER WIDGETS
================================================ */
.footer-widgets{
	text-align:left
}

/* FOOTER TEXT
================================================ */
.section-col + .footer-text{
	padding:3em 0;
	border-top:1px solid rgba(255,255,255, .1);
	font-size:1em;
	text-align:center
}
.section-col + .footer-text .one{
	margin-right:10px
}
.section-col + .footer-text .one,
.section-col + .footer-text .two{
	display:inline-block
}

/* FOOTER BACK TO TOP
================================================ */
#footerwrap .arrow-up{
    color:#000;
    -webkit-text-stroke-width:2px
}
/************************************************************************************
BUILDER STYLING
*************************************************************************************/
/* BUILDER AUDIO
================================================ */
.module-audio{
	background-color:#050529;
	padding:48px
}
.module-audio .module-title{
	color:#fff
}
.tf_audio_progress_wrap{
	height:1px;
	background-color:rgba(255, 227, 47, .2)
}
.tf_audio_progress_current{
	height:4px;
	top:auto;
	bottom:0;
	background-color:#ffe32f
}
.tf_audio_wrap .tf_audio_controls button{
	color:var(--theme_accent)
}
.tf_audio_wrap{
	padding-top:20px;
}
.module.module-audio .album-playlist .tracklist .track{
	padding-top:11px
}
.module.module-audio .album-playlist .tf_audio_current_time{
	right:-13px;
	color:#fff
}
.module.module-audio .album-playlist .tracklist .track-title{
	margin-left:49px;
	letter-spacing:.015em;
	color:#fff
}

/* BUILDER BUTTON
================================================ */
#slide-cart .button,.woocommerce ul.products li.product .button,.woocommerce a.button.disabled,.woocommerce button.button.disabled,
.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled],.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.builder_button,input[type=reset],input[type=submit],button[type=submit]{
	color:#000;
	border:none;
	text-align:center;
	font-size:.9em;
	font-weight:500;
	padding:1.4em 3.4em;
	letter-spacing:-.01em;
	text-transform:uppercase;
	transition:background-color .3s ease,color .3s ease,padding .3s ease
}
#slide-cart .button:hover,.woocommerce ul.products li.product .button:hover,.woocommerce a.button.alt.disabled:hover,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,input[type=reset]:hover,input[type=submit]:hover,button[type=submit]:hover,.module.module-buttons .tb_default_color:hover{
	background-color:#000;
	color:#fff
}
.woocommerce ul.products li.product .button{
	font-size:.75em;
	padding:1.1em 2.4em;
}
.module.module-buttons a.tb_default_color{
	background-color:var(--theme_accent);
	color:#000
}
.module.module-buttons.outline .tb_default_color{
	background:0
}
.large .ui.builder_button{
	padding:1.6em 3.8em
}
.xlarge .ui.builder_button{
	padding:1.8em 3.8em
}

/* IMAGE MODULE
================================================ */
.image-wrap .zoom{
	transition:transform .5s ease,background-color .5s ease,color .5s ease;
	transform:scale(0)
}
.image-wrap:hover .zoom{
	background-color:var(--theme_accent);
	color:#000;
	transform:scale(1)
}

/* EVENT POST MODULE
================================================ */
.list-post.themify_event_post_loop .themify_event_post{
	background-color:rgba(33,33,33,.05);
	position:relative;
	padding:5% 31px;
	padding-left:230px;
	min-height:150px
}

/* event image */
.list-post .tep_image{
	margin:0;
	margin-right:30px;
	width:80px
}
.list-post .tep_post_content{
	width:calc(100% - 120px)
}
.list-post .tep_image,
.list-post .tep_post_content{
	display:inline-block;
	vertical-align:middle
}

/* event date */
.list-post .tep_date,
.list-post .tep_ticket{
	padding:0
}
.list-post .tep_date:before,
.list-post .tep_ticket:before{
	display:none
}
.list-post .tep_date{
	background-color:var(--theme_accent);
	color:#000;
	font-weight:700;
	width:160px;
	margin:0;
	text-transform:uppercase;
	position:relative;
	z-index:0;
	padding:3% 2.5%;
	padding-right:.6%;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	display:flex;
	flex-direction:column;
	justify-content:center
}
.list-post .tep_date:after{
	content:"";
	display:block;
	background-color:inherit;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	transform:skewX(-15deg);
	transform-origin:right bottom;
	pointer-events:none;
	z-index:-1
}

/* buy ticket */
.list-post .tep_ticket a{
	display:inline-block;
	background-color:var(--theme_accent);
	color:#000;
	font-weight:500;
	padding:1.25em 1.35em .9em;
	letter-spacing:-.01em;
	text-transform:uppercase;
	transition:background-color .3s ease,color .3s ease
}
.list-post .tep_ticket a:hover{
	background-color:#000;
	color:#fff
}

/* event location */
.list-post .tep_location{
	padding-left:2.3em;
	line-height:1.15em;
	width:215px
}
.list-post .tep_location:before{
	font-size:1.8em;
	top:50%;
	transform:translateY(-50%)
}

/* event info */
.list-post .tep_event_info{
	float:right;
	margin:0
}
.list-post .tep_event_info div,
.list-post .tep_ticket{
	display:inline-block
}

/* event title */
.list-post .tep_post_title{
	font-family:Roboto,Arial,sans-serif;
	font-size:1.2em;
	letter-spacing:-.03em;
	margin:0 0 .2em;
	display:inline-block
}
.list-post .tep_ticket a,
.list-post .tep_post_title a{
	text-decoration:none
}
.list-post .tep_post_title,
.list-post .tep_content{
	width:45%
}
.list-post .tep_content p:last-child{
	margin-bottom:0
}

/* event address */
.list-post .tep_address{
	width: 215px;
	margin: 0;
	margin-right:1em;
	padding-left: 2.3em;
}

/* OPTIN MODULE
================================================ */
.module-optin.tb_optin_horizontal form .tb_optin_submit{
	width:auto
}
.tb_optin_horizontal .tb_optin_form input,
.tb_optin_horizontal .tb_optin_form .tb_optin_submit button{
    margin:0
}

/************************************************************************************
WOOCOMMERCE STYLES
*************************************************************************************/
/* ARCHIVE PRODUCTS
================================================ */
/* Sale */
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale{
    background-color:#ffe32f;
	color:#000
}

/* archive product title */
.module-products .wc-products .product h3,
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    font-family:'Playfair Display',serif
}
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins{
	font-weight:600
}

/* SINGLE PRODUCTS
================================================ */
/* quantity */
.woocommerce .quantity .qty{
    padding:1.05em;
    width:5em
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
	border-color:#ffe32f;
	color:#000
}

/* CART
================================================ */
.cart-wrap a span{
	color:#000
}
.woocommerce-cart #content table.cart td.actions .coupon .input-text{
	padding:1.05em;
    width:8.5em
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height:54px
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:54px
}
.select2-results__option{
	margin:0
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true]{
	background-color:var(--theme_accent);
	color:#000
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width:980px){
	.list-post .tep_event_info div,
	.list-post .tep_ticket{
		display:block
	}
	.list-post .tep_ticket{
		margin-top:1em
	}
}
@media screen and (max-width:768px){
	.list-post.themify_event_post_loop .themify_event_post{
		padding-left:31px;
		padding-top:100px
	}
	.list-post .tep_date{
		bottom:auto;
		width:95%;
		min-height:76px;
		flex-direction:row;
		padding:3% 31px;
		align-items:center;
		justify-content:flex-start
	}
	.list-post .tep_event_info{
		float:none
	}
	.list-post .tep_image,
	.list-post .tep_content{
		margin-bottom:1em
	}
	.list-post .tep_image,
	.list-post .tep_post_content{
		vertical-align:top;
		width:100%
	}
	.list-post .tep_post_title,
	.list-post .tep_content{
		width:100%;
		order:-1
	}
	.list-post .tep_post_content{
		display:flex;
		flex-direction:column
	}
	.list-post .tep_location,
	.list-post .tep_address{
		width: auto;
	}
}