/************************************************************************************
GENERAL
*************************************************************************************/
body{
	text-align:right;
	direction:rtl
}
blockquote:before{
	margin-left:0;
	margin-right:-.5em
}
.content-left #sidebar-alt,
#sidebar{
	margin-left:0;
	margin-right:auto
}

/************************************************************************************
COMMENT FORM
*************************************************************************************/
#commentform:before{
	left:auto;
	right:0
}
.commentlist .reply{
	right:auto;
	left:0
}
.commentlist .bypostauthor > .comment-author cite svg{
	margin-left:12px
}
#commentform p.comment-form-author,
#commentform p.comment-form-email{
	float:right
}
#commentform p.comment-form-author{
	padding-left:2%;
	padding-right:0
}
#commentform p.comment-form-email{
	padding-right:2%;
	padding-left:0
}
#commentform p label{
	transform:translate(-12px,35px)
}
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week]{
	margin-right:0;
	margin-left:1em
}

/************************************************************************************
GRID
*************************************************************************************/
.col4-1,.col4-2,
.col3-1{
	float:right;
	margin-left:0;
	margin-right:3.2%
}
.col4-1.first,
.col4-2.first,
.col3-1.first{
	margin-right:0;
	clear:right !important
}

/************************************************************************************
HEADER
*************************************************************************************/
/* Social Widget */
.social-widget{
	margin-left:10px
}
.tf_close_search{
	right:auto;
	left:4%
}
.tf_search_item .title{
	padding-right:0
}

/* pull down */
.pull-down{
	margin-left:0;
	margin-right:10px
}

/* Menu */
#main-nav ul a{
	text-align:right
}
.mega-sub-menu li a:before{
	right:auto;
	left:0
}
.mega-sub-menu li a:not(.tf_loader):before{
	transform:rotate(-135deg);
	margin-left:10px
}
#main-nav li:not(.themify-widget-menu) > ul{
	left:auto;
	right:-0.3em
}
#main-nav li:not(.themify-widget-menu) > ul ul{
	right:auto;
	left:100%
}
#main-nav .has-mega-column > .sub-menu,
#main-nav li.menu-item-object-tbuilder_layout_part > .sub-menu{
	text-align:unset
}
.boxed-compact #main-nav .has-mega-column > .sub-menu,
.boxed-compact #main-nav .has-mega-sub-menu .mega-sub-menu,
.header-horizontal #main-nav .has-mega-column > .sub-menu,
.header-horizontal #main-nav .has-mega-sub-menu .mega-sub-menu,
.header-top-bar #main-nav .has-mega-column > .sub-menu,
.header-top-bar #main-nav .has-mega-sub-menu .mega-sub-menu{
	left:0;
	right:auto
}
.header-slide-out .header-bar,
.header-horizontal .header-bar,
.header-top-bar .header-bar,
.boxed-compact .header-bar,
.header-horizontal #header .social-widget,
.header-top-bar #header .social-widget,
.boxed-compact #header .social-widget{
	float:right
}
.boxed-compact .header-bar{
	border:none
}
.header-horizontal #header #searchform-wrap,
.header-top-bar #header #searchform-wrap,
.boxed-compact #header #searchform-wrap{
	float:right
}
.boxed-compact #headerwrap #searchform .tf_fa{
	right:0;
	left:-37px
}
.boxed-compact .fixed-header #site-logo{
	margin-left:0.5em
}
.header-horizontal #site-logo,
.header-horizontal #site-description,
.header-top-bar #site-logo,
.boxed-compact #site-logo{
	margin-right:0;
	margin-left:.5em
}
.boxed-compact #site-description{
	left:0;
	right:100%;
	margin:22px 0 5px 1.8em
}
.boxed-compact #site-description::before{
	left:100%;
	border-right:none;
	border-left:10px solid #60cdb4
}
.boxed-compact .pull-down{
	margin-left:0;
	margin-right:.9em
}
.boxed-compact #main-nav-wrap{
	margin-right:auto;
	margin-left:0
}
.header-horizontal #main-nav,
.boxed-compact #main-nav,
.header-top-bar #main-nav,
.header-stripe #main-nav{
	margin-left:0
}
.header-slide-out #menu-icon{
	margin-left:0
}

/* header horizontal */
.header-horizontal #header .social-widget{
	margin-left:10px
}

/* header top widgets */
.header-top-widgets #header .social-widget{
	float:right
}
.header-top-widgets .header-widget-full .header-widget-inner .widget{
	text-align:right
}
.header-top-widgets .header-widget-full .header-widget-inner .col4-2:last-child .widget{
	text-align:left
}
.header-top-widgets .header-bar{
	float:right
}
.header-top-widgets #site-logo,
.header-top-widgets #site-description{
	padding-left:0;
	margin:0 0 0 .5em
}
.header-top-widgets #main-nav{
	float:left;
	clear:left
}
.header-top-widgets .sidemenu-off #main-nav-wrap{
	position:static;
	margin-left:0;
	margin-right:auto
}
.header-top-widgets #main-nav .has-mega-column > .sub-menu,
.header-top-widgets #main-nav .has-mega-sub-menu .mega-sub-menu{
	left:0;
	right:0
}

/* header leftpane */
.header-leftpane .social-widget{
	margin-left:0
}
.header-leftpane .search-button{
	margin-right:0
}

/* header slide out */
body.header-slide-out:not(.mobile_menu_active) #headerwrap .header-icons{
	right:auto;
	left:6%;
	z-index:2
}
.header-slide-out #headerwrap{
	border-left:1px solid rgba(180,180,180,.3)
}
.header-slide-out #headerwrap #searchform .tf_fa{
	left:auto;
	right:7px
}
.header-slide-out #headerwrap #main-nav .has-sub-menu > .children > li > ul.children,
.header-slide-out #headerwrap #main-nav .has-mega-column > .children > li > ul.children,
.header-slide-out #headerwrap #main-nav > li > div.children,
.header-slide-out #headerwrap #main-nav > li > ul.children,
.header-slide-out #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.header-slide-out #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
.header-slide-out #headerwrap #main-nav > li > div.sub-menu,
.header-slide-out #headerwrap #main-nav > li > ul.sub-menu{
	padding:0 1em 0 0
}

/* header minbar */
.header-minbar #headerwrap{
	border-right:none;
	border-left:1px solid rgba(180,180,180,.3);
	float:right;
	left:auto;
	right:-249px;
	transition:right .2s ease-in-out
}
.header-minbar #headerwrap .header-icons{
	left:auto;
	right:0;
	transition:right .2s ease-in-out
}
.header-minbar .header-bar{
	left:auto;
	right:0;
	transform:rotate(90deg);
	transform-origin:100% 0
}
.header-minbar .cart-wrap a span{
	margin-right:0
}
.header-minbar #site-logo{
	margin:0 0 0 .3em
}
.header-minbar #body,
.header-minbar #footerwrap{
	padding-left:0;
	padding-right:69px
}
.header-minbar #slide-cart,
.header-minbar #mobile-menu{
	left:auto;
	right:-300px
}
body.slide-cart-visible.mobile_menu_active.sidemenu-right.header-minbar,
body.slide-cart-visible.sidemenu-right.header-minbar,
.header-minbar.sidemenu-left{
	left:auto;
	right:319px
}
.header-minbar #slide-cart.sidemenu-on,
.header-minbar.sidemenu-left #mobile-menu.sidemenu-on{
	left:auto;
	right:69px
}
.header-minbar.slide-cart-visible.full_width #body,
.header-minbar.mobile-menu-visible.full_width #body{
	padding-right:0
}
.header-minbar .body-overlay.body-overlay-on{
	left:auto;
	right:319px
}
.mobile_menu_active.slide-cart.header-minbar .cart-icon-link{
	margin:0
}
.header-minbar.full-section-scrolling #footerwrap{
	margin-left:0;
	right:68px
}
.header-minbar #fp-nav.right{
	right:auto;
	left:6px
}

/* header overlay */
.header-overlay #site-logo{
	margin:0 0 0 .6em
}
.header-overlay #headerwrap .header-icons{
	right:auto;
	left:2%
}
.header-overlay #menu-icon-close{
	right:auto;
	left:1em
}
.header-overlay #headerwrap #main-nav{
	text-align:right
}
.header-overlay #main-nav li:not(.themify-widget-menu) > ul{
	margin:0 1em 0 0
}
.mobile_menu_active.mobile-menu-visible #headerwrap #site-logo{
	right:32px;
	left:auto
}
.header-overlay .cart-icon-link{
	margin-left:.5em
}
.header-overlay .sidemenu{
	overflow:auto
}
/* header rightpane */
.header-rightpane .social-widget{
	margin-left:0
}
.header-rightpane .search-button{
	margin-right:0
}

/* header stripe */
.header-stripe #header,
.header-stripe .fixed-header #header{
	padding:0
}
.header-stripe .header-bar{
	float:right;
	padding:0
}
.header-stripe #site-description{
	margin:0 .95em 0 0
}
.header-stripe #header .social-widget{
	float:right;
	padding-right:0;
	padding-left:12px
}
.header-stripe .search-button{
	float:right
}
.header-stripe.slide-cart #main-nav-wrap{
	position:static
}
.header-stripe #main-nav .has-mega-column > .sub-menu,
.header-stripe #main-nav .has-mega-sub-menu .mega-sub-menu{
	left:0;
	right:0
}
.header-stripe #main-nav-wrap{
	padding-left:1em
}
.header-stripe .cart-icon{
	margin-right:15px;
	float:right
}
.header-stripe.mobile_menu_active.slide-cart .cart-icon{
	margin:0;
	margin-left:.5em
}
.header-stripe.mobile_menu_active #main-nav-wrap{
	padding-left:0
}

/* header maganzine */
.header-magazine .header-bar{
	float:right
}
.header-magazine .header-widget{
	clear:left;
	box-sizing:border-box;
	max-width:80%
}
.header-magazine #main-nav-wrap{
	margin-left:auto;
	margin-right:0
}
.header-magazine #header .social-widget .social-links{
	padding:0
}
.header-magazine #main-nav > li:first-child > a{
	border-left:1px solid rgba(180,180,180,.2);
	padding-left:1em;
	padding-right:0
}
.header-magazine #main-nav li:not(.themify-widget-menu) > ul ul{
	left:auto;
	right:100%
}
.header-magazine #main-nav .has-mega-sub-menu .mega-sub-menu,
.header-magazine #main-nav .has-mega-column > .sub-menu,
.header-magazine #main-nav li.menu-item-object-tbuilder_layout_part > .sub-menu{
	right:0
}

/* header classic */
.header-classic .header-bar{
	float:right
}
.header-classic .header-widget{
	clear:left;
	float:left
}
.header-classic .fixed-header #main-nav,
.header-classic #main-nav{
	margin-right:0;
	margin-left:auto
}
.header-classic #main-nav > li:first-child > a{
	border-left:1px solid rgba(255,255,255,.2)
}
.header-classic #main-nav li:not(.themify-widget-menu) > ul ul{
	left:auto;
	right:100%
}

/* header bottom */
.header-bottom .header-bar,
.header-bottom .cart-icon,
.header-bottom #header .social-widget,
.header-bottom .search-button{
	float:right
}
.header-bottom #main-nav{
	float:left
}
.header-bottom .header-bar{
	padding:0
}
.header-bottom #site-logo,
.header-bottom #site-description{
	margin:5px 0 0 10px
}
.header-bottom #main-nav li:not(.themify-widget-menu) > ul ul{
	transform-origin:left
}
.header-bottom #pagewrap .back-top.back-top-float{
	right:auto;
	left:50%
}

/* header block */
.header-block .fixed-header .header-bar{
	float:right;
	padding-right:0;
	padding-left:2.25em
}

/* mobile menu */
.mobile_menu_active #headerwrap #main-nav .has-sub-menu a {
	padding-right:0;
	padding-left:40px;/* for arrow spacing */
}

/* mega menu */
#main-nav .has-mega-sub-menu .mega-sub-menu > ul a{
	padding-right:0;
	padding-left:1.4em
}
#main-nav .mega-menu-posts{
	padding:0 2em 0 0;
	float:right;
	right:auto;
	left:0
}
#main-nav .mega-menu-posts .post{
	float:right
}
#main-nav .mega-menu-posts .post:nth-of-type(5n+1){
	margin-right:0
}
#main-nav .mega-sub-menu li a:after{
	right:auto;
	left:22px;
	transform:rotateZ(-135deg)
}
#main-nav .themify_mega_menu_category_link,
#main-nav li.mega-link.loading:before{
	right:auto;
	left:40px
}
#main-nav .has-mega-sub-menu .mega-sub-menu > ul .mega-link:first-child > .mega-menu-posts{
	float:left
}
#main-nav .themify_mega_menu_category_link{
	position:static
}

/* Cart's product count badge */
.mobile_menu_active.slide-cart .cart-icon-link{
	margin:0;
	margin-left:.9em
}
.cart-wrap a span{
	margin:0;
	margin-right:-5px
}
.cart-wrap a{
	margin-left:0;
	margin-right:10px;
}

/* set header widgets to right align */
.header-horizontal .header-widget,
.boxed-compact .header-widget,
.header-top-bar .header-widget{
	text-align:right
}

/* header leftpane */
.header-leftpane #main-nav ul,
.header-minbar #main-nav ul{
	padding-left:0;
	padding-right:1em
}
.header-leftpane #headerwrap #main-nav > li > ul.sub-menu,
.header-leftpane #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.header-rightpane #headerwrap #main-nav > li > ul.sub-menu,
.header-rightpane #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu{
	padding:0 1em 0 0
}
.header-leftpane #headerwrap #main-nav > li li a,
.header-rightpane #headerwrap #main-nav > li li a{
	padding:0.5em 0 .5em 1.5em
}
#slide-cart.sidemenu-on{
	text-align:right
}
.mobile_menu_active .header-icons{
	right:auto;
	left:2%
}
.mobile_menu_active #headerwrap #menu-icon-close{
	right:auto;
	left:1em
}
.mobile_menu_active.slide-cart.header-stripe .cart-icon-link,
.mobile_menu_active.slide-cart.header-rightpane .cart-icon-link,
.mobile_menu_active.slide-cart.header-leftpane .cart-icon-link{
	margin-left:0;
	margin-right:.9em
}

/* header slide down */
.header-slide-down #headerwrap .header-icons{
	right:auto;
	left:2%
}
.header-slide-down .header-bar{
	margin-right:2%;
	margin-left:0
}
.header-slide-down #site-logo{
	margin-right:0;
	margin-left:10px
}

/************************************************************************************
POST
*************************************************************************************/
.loops-wrapper.list-post .post-date-wrap,
.single-post .post .post-date-wrap{
	margin:0
}
.single.single-split-layout #footerwrap,
.single.single-split-layout #layout{
	float:left
}
.related-posts .post-meta,
.related-posts .post-title{
	text-align:inherit
}
.loops-wrapper.overlay .post-image+.post-content .post-content-inner{
	left:auto
}
.single.single-fullwidth-layout .featured-area .post-image+.post-content .post-date:before{
	margin-right:0;
	margin-left:5px
}
.single.single-fullwidth-layout .featured-area .post-image+.post-content .post-date:after{
	margin-left:0;
	margin-right:20px
}
.single.single-fullwidth-layout .featured-area .post-image+.post-content .post-meta .post-comment{
	right:auto;
	left:46px
}
.single.single-fullwidth-layout .featured-area .post-image+.post-content .post-meta .post-comment a{
	padding-left:0;
	padding-right:30px
}
.single.single-fullwidth-layout .featured-area .post-image+.post-content .post-meta .post-comment a::before{
	left:auto;
	right:0;
	margin-left:10px;
	margin-right:0
}
.single.single-fullwidth-layout .featured-area .post-image+.post-content .post-author{
	left:auto;
	right:46px
}
.single.single-fullwidth-layout .featured-area .post-image+.post-content .post-author:before{
	margin-right:0;
	margin-left:10px
}
.single.single-fullwidth-layout .featured-area .post-image+.post-content .post-author a{
	display:inline-block
}

/* post grid layout */
.module_row .module_column .builder-posts-wrap.grid4 .post:nth-of-type(4n+1),
.module_row .module_column .builder-posts-wrap.grid3 .post:nth-of-type(3n+1),
.module_row .module_column .builder-posts-wrap.grid2 .post:nth-of-type(2n+1),
.module_row .module_column .builder-posts-wrap.grid2-thumb .post:nth-of-type(2n+1){
	margin-left:3.2%;
	clear:left
}

/* auto_tiles */
.woocommerce .loops-wrapper.auto_tiles:not(.masonry-done) > .product,
.loops-wrapper.auto_tiles:not(.masonry-done) > .post{
	margin-right:0 !important;
	margin-left:5px !important
}
.loops-wrapper.auto_tiles.tf_tiles_5 > .product:nth-of-type(5n+3),
.loops-wrapper.auto_tiles.tf_tiles_5 > .post:nth-of-type(5n+3),
.loops-wrapper.auto_tiles.tf_tiles_6 > .product:nth-of-type(6n+3),
.loops-wrapper.auto_tiles.tf_tiles_6 > .post:nth-of-type(6n+3),
.loops-wrapper.auto_tiles.tf_tiles_more > .product:nth-of-type(7n+3),
.loops-wrapper.auto_tiles.tf_tiles_more > .post:nth-of-type(7n+3){
	margin-right:auto;
	margin-left:0
}

.post-meta .post-comment a{
	display:inline-block
}
.post-meta .post-comment .tf_fa{
	margin-right:8px
}

/************************************************************************************
PORTFOLIO POST TYPE
*************************************************************************************/
.project-client{
	border-left:none;
	border-right:0
}

/************************************************************************************
POST NAVIGATION
*************************************************************************************/
.post-nav{
	display:flex
}
.post-nav .prev{
	padding-left:0;
	padding-right:2.5em
}
.post-nav .next{
	text-align:left;
	padding-right:0;
	padding-left:2.5em;
	margin-right:auto
}
.post-nav .arrow{
	left:auto;
	right:0
}
.post-nav .next .arrow{
	right:auto;
	left:0
}
.post-nav .prev .arrow:after,
.post-nav .prev .arrow:before{
	transform:rotateZ(135deg);
	left:auto;
	right:0
}
.post-nav .prev .arrow:after{
	right:10px
}
.post-nav .next .arrow:after,
.post-nav .next .arrow:before{
	transform:rotateZ(-135deg);
	right:auto;
	left:0
}
.post-nav .next .arrow:after{
	left:10px
}
/* post nav animation */
@keyframes arrow-prev{
	0%{right:0}
	50%{right:-10px}
	100%{right:0}
}
@keyframes arrow-next{
	0%{left:0}
	50%{left:-10px}
	100%{left:0}
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav{
	direction:ltr
}

/************************************************************************************
FOOTER
*************************************************************************************/
.footer-horizontal-right .back-top,
.footer-right-col .back-top,
.boxed-content.footer-horizontal-right .back-top,
.boxed-content.footer-right-col .back-top{
	left:auto;
	right:0
}
.footer-left-col #footer,
.footer-right-col #footer,
.footer-horizontal-left #footer,
.footer-horizontal-right #footer{
	text-align:right
}
.tf-subscribe-form img{
	padding-left:0;
	padding-right:64px
}
.footer-horizontal-left .footer-left-wrap.first,
.footer-horizontal-left .footer-right-wrap.first{
	margin-right:0;
	clear:right
}
.footer-horizontal-left .footer-left-wrap,
.footer-horizontal-left .footer-right-wrap{
	margin-left:0;
	margin-right:3.2%;
	float:right
}
.footer-horizontal-right #footer .footer-nav,
.footer-horizontal-left #footer .footer-nav{
	float:right
}
.footer-horizontal-right .footer-nav a,
.footer-horizontal-left .footer-nav a{
	margin:0 0 1em .8em
}
#footer .social-links li{
	margin:0
}
.footer-horizontal-left .back-top{
	left:auto;
	right:0
}

/* back to arrow */
#pagewrap .back-top.back-top-float{
	right:auto;
	left:20px
}

/************************************************************************************
WIDGET STYLES
*************************************************************************************/
/* feature-posts-list */
.footer-left-col .main-col.first{
	margin-left:auto;
	margin-right:0
}
.footer-left-col .main-col,
.footer-left-col .section-col{
	float:right
}
.footer-left-col .main-col,
.footer-left-col .section-col{
	margin-left:0;
	margin-right:3.2%
}
.widget .feature-posts-list .post-img{
	float:right;
	margin-left:1.2em;
	margin-right:0
}
.widget .feature-posts-list li{
	text-align:right;
}
.widget .feature-posts-list img{
	float:right;
	margin:0 0 .5em 1em
}
.footer-widgets .col4-1:before{
	right:-30px
}
.header-top-widgets .header-widget-full .fa-phone{
	margin-left:15px;
	margin-right:0
}

/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
.woocommerce .woocommerce-ordering select{
	padding-left:25px
}
.woocommerce .woocommerce-ordering:after{
	margin-right:-25px
}
.woocommerce div.product form.cart div.quantity,
.woocommerce div.product form.cart .button{
	float:right
}
.woocommerce div.product form.cart div.quantity{
	margin:0 0 0 4px
}

/* RELATED PRODUCTS */
.woocommerce.woocommerce-page .related ul.products .product{
	margin-right:3.2%;
	margin-left:0;
	clear:none
}
.woocommerce.woocommerce-page .related ul.products .product.first{
	margin-right:0;
	clear:both
}

/************************************************************************************
MOBILE MENU
*************************************************************************************/
.mobile_menu_active .sidemenu{
	text-align:right
}
.slide-cart-visible.sidemenu-right,
.slide-cart-visible.sidemenu-right .fixed-header,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-right,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-right .fixed-header{
	left:0
}
.mobile_menu_active #headerwrap #searchform .tf_fa{
	right:auto;
	left:0
}
.mobile_menu_active #headerwrap #main-nav li:not(.themify-widget-menu) > ul,
.mobile_menu_active #headerwrap #main-nav ul{
	padding:0;
	padding-right:1em
}
.mobile_menu_active #headerwrap .header-icons{
	right:auto;
	left:5%
}
.mobile_menu_active #headerwrap #menu-icon{
	margin-left:0;
	margin-right:5px
}
.mobile_menu_active.slide-cart .cart-icon-link{
	margin-left:0;
}
.mobile_menu_active #header .widget .social-links{
	padding-right:0
}
.mobile_menu_active .header-widget .col4-1,
.mobile_menu_active .header-widget .col4-2,
.mobile_menu_active .header-widget .col3-1{
	margin-right:0
}
.mobile_menu_active #headerwrap .search-button{
	margin-right:.5em
}
.mobile_menu_active.header-minbar #headerwrap .header-icons{
	left:auto;
	right:0;
	text-align:center
}
.mobile_menu_active.header-minbar #headerwrap #menu-icon{
	margin-right:0
}
.mobile_menu_active.header-minbar #headerwrap #site-logo{
	margin-right:0;
	margin-left:.5em
}
.mobile_menu_active.header-magazine #main-nav,
.mobile_menu_active.header-magazine #header .social-widget,
.mobile_menu_active.header-magazine .search-button{
	float:none;
	margin:0
}
.mobile_menu_active.header-bottom #main-nav{
	float:none
}
.mobile_menu_active.boxed-layout .fixed-header .header-bar{
	float:right
}
/* child-arrow */
.mobile_menu_active .menu-item .child-arrow,
.header-overlay .menu-item .child-arrow,
.header-slide-out .menu-item .child-arrow,
.header-minbar .menu-item .child-arrow,
.header-rightpane .menu-item .child-arrow,
.header-leftpane .menu-item .child-arrow{
	right:auto;
	left:0
}

/************************************************************************************
RESPONSIVE
*************************************************************************************/
.woocommerce ul.loops-wrapper.products > li.product:nth-of-type(n),
.mobile_menu_active.woocommerce.grid4 ul.products .product:nth-of-type(n),
.mobile_menu_active.woocommerce.grid3 ul.products .product:nth-of-type(n),
.mobile_menu_active.woocommerce.grid2 ul.products .product:nth-of-type(n),
.wpf-search-container ul.products.columns-4 .product:nth-of-type(n),
.wpf-search-container ul.products.columns-3 .product:nth-of-type(n),
.wpf-search-container ul.products.columns-2 .product:nth-of-type(n),
.woocommerce.grid4 ul.products .product:nth-of-type(n),
.woocommerce.grid3 ul.products .product:nth-of-type(n),
.woocommerce.grid2 ul.products .product:nth-of-type(n){
	float:right;
	margin-left:3.2%
}
.woocommerce ul.loops-wrapper.products.grid6 > li.product:nth-of-type(6n),
.woocommerce ul.loops-wrapper.products.grid5 > li.product:nth-of-type(5n),
.woocommerce ul.loops-wrapper.products.grid4 > li.product:nth-of-type(4n),
.woocommerce ul.loops-wrapper.products.grid3 > li.product:nth-of-type(3n),
.woocommerce ul.loops-wrapper.products.grid2 > li.product:nth-of-type(2n),
.mobile_menu_active.woocommerce.grid4 ul.products .product:nth-of-type(2n),
.mobile_menu_active.woocommerce.grid2 ul.products .product:nth-of-type(2n),
.wpf-search-container ul.products.columns-4 .product:nth-of-type(4n),
.wpf-search-container ul.products.columns-3 .product:nth-of-type(3n),
.wpf-search-container ul.products.columns-2 .product:nth-of-type(2n),
.woocommerce.grid4 ul.products .product:nth-of-type(4n),
.woocommerce.grid3 ul.products .product:nth-of-type(3n),
.woocommerce.grid2 ul.products .product:nth-of-type(2n),
.woocommerce.grid2-thumb ul.products .post:nth-of-type(2n){
	margin-left:0
}

@media screen and (min-width:681px){
	.loops-wrapper.grid6 .post:nth-of-type(n),
	.loops-wrapper.grid5 .post:nth-of-type(n),
	.loops-wrapper.grid4 .post:nth-of-type(n),
	.loops-wrapper.grid3 .post:nth-of-type(n),
	.loops-wrapper.grid2 .post:nth-of-type(n){
		float:right;
		margin-left:3.2%
	}
	.loops-wrapper.grid6 .post:nth-of-type(6n),
	.loops-wrapper.grid5 .post:nth-of-type(5n),
	.loops-wrapper.grid4 .post:nth-of-type(4n),
	.loops-wrapper.grid3 .post:nth-of-type(3n),
	.loops-wrapper.grid2 .post:nth-of-type(2n){
		margin-left:0
	}
	.loops-wrapper.no-gutter.grid6 .post:nth-of-type(n),
	.loops-wrapper.no-gutter.grid5 .post:nth-of-type(n),
	.loops-wrapper.no-gutter.grid4 .post:nth-of-type(n),
	.loops-wrapper.no-gutter.grid3 .post:nth-of-type(n),
	.loops-wrapper.no-gutter.grid2 .post:nth-of-type(n){
		margin:0
	}
}
@media screen and (min-width:768px){
	.mobile_menu_active.woocommerce.grid3 ul.products .product:nth-of-type(3n){
		margin-left:0
	}
}
@media screen and (min-width:900px){
	.woocommerce ul.loops-wrapper.products.grid6 > li.product:nth-of-type(6n + 1),
	.woocommerce ul.loops-wrapper.products.grid5 > li.product:nth-of-type(5n + 1),
	.woocommerce ul.loops-wrapper.products.grid4 > li.product:nth-of-type(4n + 1),
	.woocommerce ul.loops-wrapper.products.grid3 > li.product:nth-of-type(3n + 1),
	.woocommerce ul.loops-wrapper.products.grid2 > li.product:nth-of-type(2n + 1),
	.loops-wrapper.grid6 .post:nth-of-type(6n + 1),
	.loops-wrapper.grid5 .post:nth-of-type(5n + 1),
	.loops-wrapper.grid4 .post:nth-of-type(4n + 1),
	.loops-wrapper.grid3 .post:nth-of-type(3n + 1),
	.loops-wrapper.grid2 .post:nth-of-type(2n + 1){
		clear:right
	}
}
@media screen and (min-width:1001px){
	.header-slide-out #headerwrap #main-nav{
		text-align:right
	}
	.header-slide-out #headerwrap #main-nav ul{
		padding-left:0;
		padding-right:1em
	}
	.header-slide-out .header-bar{
		padding-right:1.5em
	}
}
@media screen and (max-width:1200px){
	.boxed-content #headerwrap #header{
		padding-top:7px;
		padding-right:1em
	}
	.header-leftpane .header-bar{
		padding:0
	}
	.header-minbar .header-bar{
		padding:0
	}
	.header-minbar #headerwrap #menu-icon{
		right:auto;
		left:16px
	}
	.header-minbar #headerwrap #site-logo{
		margin-right:0.25em
	}
	.header-minbar #mobile-menu{
		right:auto
	}
	.header-overlay .header-bar{
		padding:0
	}
	#headerwrap #main-nav{
		text-align:right
	}
	#headerwrap #main-nav ul{
		padding-left:0
	}
}
@media screen and (min-width:681px) and (max-width:900px){
	.woocommerce ul.loops-wrapper.products.grid6 > li.product:nth-of-type(3n),
	.loops-wrapper.grid6 .post:nth-of-type(3n){
		margin-left:0
	}
	.woocommerce ul.loops-wrapper.products.grid6 > li.product:nth-of-type(3n+1),
	.loops-wrapper.grid6 .post:nth-of-type(3n+1){
		clear:right
	}
}
@media screen and (max-width:900px){
	/* clear gallery item margin-left */
	.woocommerce ul.loops-wrapper.products.grid5 > li.product:nth-of-type(5n),
	.woocommerce ul.loops-wrapper.products.grid5 > li.product:nth-of-type(4n+1){
		margin-left:3.2%
	}
	.woocommerce ul.loops-wrapper.products.grid5 > li.product:nth-of-type(2n),
	.woocommerce ul.loops-wrapper.products.grid4 > li.product:nth-of-type(2n),
	.loops-wrapper.grid5 .post:nth-of-type(2n),
	.loops-wrapper.grid4 .post:nth-of-type(2n){
		margin-left:0
	}
	.loops-wrapper.grid5 .post:nth-of-type(4n+1){
		margin-left:3.2%
	}
	.mobile_menu_active.woocommerce.grid3 ul.products .product:nth-of-type(n),
	.mobile_menu_active.woocommerce.grid2 ul.products .product:nth-of-type(n){
		width:48%
	}
	.woocommerce ul.loops-wrapper.products.grid3 > li.product:nth-of-type(2n){
		margin-left:0
	}
    .woocommerce ul.loops-wrapper.products.grid3 > li.product:nth-of-type(2n + 1){
		clear:right;
		margin-left:3.2%
    }
}
@media screen and (max-width:760px){
	.mobile_menu_active.header-stripe #headerwrap .header-icons{
		right:auto;
		left:8%
	}
	.woocommerce.woocommerce-page .related ul.products .product{
		float:right
	}
	.woocommerce.woocommerce-page .related ul.products .product:nth-of-type(2n+1){
		margin-right:0;
		clear:both
	}
	.woocommerce.woocommerce-page .related ul.products .product:nth-of-type(2n){
		margin-right:3.2%
	}
}
@media screen and (max-width:680px){
	.col4-1,.col4-2,
	.col3-1{
		margin-right:0;
		width:100%;
		max-width:100%
	}
	.single.single-split-layout #footerwrap,
	.single.single-split-layout #layout{
		float:none
	}
	.boxed-compact #site-logo{
		margin-right:0
	}
	#commentform p.comment-form-author,
	#commentform p.comment-form-email{
		width:auto;
		float:none;
		padding:inherit
	}
	.commentlist .avatar{
		float:right
	}
	.footer-left-col .main-col,
	.footer-left-col .section-col{
		margin-right:0
	}
	/* Header Minbar */
	.header-minbar.no-fixed-header #pagewrap #headerwrap{
		right:-204px;
		left:auto
	}
	.header-minbar .body-overlay.body-overlay-on,
	body.slide-cart-visible.mobile_menu_active.sidemenu-right.header-minbar,
	body.slide-cart-visible.sidemenu-right.header-minbar,
	.header-minbar.sidemenu-left{
		right:296px
	}
	.header-minbar #slide-cart.sidemenu-on,
	.header-minbar.sidemenu-left #mobile-menu.sidemenu-on,
	.header-minbar.no-fixed-header.slide-cart-visible #pagewrap #headerwrap,
	.header-minbar.no-fixed-header.mobile-menu-visible #pagewrap #headerwrap{
		right:46px;
		left:auto
	}
	.header-minbar.slide-cart-visible #headerwrap,
	.header-minbar.mobile-menu-visible #headerwrap{
		right:0
	}
	.header-minbar.slide-cart-visible #pagewrap .header-bar,
	.header-minbar #headerwrap .header-icons,
	.header-minbar #pagewrap .header-bar{
		right:0;
		left:auto
	}
	.header-minbar #body,
	.header-minbar #footerwrap,
	.header-minbar.full_width #body{
		padding-right:46px
	}
	.header-minbar.full-section-scrolling #footerwrap{
		right:46px
	}
	.header-minbar.full-section-scrolling #footerwrap .back-top{
		top:-35px
	}
	.woocommerce ul.loops-wrapper.products.grid6 > li.product:nth-of-type(2n){
		margin-left:0
	}
}