.admin-bar #slide-cart,
.admin-bar.header-minbar .sidemenu,
.admin-bar .sidemenu,
.fixed-header-enabled.transparent-header #headerwrap,
.admin-bar.fixed-header-enabled #headerwrap,
.admin-bar.header-bottom #footerwrap{
	top:32px
}
.admin-bar.header-rightpane #headerwrap #menu-icon,
.admin-bar.header-leftpane #headerwrap #menu-icon,
.admin-bar.header-minbar #headerwrap .header-icons{
	top:52px
}
.admin-bar .fp-slidesNav.bottom{
	bottom:80px
}
.admin-bar.announcement-top.fixed-header-enabled #headerwrap{
	top:0;
}
/* Make turn on Builder link accessible */
.full-section-scrolling #content a.tb_turn_on{
	position:fixed;
	top:auto;
	right:auto;
	bottom:5px;
	left:0;
	z-index:1000;
	margin:0
}
.skin-construction #footerwrap a.tb_turn_on{
	color:#fff
}
.admin-bar.full-section-scrolling .fp-slidesNav.bottom{
	bottom:60px
}
@media screen and (max-width:782px){
	.admin-bar #slide-cart,
	.admin-bar.header-minbar .sidemenu,
	.admin-bar .sidemenu,
	.fixed-header-enabled.transparent-header #headerwrap,
	.admin-bar.fixed-header-enabled #headerwrap,
	.admin-bar.header-bottom #footerwrap{
		top:46px
	}
}
@media screen and (max-width:600px){
	.sidemenu-active{
		position:inherit
	}
	.boxed-content.sidemenu-active{
		position:relative;
	}
	.admin-bar.header-bottom #footerwrap,
	.admin-bar.boxed-content #slide-cart,
	.admin-bar.boxed-content .sidemenu,
	.admin-bar.header-minbar .sidemenu,
	.admin-bar .fixed-header #slide-cart,
	.admin-bar .fixed-header .sidemenu{
		top:0
	}
	.header-bottom .sidemenu{
		top:0;
		padding-top:calc(50px + 42px);
	}
	.header-bottom #menu-icon-close{
		top:calc(0.75em + 42px);
	}
}