/* general */
body{
	background-color:#1d1e1f;
	color:#bcbdc0
}
a,
#main-nav a:hover,
#main-nav ul a:hover,
#main-nav .current_page_item > a,
#main-nav .current-menu-item > a,
#main-nav ul .current_page_item > a,
#main-nav ul .current-menu-item > a,
.transparent-header #main-nav ul a:hover,
.transparent-header #main-nav .mega-menu-posts a:hover,
#main-nav .mega-menu-posts a:hover,
.post-title a:hover,
.post-nav a,
.post-nav .arrow{
	color:#2b9eff
}
a:hover,
.post-title a,
.post-nav a:hover,
.post-nav a:hover .arrow,
#headerwrap,
h1, h2, h3, h4, h5, h6{
	color:#fff
}

/* form input */
input[type=radio], input[type=checkbox], select, textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week]{
	background-color:#545761;
	border-color:#6c717d;
	color:#fff;
}
/* form input:focus */
select:focus,textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=search]:focus,input[type=email]:focus,input[type=url]:focus,input[type=number]:focus,input[type=tel]:focus,input[type=date]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus{
	border-color:#7b8190;
	color:#fff;
}
/* form button */
.cart-wrap a span,
input[type=reset],input[type=submit],button,
#slide-cart .button,
.woocommerce ul.products li.product .button,
.woocommerce a.button.disabled,
.woocommerce button.button.disabled,
.woocommerce button.button.alt.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
	background-color:#2b9eff;
	color:#fff
}
input[type=reset]:hover,input[type=submit]:hover,button:hover,
#slide-cart .button:hover,
.woocommerce ul.products li.product .button:hover,
.woocommerce a.button.alt.disabled:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover{
	background-color:#2f6a9c;
	color:#fff
}

/* semi-transparent bg elements */
.header-leftpane #menu-icon,
.header-rightpane #menu-icon,
#footer .back-top-float, #pagewrap .back-top-float,
.single .post-content .post-date,
.loops-wrapper.list-post .post-date {
	background-color:rgba(68,156,230,.9);
	color:#fff
}
.header-leftpane #menu-icon:hover,
.header-rightpane #menu-icon:hover,
#footer .back-top-float:hover, #pagewrap .back-top-float:hover {
	background-color:rgba(68,156,230,1);
	color:#fff
}

/* header & footer */
#headerwrap,
#footerwrap{
	background:#000;
	color:#acafb7;
}
#headerwrap a,
#footerwrap a {
	color:#fff;
}
#headerwrap a:hover,
#footerwrap a:hover {
    color:#2b9eff
}

.mobile-menu-visible #headerwrap,
.header-classic #headerwrap .navbar-wrapper,
.transparent-header #headerwrap.fixed-header,
#headerwrap.fixed-header{
	background-color:rgba(0,0,0,.8)
}
.header-overlay #main-nav li > .sub-menu,
.header-overlay #mobile-menu.sidemenu-on{
	background-color:transparent
}

.header-widget-full,
#tf_sticky_buy,
#slide-cart.sidemenu-on,
#mobile-menu.sidemenu-on,
#main-nav li > .sub-menu{
	background-color:#303031
}
#content #tf_sticky_buy div.product .product_title,
#tf_sticky_buy,
.woocommerce ul.products li.product a,
.woocommerce ul.products li.product .price,
#slide-cart.sidemenu-on,
#mobile-menu.sidemenu-on,
#main-nav ul a,
#main-nav .mega-menu-posts a,
#main-nav .mega-menu-posts span{
	color:#fff
}
#main-nav .has-mega-column{
	color:#bcbdc0
}
.header-stripe.mobile-menu-visible #headerwrap a:hover,
.header-rightpane #main-nav ul a:hover,
.header-rightpane #main-nav .mega-menu-posts a:hover,
.header-leftpane #main-nav ul a:hover,
.header-leftpane #main-nav .mega-menu-posts a:hover{
	color:#2b9eff
}

/* overlay search */
.tf_search_lightbox{
	background-color:#252a35;
	color:#bcbdc0;
}
.tf_search_tab li:hover a,
.tf_search_tab li.active a{
	box-shadow:inset 0 -3px 0 0 #2b9eff
}
.tf_search_tab .active a{
	color:#2b9eff
}
.tf_search_lightbox a:hover,
.tf_search_lightbox .tf_close_search,
.tf_search_lightbox #searchform{
	color:#fff
}

/* Header Layouts */
.header-minbar #main-nav li > .sub-menu,
.header-leftpane #main-nav li > .sub-menu,
.header-rightpane #main-nav li > .sub-menu{
	background-color:transparent
}
.transparent-header #headerwrap .themify-widget-menu {
	color:inherit
}
.header-stripe #header{
	background-color:#1d1e1f;	
}
.header-stripe #headerwrap,
.header-stripe #headerwrap a{
	color:#fff;
}
.header-stripe #headerwrap a:hover{
	color:#2b9eff
}

/* woocommerce */
.woocommerce .woocommerce-breadcrumb {
	color:#bcbdc0;
}
.woocommerce .woocommerce-breadcrumb a{
	color:#fff
}
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale{
	background:#000;
	color:#fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
	background-color:transparent;
	border-color:#2b9eff
}

.select2-container--default .select2-selection--single{
	background-color:#545761;
	color:#dedede
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	color:#bcbdc0
}
.select2-dropdown{
	border-color:#6c717d;
	background-color:#545761;
	color:#bcbdc0
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected]{
	background-color:#000;
	color:#dedede
}
.select2-container--default .select2-search--dropdown .select2-search__field{
	border-color:#dedede;
	color:#dedede
}
/* sticky sidebar enabled */
@media screen and (max-width:760px){
	.sticky_sidebar_enabled #pagewrap #sidebar{
		background-color:#484848;
		color:#dedede
	}
}

/* mobile menu active */
.mobile_menu_active #headerwrap #main-nav a:hover,
.mobile_menu_active #main-nav .current_page_item > a,
.mobile_menu_active #main-nav .current-menu-item > a{
	color:#2b9eff
}

/* body overlay */
.body-overlay{
	background-color:rgba(0,0,0,.7)
}