.footer-nav{
	margin:.5em 0 1em;
	padding:0
}
.footer-nav li{
	display:inline-block;
	padding:0;
	margin:0;
	list-style:none;
	position:relative
}
.footer-nav a{
	text-decoration:none;
	margin:0 1em .8em 0
}
.footer-horizontal-left .footer-nav a,
.footer-horizontal-right .footer-nav a,
.footer-left-col .footer-nav a,
.footer-right-col .footer-nav a{
	margin:0 .8em 1em 0;
	padding:0
}
.footer-nav li ul{
	background-color:#fff;
	box-shadow:0 0 0 1px rgba(0,0,0,.1), 0 3px 12px rgba(0,0,0,.12);
	border-radius:8px;
	margin:0;
	padding:.6em 0;
	position:absolute;
	z-index:99;
	bottom:100%;
	list-style:none;
	text-align:left;
	box-sizing:border-box;
}
#footerwrap .footer-nav ul a{
	display:block;
	width:238px;
	padding:.5em 1.25em .5em 1.6em;
	margin:0;
	box-sizing:border-box;
	color:#666
}
#footerwrap .footer-nav ul a:hover{
	color:var(--theme_accent)
}
.footer-nav li li ul{
	left:100%;
	bottom:-.65em
}
@media (hover:hover){
	.footer-nav li ul{
		opacity:0;
		visibility:hidden;
		transform: scale(1,0);
		transform-origin: bottom;
		transition:transform .2s ease-in-out,opacity .2s ease-in-out
	}
	.footer-nav li:hover > ul,
	/* tab keyboard menu nav */
	.footer-nav li > a:focus + .sub-menu,
	.footer-nav li > .sub-menu:focus-within{
		margin-bottom:0;
		opacity:1;
		visibility:visible;
		transform:none;
		pointer-events:auto
	}
}
@media (hover:none){
	.footer-nav li ul{
		display:none
	}
}
.footer-nav li:hover > a{
    color:var(--theme_accent)
}
/* Footer Edge Menu */
.footer-nav li.edge ul{
	left:auto;
	right:0
}
.footer-nav ul li.edge ul{
	right:100%
}
.footer-right-col #footerwrap .footer-nav ul li.edge ul{
	left:auto;
	right:100%
}
.footer-horizontal-left #footer .footer-nav,
.footer-horizontal-right #footer .footer-nav{
	float:left;
	margin-top:0
}
@media screen and (max-width:680px){
	#footerwrap .footer-nav ul a{
		width:160px
	}
}