.pagenav{
	padding-top:2em;
	padding-bottom:40px;
	text-align:center
}
.pagenav a,
.pagenav span{
	font-size:1.1em;
	display:inline-block;
	line-height:100%;
	margin:0 1px 0 0;
	min-height:36px;
	min-width:36px;
	padding:8px 9px;
	text-align:center;
	border-radius:100%;
	vertical-align:middle;
	text-decoration:none;
	box-sizing:border-box;
}
.pagenav a:hover{
	text-decoration:underline
}
.pagenav .current{
	background-color:#272727;
	color:#fff;
	border:none;
}
/* prev/next arrow */
.pagenav .prevp,.pagenav .nextp,
.pagenav .firstp,.pagenav .lastp{
	position:relative;
	text-indent:-999em;
	margin-right:5px;
}
.pagenav .prevp:before,.pagenav .nextp:before,
.pagenav .firstp:before,.pagenav .firstp:after,
.pagenav .lastp:before,.pagenav .lastp:after{
	content:"";
	display:inline-block;
	border:1px solid transparent;
	border-top-color:inherit;
	position:absolute;
	top:35%;
	width:.5em;
	height:.5em;
	text-indent:0
}
.pagenav .prevp:before,.pagenav .firstp:before,.pagenav .firstp:after{
	left:50%;
	border-left-color:inherit;
	transform:rotateZ(-45deg)
}
.pagenav .firstp:after{
	left:35%
}
.pagenav .nextp:before,.pagenav .lastp:before,.pagenav .lastp:after{
	right:50%;
	border-right-color:inherit;
	transform:rotateZ(45deg)
}
.pagenav .nextp:before{
	right:40%;
}
.pagenav .lastp:after{
	right:35%
}
@media screen and (max-width:680px){
	.pagenav{
        font-size:1em;
	}
}