.related-posts{
	border-top:1px solid rgba(0,0,0,.05);
	margin:0 0 1.6em
}
.related-posts .post{
	width:32%;
	float:left;
	margin:0 0 3% 2%;
	clear:none
}
.related-posts .post:nth-of-type(3n+1){
	margin-left:0;
	clear:left
}
.related-posts .related-title{
	margin:0 0 1.5em;
	padding:1em 0 0;
	font-size:1.1em;
	text-transform:uppercase;
	letter-spacing:.05em;
	font-weight:600
}
.related-posts .post-image{
	margin:0 0 .8em 0;
	min-width:0
}
.related-posts .post-meta{
	margin:0 0 .5em;
	font-size:.7em;
	text-align:left;
	text-transform:uppercase;
	font-weight:400;
	letter-spacing:.05em
}
.related-posts .post-meta .post-category:after{
	display:none
}
.related-posts .post-content{
	overflow:hidden
}
.related-posts .post-title{
	font-size:1.2em;
	margin:0 0 1em;
	line-height:normal;
	font-weight:600;
	text-align:left
}
.full_width .related-posts{
	max-width:1160px;
	margin:0 auto 4em
}
@media screen and (max-width:1260px){
    .full_width .related-posts{
        max-width:96%
    }
}
@media screen and (max-width:760px){
    body.full_width .related-posts{
        max-width:90%
    }
}
@media screen and (max-width:680px){
	.related-posts .post{
		width:auto;
		float:none;
		margin:0 0 3%
	}
	.related-posts .post img{
		width:100%
	}
}