#site-logo{
	margin:.5em auto;
	padding:0;
	line-height:1.2em;
	font-size:1.7em;
	font-weight:700;
	font-style:normal;
	letter-spacing:-.04em;
	transition:color .2s ease-in-out,margin .2s ease-in-out,padding .2s ease-in-out,font-size .2s ease-in-out
}
#site-logo a{
	text-decoration:none;
	color:inherit
}
#site-logo a:hover{
	text-decoration:none
}
.header-block .fixed-header #site-logo{
	margin:5px 0 0
}
body:not(.fixed-header-on) #site-logo .tf_sticky_logo,
.fixed-header #site-logo .tf_sticky_logo + img{
	display:none
}