/* general bg & color */
:root{
	--ultra_color_blue:#2287ef
}
a, .post-nav .arrow{
	color:var(--ultra_color_blue)
}
a:hover{
	color:#000
}
.post-nav a:hover span{
	color:inherit
}
.post-title a{
	color:#000
}
.post-title a:hover{
	color:var(--ultra_color_blue)
}
input[type=reset],
input[type=submit],
button,
#respond #cancel-comment-reply-link,
.commentlist .comment-reply-link{
	background-color:var(--ultra_color_blue);
	color:#fff;
	border:none
}
input[type=reset]:hover,
input[type=submit]:hover,
button:hover,
.commentlist .comment-reply-link:hover,
#respond #cancel-comment-reply-link:hover{
	background-color:#000;
	color:#fff
}
#main-nav .has-mega-column {
	color:#666;
}
.header-minbar #main-nav .has-mega-column,
.header-slide-out #main-nav .has-mega-column,
.header-leftpane #main-nav .has-mega-column,
.header-rightpane #main-nav .has-mega-column,
.mobile-menu-visible #main-nav .has-mega-column {
	color:rgba(255,255,255,.8)
}
.boxed-content,
#slide-cart,
.header-minbar .sidemenu,
.header-slide-out .sidemenu,
.mobile_menu_active .sidemenu,
#headerwrap,
#footerwrap{
	background-color:var(--ultra_color_blue);
	color:rgba(255,255,255,.8)
}
.header-stripe.mobile-menu-visible #headerwrap a,
.header-rightpane #main-nav ul a,
.header-rightpane #main-nav .mega-menu-posts a,
.header-leftpane #main-nav ul a,
.header-leftpane #main-nav .mega-menu-posts a,
.mobile-menu-visible #headerwrap #main-nav a,
.mobile-menu-visible #header .social-widget a,
#slide-cart .product-title a,
#headerwrap a,
#footerwrap a{
	color:#fff
}
#main-nav ul .current_page_item > a,
#main-nav ul .current-menu-item > a,
.transparent-header #main-nav ul a:hover,
.transparent-header #main-nav .mega-menu-posts a:hover,
#main-nav ul a:hover,
#main-nav .mega-menu-posts a:hover{
	color:var(--ultra_color_blue)
}
#main-nav .current_page_item > a,
#main-nav .current-menu-item > a,
#headerwrap a:hover,
#footerwrap a:hover,
#slide-cart a:hover,
.header-stripe.mobile-menu-visible #headerwrap a:hover,
.header-rightpane #main-nav ul a:hover,
.header-rightpane #main-nav .mega-menu-posts a:hover,
.header-leftpane #main-nav ul a:hover,
.header-leftpane #main-nav .mega-menu-posts a:hover,
.mobile_menu_active #headerwrap a:hover,
.mobile-menu-visible #headerwrap a:hover,
.mobile-menu-visible #headerwrap #main-nav a:hover,
.mobile-menu-visible #headerwrap #main-nav ul a:hover{
	color:#ffe502
}
#headerwrap h1,
#headerwrap h2,
#headerwrap h3,
#headerwrap h4,
#headerwrap h5,
#headerwrap h6,
#footerwrap h1,
#footerwrap h2,
#footerwrap h3,
#footerwrap h4,
#footerwrap h5,
#footerwrap h6{
	color:inherit
}

/* full section scroll loader */
.theme-color-blue .section_loader{
	background-color:var(--ultra_color_blue)
}

/* header classic */
body:not(.mobile_menu_active).header-classic #headerwrap{
	background-color:transparent;
	color:inherit
}
.header-classic:not(.mobile_menu_active) #site-logo a{
	color:inherit
}
body:not(.mobile_menu_active).header-classic #headerwrap .navbar-wrapper{
	background-color:var(--ultra_color_blue)
}

/* header stripe */
.header-stripe #headerwrap,
.header-stripe #headerwrap.fixed-header{
	background-color:transparent;
	color:#000;
}
.header-stripe #headerwrap a{
	color:#000
}
.header-stripe #headerwrap a:hover{
    color:var(--ultra_color_blue)	
}
.header-stripe #site-logo{
	background-color:var(--ultra_color_blue);
	color:#fff;
}
.header-stripe #site-logo a,
.header-stripe #site-logo a:hover{
	color:#fff
}

/* semi-transparent element */
.transparent-header #headerwrap.fixed-header,
#headerwrap.fixed-header,
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale,
.single .post-content .post-date,
.loops-wrapper.list-post .post-date,
.mobile-menu-visible.header-overlay #headerwrap,
#pagewrap .back-top-float{
	background-color:rgba(33,148,239,.9);
	color:#fff
}

/* left/right pane menu icon */
.mobile_menu_active.header-leftpane #pagewrap #headerwrap #menu-icon,
.mobile_menu_active.header-rightpane #pagewrap #headerwrap #menu-icon{
	background-color:var(--ultra_color_blue);
	color:#fff
}

/* sidebar toggle & footer tab */
.sticky_sidebar_enabled #toggle-mobile-sidebar-button,
.header-bottom #pagewrap .back-top-float,
.footer-tab,
.full-section-scrolling #footerwrap .back-top .arrow-up a,
.footer-horizontal-left #footerwrap .back-top .arrow-up a,
.footer-horizontal-right #footerwrap .back-top .arrow-up a,
.footer-left-col #footerwrap .back-top .arrow-up a,
.footer-right-col #footerwrap .back-top .arrow-up a{
	background-color:var(--ultra_color_blue);
	color:#fff
}
.header-bottom #pagewrap .back-top-float:hover,
.footer-tab:hover,
.full-section-scrolling #footerwrap .back-top .arrow-up:hover a,
.footer-horizontal-left #footerwrap .back-top .arrow-up:hover a,
.footer-horizontal-right #footerwrap .back-top .arrow-up:hover a,
.footer-left-col #footerwrap .back-top .arrow-up:hover a,
.footer-right-col #footerwrap .back-top .arrow-up:hover a{
	background-color:#000;
	color:#fff
}

/* Flip Post Layout */
.loops-wrapper.flip .post-image + .post-content{
	background-color:var(--ultra_color_blue);
	color:rgba(255,255,255,.8)
}
.loops-wrapper.flip .post-image + .post-content a{
	color:#fff
}
.loops-wrapper.flip .post-image + .post-content a:hover{
	color:#ffe61d
}

/* WOOCOMMERCE
================================================ */
/* button */
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce ul.products li.product .button{
	background-color:var(--ultra_color_blue);
	color:#fff
}
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce ul.products li.product .button:hover{
	background-color:#000;
	color:#fff
}
#slide-cart .button{
	background-color:#000;
}