.ui.module.transparent.panel .tab-nav,
.ui.module.transparent .tab-content{
    background:none;
    border:none;
    box-shadow:none
}
.ui .tab-content a,
.ui.module.transparent .tab-content{
    color:inherit
}
.ui.module.transparent .tab-nav > li{
    border:none;
    background-color:transparent;
    border-bottom:2px solid transparent
}
.ui.module.transparent ul.tab-nav li.current{
    padding:0;
    background-color:transparent;
    border-bottom-color:inherit
}
.ui.module.transparent li.current .tab-content{
    box-shadow:none
}
.ui.module.transparent ul.tab-nav li,
.ui.module.transparent ul.tab-nav li a:before{
    box-shadow:none; 
    border-radius:0;
    background-image:none
}
.ui.module.transparent.panel .tab-nav:before{
    background:rgba(0,0,0,0)
}
.ui.module.transparent .tab-nav li a{
    color:#441e32
}