/*
Skin Name:Ultra Foundation
Version:1.0
Demo URI:https://themify.me/demo/themes/ultra-foundation/
Required Plugins:
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#00b964;
	--theme_accent_semi:rgba(0,185,100,.8);
}
body{
	color:#808080;
	font:1.063em/1.55em 'Lato',Arial,sans-serif
}

/* FORMS
================================================ */
textarea,input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=time],input[type=week]{
	border:none;
	border-bottom:1px solid;
	border-radius:0;
	border-color:rgba(0,0,0,.15);
	box-shadow:0px 0px 0px 0px rgba(0,0,0,.15);
	transition:border .3s linear,box-shadow .3s linear
}
/* form input:focus */
textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=search]:focus,input[type=email]:focus,input[type=url]:focus,input[type=number]:focus,input[type=tel]:focus,input[type=date]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus{
	border-color:var(--theme_accent)
}

/* form button */
input[type=reset],input[type=submit],button[type=submit]{
	font-weight:normal;
	padding:.85em 1.2em;
	letter-spacing:0;
	text-transform:none;
	box-shadow:0px 2px 12px 0px rgba(0,0,0,.15)
}
/* form input:hover */
input[type=reset]:hover,input[type=submit]:hover,button[type=submit]:hover{
	box-shadow:0px 2px 24px 0px rgba(0,0,0,.15);
	background-color:#37373a;
	color:#fff
}
#commentform p{
	margin:0 0 .35em
}
#commentform p label{
	transform:translate(0, 35px);
	text-transform:none;
	display:inline-block
}
#commentform textarea{
	min-height:auto;
	height:120px
}
#review_form p label{
	transform:none
}

/* HEADINGS
================================================ */
h1,h2,h3,h4,h5,h6{
	font-family:'Lato',Arial,sans-serif;
	font-weight:bold
}
h1{
	font-size:2.2em;
	letter-spacing:normal;
	margin:0 0 .15em
}
h2{
	font-size:2em;
	letter-spacing:.025em;
	margin:0 0 .55em
}
h3{
	font-size:1.4em;
	letter-spacing:.01em;
	margin:0 0 .45em
}
h4{
	font-size:1.2em;
	letter-spacing:.06em;
	text-transform:none;
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap{
	border:none
}
#headerwrap.fixed-header{
	box-shadow:0px 2px 12px 0px rgba(0,0,0,.15)
}

/* SITE LOGO
================================================ */
#site-logo{
	font-size:1.25em;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.1em
}

/* MAIN NAVIGATION
================================================ */
#main-nav a{
	padding:.3em 0;
	margin:0 1.05em
}
#main-nav .highlight-link > a{
	border:none;
	background-color:var(--theme_accent);
	color:#fff;
	padding:.45em 2.45em;
	box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
}
#main-nav > li > a{
	border-bottom:2px solid transparent
}
#main-nav > li > a:hover,
#main-nav > li.current_page_item > a,
#main-nav > li.current-menu-item > a,
#main-nav a:hover{
	border-color:var(--theme_accent)
}
#main-nav .highlight-link > a:hover,
#main-nav .highlight-link.current_page_item > a,
#main-nav .highlight-link.current-menu-item > a{
	color:#fff
}
.transparent-header #main-nav > li > a:hover{
	color:#fff
}
#main-nav a,
#main-nav .has-mega-column .widgettitle,
#main-nav .has-mega-column > .sub-menu > .columns-sub-item > a{
	font-size:.95em
}

/* mega menu */
#main-nav .mega-menu-posts .post,
#main-nav .mega-menu-posts .post-title{
	text-align:left
}

/* CART ICON
================================================ */
.cart-wrap a span{
	position:static;
	margin:0 0 -3px -12px;
	box-sizing:border-box;
	padding:3px 5px
}

/* SEARCH LIGHTBOX
================================================ */
.search-option-tab li:hover a,
.search-option-tab li.active a{
	box-shadow:inset 0 -3px 0 0 var(--theme_accent)
}
.search-results-wrap .view-all-button{
	color:var(--theme_accent)
}
.view-all-button:after{
	border-color:var(--theme_accent)
}

/* HEADER HORIZONTAL
================================================ */
.header-horizontal #site-logo{
	margin-top:.5em
}

/* HEADER LEFTPANE/RIGHTPANE/MINBAR
================================================ */
.header-leftpane #main-nav .highlight-link,
.header-rightpane #main-nav .highlight-link,
.header-minbar #main-nav .highlight-link{
	margin-top:.5em;
	margin-left:0;
	display:inline-block
}
.header-leftpane #main-nav .highlight-link > a,
.header-rightpane #main-nav .highlight-link > a,
.header-minbar #main-nav .highlight-link > a{
	width:auto
}

/* HEADER HORIZONTAL
================================================ */
.header-stripe #site-logo{
	background-color:var(--theme_accent)
}

/* HEADER CLASSIC
================================================ */
.header-classic #main-nav .highlight-link{
	margin-top:10px;
	margin-bottom:10px
}

/* HEADER MAGAZINE
================================================ */
.header-magazine .header-widget{
	margin-top:0
}

/************************************************************************************
POST
*************************************************************************************/
.default .post{
	border-radius:8px;
	box-shadow:0 3px 12px rgba(0,0,0,.12)
}

/* PAGINATION */
.pagenav{
	margin-top:70px
}
.pagenav a,
.pagenav span{
	border-radius:8px;
	color:#808080;
	padding:20px 24px
}
.pagenav .current{
	background-color:var(--theme_accent);
	color:#fff
}
.pagenav a:hover{
	text-decoration:none;
	background-color:var(--theme_accent);
	color:#fff
}

/************************************************************************************
PORTFOLIO
*************************************************************************************/
.project-date,.project-client,.project-services,.project-view{
	color:var(--theme_accent);
}

/************************************************************************************
WIDGETS
*************************************************************************************/
.widgettitle{
	letter-spacing:.06em
}
.widget .feature-posts-list .post-img {
	border-radius:8px
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	background-color:#37373a;
	border:none;
	color:#b9bdc3
}
#footer a{
	color:var(--theme_accent)
}
#footer a:hover{
	color:#fff
}
#footerwrap a.tb_turn_on{
	color:#fff
}

/* FOOTER LOGO
================================================ */
#footer-logo{
	font-size:1.55em;
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:.11em;
	margin:0 0 .55em
}
#footer-logo a{
	color:#fff
}

/* FOOTER WIDGETS
================================================ */
.footer-widgets .widgettitle{
	color:#fff
}
.footer-widgets{
	margin-bottom:2em;
	display:flex;
}
.footer-widgets > .tf_float{
	border-left:1px solid rgba(255,255,255,.3);
	padding-left:30px;
}

/* FOOTER MENU
================================================ */
.footer-nav a{
	display:inline-block
}
.footer-nav .highlight-link{
	margin-left:.7em
}
.footer-nav .highlight-link > a{
	border:none;
	border-radius:30px;
	padding:.45em 2.45em
}
#footer .footer-nav .highlight-link > a{
	background-color:var(--theme_accent);
	color:#fff
}
#footer .footer-nav .highlight-link > a:hover{
	background-color:#000;
	color:#fff
}

/* FOOTER TEXT
================================================ */
.section-col + .footer-text,
.section-col + .footer-text{
	border-top:1px solid rgba(255,255,255,.2);
	padding-top:2.4em;
}

/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* BUTTON
================================================ */
#slide-cart .button,.woocommerce ul.products li.product .button,.woocommerce a.button.disabled,.woocommerce button.button.disabled,
.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled],.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt{
	border-radius:30px;
	background-color:#000;
	color:#fff;
	font-size:.9em;
	font-weight:normal;
	padding:.9em 1.95em 1em;
	letter-spacing:.005em;
	text-transform:none
}
#slide-cart .button:hover,.woocommerce ul.products li.product .button:hover,.woocommerce a.button.alt.disabled:hover,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover{
	background-color:var(--theme_accent);
	color:#fff
}
.woocommerce ul.products li.product .button{
	font-size:.75em;
	padding:.85em 1.95em;
}

/* SINGLE PRODUCTS
================================================ */
/* price */
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price{
	font-style:normal
}

/* quantity */
.woocommerce .quantity .qty{
	padding:.6em
}

/* CHECKOUT
================================================ */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height:49px;
	border-color:#ddd
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:49px
}
.select2-results__option{
	margin:0
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true]{
	background-color:var(--theme_accent);
	color:#fff
}

/************************************************************************************
BUILDER STYLING
*************************************************************************************/
/* SLIDER MODULE
================================================ */
.themify_builder_slider_wrap .carousel-pager a,
.themify_builder_slider_wrap .carousel-pager a:hover,
.themify_builder_slider_wrap .carousel-pager a.selected{
	border-width:9px;
	margin:0 7px
}
.themify_builder_slider_wrap .carousel-pager a:hover,
.themify_builder_slider_wrap .carousel-pager a.selected{
	color:var(--theme_accent)
}
/* arrows */
.themify_builder_slider_wrap .carousel-prev:before,
.themify_builder_slider_wrap .carousel-next:before{
	position:absolute;
	top:50%;
	margin-top:-6px
}
.themify_builder_slider_wrap .carousel-prev:before{
	left:0
}
.themify_builder_slider_wrap .carousel-next:before{
	right:0
}
.themify_builder_slider_wrap .carousel-prev:after,
.themify_builder_slider_wrap .carousel-next:after{
	content:"";
	display:inline-block;
	width:77px;
	height:2px;
	border-bottom:2px solid;
	position:absolute;
	top:50%;
	margin-top:-1px
}
.themify_builder_slider_wrap .carousel-prev:after{
	left:7px
}
.themify_builder_slider_wrap .carousel-next:after{
	right:7px
}
.themify_builder_slider_wrap .carousel-prev,
.themify_builder_slider_wrap .carousel-next{
	position:relative;
	width:88px
}
.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-prev,
.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-next{
	background-color:transparent;
	color:#000;
	overflow:visible;
	width:88px !important
}
.testimonial-author .person-name{
	font-size:1.4em;
	margin:0 0 .2em
}
.testimonial-author .person-position{
	text-transform:uppercase
}
.module-testimonial-slider .testimonial-image img{
	border-radius:0;
	box-shadow:7px 7px 0px 0px rgba(0,0,0,.15)
}

/* BUTTON MODULE
================================================ */
.ui.builder_button{
	border:none;
	box-shadow:0px 2px 12px 0px rgba(0,0,0,.15);
	font-size:.95em;
	font-weight:bold;
	padding:.9em 1.95em 1em
}
.builder_button{
	background-color:#fff
}
.ui.builder_button:hover{
	box-shadow:0px 4px 24px 0px rgba(0,0,0,.15)
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width:768px){
	h1{
		font-size:2.5em
	}
	h2{
		font-size:2em
	}
	h3{
		font-size:1.8em
	}
}
@media screen and (max-width:680px){
	.footer-widgets{
		display:block;
	}
	.footer-widgets > .tf_float{
		border:none;
		padding-left:0;
	}
}