/*
Skin Name:Ultra Coffee
Version:1.0
Demo URI:https://themify.me/demo/themes/ultra-coffee/
Required Plugins:builder-contact, builder-maps-pro, woocommerce, builder-woocommerce
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#c59d5f;
	--theme_accent_semi:rgba(197,157,95,.8);
}
body{
	font-family:'Poppins',Arial,sans-serif;
	color:#363636
}
.post-title a:hover,
.post-nav a:hover .arrow{
	color:#000
}

/* reset general border-radius */
input[type=reset],input[type=submit],button,select,textarea,input[type=checkbox],input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=time],input[type=week],.woocommerce ul.products li.product .button,.woocommerce a.button,.woocommerce #respond input#submit,.woocommerce #respond input#submit.alt,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce button.button.alt,.woocommerce button.button,.woocommerce a.button,.woocommerce a.button.alt,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.loops-wrapper.polaroid .post,.loops-wrapper.overlay .post,.loops-wrapper.auto_tiles > .product,.loops-wrapper.auto_tiles .post-image + .post-content,.loops-wrapper.auto_tiles > .post,.post-image img,.product img, ul.products li.product .post-image,#cart-wrap .product-image img,.woocommerce div.product div.images img,.woocommerce-product-gallery__wrapper .tf_swiper-container-initialized,#add_payment_method table.cart img,.woocommerce-cart table.cart img,.woocommerce-checkout table.cart img,.select2-dropdown,.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow,#slide-cart .button,#slide-cart .product-image img,.woocommerce-cart #content table.cart td.actions .coupon .input-text,.woocommerce span.onsale,.woocommerce ul.products li.product .onsale,.woocommerce table.shop_table,.woocommerce-checkout #payment,#add_payment_method #payment ul.payment_methods li,.woocommerce-cart #payment ul.payment_methods li,.woocommerce-checkout #payment ul.payment_methods li,.woocommerce-error, .woocommerce-info, .woocommerce-message,.woocommerce-page .cart-collaterals .cart_totals,body:not(.footer-block) #footer .back-top a,#main-nav .highlight-link > a,.pagenav a,.pagenav span,.pagenav .current,a.load-more-button,.more-link,.widget .feature-posts-list .post-img{
	border-radius:0
}

/* HEADINGS
================================================ */
h1, h2, h3, h4, h5, h6{
	font-family:'Playfair Display', serif
}

.module-fancy-heading .main-head{
	color:var(--theme_accent);
	font-size:1.625em;
	line-height:1;
	letter-spacing:.005em
}
.module-fancy-heading .sub-head{
	font-family:'Poppins',Arial,sans-serif;
	font-weight:300;
	font-size:.98em;
	letter-spacing:-.005em;
	padding-top:.7em
}
.module-fancy-heading .sub-head:before{
	display:none
}

/* FORM
================================================ */
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week]{
	border-color:#ddd;
	font-weight:600;
	text-transform:none;
	background-color:#fff;
	max-width:none
}
/* form button */
input[type=reset], input[type=submit], button{
	font-weight:600;
	text-transform:none;
	padding:1.1em 2.4em
}
input[type=reset]:hover, input[type=submit]:hover, button:hover{
	background-color:#363636;
	color:#fff
}
#commentform label,
label{
	color:#363636;
	font-size:1em;
	font-weight:300;
	text-transform:none
}

/************************************************************************************
HEADER
*************************************************************************************/
.transparent-header #headerwrap.fixed-header,
#headerwrap.fixed-header{
	background-color:rgba(255,255,255,.9);
	color:#000
}

/* SITE LOGO
================================================ */
#site-logo{
	font-size:2.2em;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:.1em
}
#site-logo a{
	color:var(--theme_accent)
}

/* MAIN NAVIGATION
================================================ */
#main-nav a{
	font-weight:600;
	letter-spacing:.03em;
	margin:0 .22em
}
#main-nav ul a{
	letter-spacing:0
}
#main-nav .mega-menu-posts .post{
	border:none
}
#main-nav .mega-menu-posts .post-title{
	text-align:left
}

/* CART ICON
================================================ */
.cart-wrap a span{
	vertical-align:top;
	font-weight:300;
	position:static;
	margin:0 0 -3px -12px
}

/* HEADER HORIZONTAL
================================================ */
.search-button {
	order:1;
	margin-left:.5em
}
.cart-icon, #header .social-widget {
	order:2;
	margin-left:.5em
}

/* HEADER BOXED COMPACT
================================================ */
.boxed-compact #site-logo{
	margin-top:6px
}
.boxed-compact.slide-cart #searchform-wrap{
	margin-top:-4px
}

/* HEADER STRIPE
================================================ */
.header-stripe #site-logo{
	padding:.5em;
	background-color:var(--theme_accent)
}
.header-stripe #site-logo a{
	color:inherit
}
.header-stripe #header .cart-icon,
.header-stripe #header .social-widget{
	padding-top:12px
}
.header-stripe #header .search-button,
.header-stripe.slide-cart #main-nav-wrap{
	padding-top:15px
}
.header-stripe #header #searchform-wrap{
	margin-top:1.7em
}
.header-stripe .header-bar{
	position:relative
}
.header-stripe #site-description{
	position:absolute;
	top:50%;
	left:100%;
	transform:translateY(-50%);
	background-color:#363636;
	box-sizing:border-box;
	padding:.5em;
	color:#fff;
	text-align:center;
	min-width:180px;
	max-width:200px;
	margin:0;
	margin-left:5px;
	visibility:hidden;
	transition:margin .3s,visibility .3s,opacity .3s
}
.header-stripe #site-description:before{
	content:"";
	background-color:inherit;
	width:10px;
	height:10px;
	margin-right:-10px;
	position:absolute;
	top:50%;
	right:100%;
	transform:translate(-50%,-50%) rotateZ(45deg)
}
.header-stripe .header-bar:hover #site-description{
	margin-left:0;
	visibility:visible;
	opacity:1
}

/* HEADER CLASSIC
================================================ */
.header-classic .navbar-wrapper{
	background-color:var(--theme_accent)
}

/* HEADER OVERLAY
================================================ */
.header-overlay.transparent-header .fixed-header,
.header-overlay.mobile-menu-visible #headerwrap{
	background-color:rgba(255, 255, 255, .9);
	color:#000
}
.header-overlay.transparent-header .fixed-header .header-icons a,
.header-overlay.mobile-menu-visible .header-icons a,
.header-overlay.mobile-menu-visible #header,
.header-overlay.mobile-menu-visible #header a,
.header-overlay.mobile-menu-visible .sidemenu{
	color:#000
}
.header-overlay.transparent-header .fixed-header .header-icons a:hover,
.header-overlay.mobile-menu-visible .header-icons a:hover,
.header-overlay.mobile-menu-visible #header a:hover{
	color:var(--theme_accent)
}
/* HEADER TOP BAR
================================================ */
.header-top-bar .search-button{
	margin-left:0
}

/* HEADER LEFTPANE/RIGHTPANE/MINBAR
================================================ */
.header-slide-out .search-button,
.header-slide-out .cart-icon,
.header-slide-out #header .social-widget,
.header-minbar .search-button,
.header-minbar .cart-icon,
.header-minbar #header .social-widget,
.header-rightpane .search-button,
.header-rightpane .cart-icon,
.header-rightpane #header .social-widget,
.header-leftpane .search-button,
.header-leftpane .cart-icon,
.header-leftpane #header .social-widget {
	margin-left:0
}

/************************************************************************************
POST
*************************************************************************************/
/* post date */
.list-post .post{
	border-bottom:1px solid rgba(0,0,0,.2);
	padding-bottom:1.7em;
	margin-bottom:4em
}
.list-post .entry-content{
	text-align:left
}
body:not(.single) .list-post .post-image{
	margin-bottom:2.75em
}
body:not(.single) .list-post .post-meta:after{
	content:"";
	border-top:0;
	background:url('images/blog-divider.png') no-repeat center bottom;
	width:100%;
	height:20px;
	margin:.9em auto 3.56em;
	display:block
}
.post-title{
	font-size:3.75em;
	line-height:1em;
	margin:0 0 .31em;
	letter-spacing:0
}
.post-meta{
	font-size:1.125em
}
.post-meta a{
	color:#363636;
	line-height:2.667em;
	font-weight:700;
	text-transform:capitalize
}
.post-meta .post-category,
.post-meta .post-tag,
.post-meta .post-author,
.post-meta .post-comment a,
.post-meta span{
	margin-right:.05em
}
.post-meta .post-author:after,
.post-meta .post-category:after,
.post-meta .post-tag:after{
	opacity:1;
	border-left-width:2px;
	margin:0 .25em 0 .5em;
	height:1.17em;
	transform:skewX(-13deg)
}
.post-meta .post-category:after{
	height:1.09em
}

/* RELATED POSTS
================================================ */
.list-post .related-posts .post{
	border:none
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav{
	margin-top:2.6em
}
.pagenav a{
	padding:0;
	color:#363636;
	margin:0 13px;
	min-width:40px;
	min-height:40px;
	box-sizing:border-box;
	line-height:40px
}
.pagenav a:hover,
.pagenav .current{
	border:none;
	background-color:var(--theme_accent);
	color:#fff;
	padding:0;
	min-width:40px;
	min-height:40px;
	margin-top:0;
	box-sizing:border-box;
	line-height:40px;
	text-decoration:none
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widgettitle{
	text-transform:none;
	font-size:1.25em;
	font-weight:700;
	letter-spacing:.03em
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	border:none;
	background:#363636 url('images/ftr-map-bg.png') no-repeat bottom right;
	color:#fff;
	padding:137px 0;
}
.footer-nav li:hover > a,
#footerwrap a:hover{
	color:#fff
}

/* FOOTER LOGO
================================================ */
#footer-logo{
	color:var(--theme_accent);
	font-size:2.15em;
	letter-spacing:.08em;
	text-transform:uppercase;
	white-space:nowrap
}

/* FOOTER WIDGETS
================================================ */
.footer-widgets{
	margin-bottom:10em
}
.footer-widgets .widget{
	margin-top:1em
}
.footer-widgets .widgettitle{
	color:var(--theme_accent)
}

/* FOOTER TEXT
================================================ */
.footer-text .one,
.footer-text .two{
	display:inline-block;
	vertical-align:middle
}
.footer-text .one{
	margin-right:.3em
}

/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* ARCHIVE PRODUCTS
================================================ */
/* archive product title */
.module-products .wc-products .product h3,
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .woocommerce-loop-product__title{
	font-family:'Playfair Display',serif;
	font-weight:700;
	font-size:1em;
	letter-spacing:normal;
	margin:0 0 .2em
}
.woocommerce ul.products li.product a img{
	margin:0 0 1.35em
}
.woocommerce ul.products li.product .price{
	color:var(--theme_accent);
	font-family:'Playfair Display',serif;
	font-weight:700;
	margin:0 0 .4em;
	transform:none;
	transform-origin:center
}
.woocommerce ul.products li.product .price del{
	color:#363636
}
.woocommerce .woocommerce-result-count{
	color:var(--theme_accent);
	font-family:'Playfair Display',serif;
	font-weight:700;
	font-size:1.5em
}
.woocommerce .woocommerce-ordering{
	margin:-1.6em 0 8em
}
.woocommerce .woocommerce-ordering select{
	border:1px solid var(--theme_accent);
	color:var(--theme_accent);
	font-family:'Playfair Display',serif;
	font-weight:700;
	font-size:.9em;
	padding:.9em 1em;
	padding-right:3em
}
.module-products .wc-products .product h3 a{
	color:inherit
}

/* SINGLE PRODUCTS
================================================ */
/* Title */
.woocommerce div.product .product_title{
	font-size:1.625em;
	color:rgb(54,54,54);
	font-weight:700;
	letter-spacing:0;
	margin:0 0 .33em
}

/* price */
.woocommerce div.product p.price,
.woocommerce div.product span.price{
	color:var(--theme_accent);
	font-family:'Playfair Display',serif;
	font-size:1em;
	font-weight:700;
	margin:0 0 .75em;
	transform:none
}
.woocommerce div.product p.price{
	font-size:1.5em
}
.woocommerce div.product p.price del,
.woocommerce div.product span.price del{
	color:#363636
}

/* quantity */
.woocommerce div.product form.cart{
	border-bottom:1px solid rgba(0,0,0,.2);
	padding-bottom:2.25em;
	margin-bottom:1.3em
}
.woocommerce div.product form.cart div.quantity{
	float:none;
	display:inline-block;
	margin:0 0 2.25em
}
.woocommerce .quantity .qty{
	width:auto;
	max-width:160px;
	margin:0;
	padding:1em 2.5em;
	padding-right:.7em;
	text-align:left;
	color:var(--theme_accent)
}
.woocommerce div.product form.cart .button{
	float:none;
	display:block;
	padding:1.3em 3.3em
}
.product_meta{
	text-transform:none
}

/* breadcrumb */
.woocommerce .woocommerce-breadcrumb{
	color:var(--theme_accent);
	font-weight:700
}
.woocommerce .woocommerce-breadcrumb a{
	color:#363636
}

/* message, info, error */
.woocommerce-error:before,
.woocommerce-info:before,
.woocommerce-message:before{
	color:var(--theme_accent)
}

/* tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs{
	margin:0 0 2.2em
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
	text-transform:none
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	font-weight:400;
	color:#363636;
	letter-spacing:0;
	padding:1.05em 1.45em
}
#commentform .comment-form-rating label{
	font-weight:400
}
#commentform .comment-form-rating label,
#review_form #commentform .comment-form-rating .stars{
	display:inline-block;
	vertical-align:middle;
	margin:0;
	line-height:1
}
#review_form #commentform .comment-form-rating .stars{
	margin-left:1em;
	font-size:1.1em
}
.woocommerce p.stars a{
	margin:0 .06em
}

/* WOOCOMMERCE CHECKOUT
================================================ */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height:46px;
	border-color:#ddd
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:46px
}
.select2-results__option{
	margin:0
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true]{
	background-color:var(--theme_accent);
	color:#fff
}

/************************************************************************************
BUILDER STYLING
*************************************************************************************/
/* BUILDER BUTTON
================================================ */
#slide-cart .button,.woocommerce ul.products li.product .button,.woocommerce a.button.disabled,.woocommerce button.button.disabled,
.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled],.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt{
	text-transform:none;
	min-width:auto;
	letter-spacing:normal;
	padding:.75em .85em .7em;
	font-weight:600
}
.module.module-buttons a.tb_default_color{
	background-color:var(--theme_accent);
	color:#fff
}
#slide-cart .button:hover,.woocommerce ul.products li.product .button:hover,.woocommerce a.button.alt.disabled:hover,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover{
	background-color:#363636;
	color:#fff
}
.woocommerce ul.products li.product .button{
	text-transform:uppercase;
	border:1px solid var(--theme_accent);
	background-color:transparent;
	color:#363636
}
.woocommerce ul.products li.product .button:hover{
	border-color:var(--theme_accent);
	background-color:var(--theme_accent)
}
.wc-products .product{
	text-align:center
}

.ui.builder_button{
	font-weight:600;
	padding:1.3em .85em;
	letter-spacing:.01em
}
.large .ui.builder_button{
	padding:1.3em 1.95em
}
.xlarge .ui.builder_button{
	padding:1.3em 2.95em
}
.large .ui.builder_button span,
.xlarge .ui.builder_button span{
	font-size:1em
}
.module.module-buttons.outline .tb_default_color{
	background:0
}

/* BUILDER SERVICE MENU
================================================ */
.module-service-menu.image-horizontal{
	padding:1.6em 0 1.2em;
	border-bottom:1px solid rgba(180,180,180,.3)
}
.module-service-menu .tb-menu-title{
	font-weight:400
}
.module-service-menu.image-horizontal:last-child{
	border-bottom:none
}
.module-service-menu .tb-image-content .tb-menu-price .tb-price-item{
	min-width:80px;
	text-align:center
}
.module-service-menu .tb-image-content .tb-menu-price .tb-price-item .tb-price-title{
	font-size:1em;
	font-weight:600;
	letter-spacing:.02em;
	text-transform:none;
	color:var(--theme_accent)
}
.module-service-menu.image-horizontal.has-price-options .tb-image-content .tb-menu-title-wrap{
	float:left;
	width:auto
}
.module-service-menu .tb-image-content .tb-menu-price{
	font-weight:400
}

/* BUILDER SLIDER
================================================ */
.module-testimonial-slider .testimonial-image img{
	border:5px solid var(--theme_accent);
	padding:5px
}
.module-testimonial-slider.image-bottom .testimonial-image img{
	padding:5px
}
.testimonial-content{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column
}
.testimonial-content:before{
	content:"\201D";
	display:block;
	color:var(--theme_accent);
	line-height:.3em;
	padding-top:.3em;
	font-size:17em;
	font-family:Playfair Display,serif;
	opacity:.7
}
.testimonial-image{
	order:1;
	margin-top:1.9em
}
.testimonial-author{
	margin-top:.6em
}
.person-name,
.person-position,
.person-company{
	display:inline-block;
	letter-spacing:-.07em;
	color:var(--theme_accent)
}
.person-name{
	margin-right:.9em;
	letter-spacing:0
}
.themify_builder_slider_wrap .carousel-nav-wrap{
	margin-top:1.6em
}
.themify_builder_slider_wrap .carousel-pager a{
	width:1em;
	height:1em;
	margin:0 4px
}
.themify_builder_slider_wrap .carousel-pager a:hover,
.themify_builder_slider_wrap .carousel-pager a.selected{
	color:var(--theme_accent)
}
.themify_builder_slider_wrap .carousel-pager a,
.themify_builder_slider_wrap .carousel-pager a:hover,
.themify_builder_slider_wrap .carousel-pager a.selected{
	border-width:.5em
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width:1024px){
	#footerwrap{
		padding:80px 0
	}
}
@media screen and (max-width:980px){
	.module-service-menu .tb-image-content .tb-menu-price .tb-price-item .tb-price-title{
		font-size:1.1em
	}
}
@media screen and (max-width:768px){
	.module-service-menu.image-horizontal.has-price-options .tb-image-content .tb-menu-price{
		float:right
	}
	.module.module-service-menu.image-horizontal.has-price-options .tb-image-content .tb-menu-title-wrap{
		width:20%;
		float:left
	}
}
@media screen and (max-width:680px){
	.footer-widgets{
		margin-bottom:3em
	}
	.module.module-service-menu.image-horizontal.has-price-options .tb-image-content .tb-menu-price .tb-price-item{
		margin-right:0;
		min-width:65px
	}
}