#slide-cart .product{
	overflow:hidden;
	margin:0 0 1.2em;
	display:block
}
#slide-cart .product:last-child{
	border-bottom:1px solid rgba(180,180,180,.3);
	padding-bottom:20px;
	margin-bottom:20px
}
.cart-wrap a:hover,
#slide-cart a:hover{
	text-decoration:none
}
#slide-cart .remove-item{
	color:inherit;
	float:left;
	width:16px;
	height:16px;
	margin:6px 12px 0 0;
	transition:transform .3s ease-in-out;
}
#slide-cart .remove-item:hover{
	transform:rotate(90deg)
}
#slide-cart .product-image{
    float:left!important;
    margin-right:1em;
    width:40px
}
#slide-cart .product-image img{
    border-radius:8px
}
#slide-cart .product-details{
    overflow:hidden
}
#slide-cart .product-title{
    font-size:1em;
    line-height:1.5;
    margin:0;
    font-weight:400;
    color:inherit
}
#slide-cart .product-title a,
.transparent-header #slide-cart .product-title a{
    color:inherit
}
#slide-cart .quantity-count{
    font-size:.813em;
    opacity:.5;
    font-size:.8em;
    margin:0
}
/* cart total */
#slide-cart .cart-total{
	float:left;
	margin:-3px 0 1em;
	line-height:1.4em
}
#slide-cart .cart-total .amount{
	font-weight:300
}
#slide-cart .cart-total #view-cart{
	font-size:.75em;
	text-transform:uppercase;
	display:block
}
#slide-cart .checkout-button{
	float:right
}
#slide-cart .button{
	padding:.8em 1.2em;
	font-size:.9em;
	letter-spacing:0
}
.mobile_menu_active.mobile-menu-visible #headerwrap .cart-wrap{
	position:static;
	margin:auto;
	padding:0
}
.tf_admin_msg {
	font-size:.85em;
	line-height:1.4;
	background:rgba(180,180,180,.1);
	margin:0 0 20px;
	padding:10px 15px;
	border-radius:12px;
}