.woocommerce ul.products li.product .star-rating{
	font-size:.7em;
    margin:0 0 2px;
	display:inline-block
}
.woocommerce .woocommerce-product-rating .star-rating{
	float:none;
	display:inline-block
}