.related.products{
	clear:both;
    margin:0 0 1.6em
}
.woocommerce .related h2,
.woocommerce .upsells h2{
    margin:0 0 2em;
    padding:1em 0 0;
    font-size:1.1em;
    text-transform:uppercase;
    letter-spacing:.05em;
    font-weight:600
}
.related.products ul.products li.product .button{
    font-size:.75em
}
.related.products ul.products li.product .woocommerce-loop-product__title{
    font-size:1em;
    padding:0;
    margin:0 0 .2em;
    text-transform:none;
    letter-spacing:0
}
@media screen and (max-width:760px){
    .woocommerce .related ul.products .product{
        padding:0;
        margin-left:0;
        width:calc(50% - 10px)!important
    }
    .woocommerce .related ul.products .product:nth-of-type(2n+1){
        clear: left;
        margin-left:0
    }
}