.buttons-fullwidth .module-buttons-item,
.buttons-fullwidth .module-buttons-item a{
    box-sizing:border-box;
    margin-left:0;
    width:100%;
    text-align:center
}
.buttons-fullwidth .module-buttons-item+.module-buttons-item{
    margin-top:.4em
}