#gallery-controller .tf_swiper-wrapper img{
	object-fit:cover
}
.single.single-slider-layout .featured-area .single-slider + .post-content .post-date-wrap:not(.post-date-inline){
    margin-top:-84px;
    position:relative;
	z-index:998
}
.single.single-slider-layout .featured-area .slides > li{
	margin:0;
	position:relative
}
.single.single-slider-layout .featured-area .carousel-next,
.single.single-slider-layout .featured-area .carousel-prev{
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	overflow:hidden;
	max-width:32px;
	max-height:64px;
	font-size:18px;
	background:#fff;
	color:#000;
	display:flex;
	align-items:center;
	height:100%;
	width:100%;
	padding:0;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:0 8px 8px 0
}
.single.single-slider-layout .featured-area .carousel-next{
	left:auto;
	right:0;
	border-radius:8px 0 0 8px
}
.single.single-slider-layout .featured-area .carousel-prev:before{
	margin-left:6px;
	margin-right: 0;
	transform: rotateZ(135deg);
}
.single.single-slider-layout .featured-area .carousel-next:before{
	transform: rotateZ(-45deg);
	margin-left: 0;
	margin-right: 7px;
}
.single.single-slider-layout .tf_carousel_nav_wrap {
	margin:0;
}
.single.single-slider-layout .featured-area .carousel-pager{
	position:absolute;
	bottom:90px;
	left:50%;
	transform:translateX(-50%);
	z-index:1
}
.single.single-slider-layout .featured-area .carousel-pager a{
	color:#fff
}
.single.single-slider-layout .featured-area .carousel-pager a:before{
	opacity:1
}
.single.single-slider-layout .featured-area .slide-caption{
	display:none
}
.single.single-portfolio.single-slider-layout .featured-area .carousel-pager{
	bottom:30px
}
@media screen and (max-width:680px){
	.single.single-slider-layout .featured-area .single-slider + .post-content .post-date-wrap:not(.post-date-inline){
		margin-top:-50px
	}
	.single.single-slider-layout .featured-area .carousel-pager{
		bottom:55px
	}
	.single.single-slider-layout .featured-area .carousel-next,
	.single.single-slider-layout .featured-area .carousel-prev{
		max-height:50px;
		font-size:14px
	}
	.single.single-gallery-layout .featured-area .gallery-wrapper + .post-content .post-date-wrap:not(.post-date-inline){
		margin-top:-40px
	}
}