.content-right #layout{
	flex-direction:row-reverse
}
.sidebar2 #sidebar-alt{
	width:15%;
	order:-1
}
.sidebar2 #content{
	width:51%;
	margin:0 auto
}
/* sidebar left */
.content-right #content,
.content-left #content{
	margin:0
}
.content-left #sidebar-alt{
	order:unset;
	margin-left:auto
}
.content-right #sidebar,
.content-right #sidebar-alt{
	margin-right:auto;
	order:unset;
	margin-left:unset
}
.full_width #sidebar-alt{
	margin:0 auto;
	width:auto
}
@media screen and (max-width:760px){
	.sidebar2 #content{
		width:100%
	}
	.sidebar2 #sidebar,
	.sidebar2 #sidebar-alt{
		width:50%
	}
	#sidebar-alt+#sidebar{
		padding-top:5.75%
	}
	.sidebar2 #sidebar-alt{
		order:unset
	}
}