/*Help*/
#tb_help_lightbox{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	box-sizing:border-box;
	display:none;
	z-index:100000
}
#tb_help_lightbox:before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.7)
}
.tb_help_lightbox_inner_wrapper{
	padding:1.2%;
	box-sizing:border-box;
	background:#000;
	color:#fff;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:85%;
	height:77%;
	position:absolute;
	border-radius:16px;
	box-shadow:0 5px 18px rgba(0,0,0,.3);
	overflow-y:auto;
}
.tb_help_lightbox_inner_wrapper .tb_help_tabs{
	list-style:none;
	margin:0 0 30px 0;
	padding:0;
	font-family:Arial
}
.tb_help_tabs .tb_help_tab_link{
	display:inline-block;
	font-size:20px;
	color:#adabab;
	padding:0 15px;
	cursor:pointer;
	position:relative;
	transition:color .3s linear
}
.tb_help_tabs .tb_help_tab_link:hover,
.tb_help_tab_link.tb_help_active_tab{
	color:#fff
}
.tb_help_tab_link.tb_help_active_tab:after{
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:3px;
	background-color:#00a2fb;
	bottom:-10px;
	left:0
}
.tb_help_lightbox_inner_wrapper .tb_help_tab_content{
	display:none
}
.tb_help_lightbox_inner_wrapper[data-active-tab="videos"] .tb_help_tab_content[data-type="videos"],
.tb_help_lightbox_inner_wrapper[data-active-tab="shortcuts"] .tb_help_tab_content[data-type="shortcuts"]{
	display:block
}
.tb_help_video_wrapper{
	width:71%;
	float:left
}
.tb_help_menu{
	width:26%;
	float:right;
	margin-left:3%
}
.tb_help_menu ul{
	list-style:none;
	padding:0;
	margin:0;
	margin-top:1.5em;
	padding-left:1.5%
}
.tb_help_menu li{
	margin-bottom:14px;
	font-size:1.12em;
	box-sizing:border-box;
	position:relative
}
.tb_help_menu h3{
	margin:0 0 15px 0;
	padding:0;
	line-height:normal;
	font-size:1.5em
}
.tb_player_wrapper iframe,
.tb_help_video_wrapper img{
	width:100%;
	cursor:default;
	position:absolute;
	top:0;
	left:0
}
.tb_player_wrapper iframe{
	height:100%
}
#tb_help_lightbox a{
	color:#868686;
	text-decoration:none;
	font-family:Arial,sans-serif
}
.tb_help_menu li a{
	position:relative;
	padding-left:25px
}
#tb_help_lightbox .tb_help_menu a:before,
#tb_help_lightbox .tb_help_menu a:after{
	content:"";
	position:absolute;
	left:0;
	top:50%;
	margin-left:20px;
	opacity:0;
	visibility:hidden;
	transition:margin .25s,opacity .25s,visibility .25s
}
#tb_help_lightbox .tb_help_menu a:before{
	border-left:2px solid;
	border-top:2px solid;
	width:10px;
	height:10px;
	transform:translateY(-50%) rotateZ(-45deg)
}
#tb_help_lightbox .tb_help_menu a:after{
	border-top:2px solid;
	width:14px;
	height:10px;
	top:70%;
	margin-top:-5px
}
.wp-admin #tb_help_lightbox .tb_help_menu a:after{
	margin-top:-4px
}
#tb_help_lightbox .current a:before,
#tb_help_lightbox a:hover:before,
#tb_help_lightbox .current a:after,
#tb_help_lightbox a:hover:after{
	opacity:1;
	visibility:visible;
	margin-left:0
}
#tb_help_lightbox .tb_close_lightbox,
#tb_help_lightbox .current a,
#tb_help_lightbox a:hover{
	color:#fff
}
#tb_help_lightbox .tb_close_lightbox{
	position:absolute;
	top:6px;
	right:6px;
	height:25px
}
#tb_help_lightbox .tb_close_lightbox .tf_close{
	font-size:1em
}
.tb_player_wrapper{
	display:none;
	padding-top:56.25%;
	overflow:hidden;
	position:relative
}
.tb_help_video_wrapper .tb_player_wrapper:first-child{
	display:block
}
.tb_player_btn,.tb_player_btn:before{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate3d(-50%,-50%,0)
}
.tb_player_btn{
	width:11.5%;
	height:14%;
	background-color:rgba(51,51,51,.8);
	box-shadow:0 0 30px rgba(0,0,0,.6);
	z-index:1;
	border-radius:12px;
	cursor:pointer
}
.tb_player_btn:before{
	content:"";
	border-style:solid;
	border-width:12px 0 12px 18px;
	border-color:transparent transparent transparent #fff;
	margin-left:3px
}
.tb_help_shortcuts_table{
	width:100%;
	font-family:Arial
}
.tb_help_shortcuts_table tr:not(:first-child) td{
	border-top:1px solid rgba(255,255,255,.2)
}
.tb_help_shortcuts_table th,
.tb_help_shortcuts_table td{
	padding:15px 4px;
	text-align:left
}
.tb_help_shortcuts_table td{
	font-size:15px;
	line-height:1.2em;
	color:#c3c3c3;
	vertical-align:top
}
.tb_help_shortcuts_table td:first-child{
	padding-left:10px
}
.tb_help_shortcuts_table td span{
	font-size:13px;
	padding:0 5px;
	color:#757575
}
@media screen and (max-width:800px){
	.tb_help_video_wrapper,
	.tb_help_menu{
		width:100%;
		float:none;
		margin:auto
	}
	.tb_help_menu li{
		width:50%;
		float:left;
		font-size:.9em
	}
	#tb_help_lightbox .tb_help_menu a:before{
		transform:rotateZ(45deg);
		margin-top:-6px
	}
	#tb_help_lightbox .tb_help_menu a:after{
		transform:rotateZ(90deg);
		left:-6px;
		top:50%
	}
	#tb_help_lightbox .tb_help_menu a:before,
	#tb_help_lightbox .tb_help_menu a:after{
		margin-left:0
	}
	.wp-admin #tb_help_lightbox .tb_help_menu a:after{
		margin-top:-8px
	}
}