/*
Skin Name:Ultra Yoga
Version:1.0
Demo URI:https://themify.me/demo/themes/ultra-yoga/
Required Plugins:builder-contact
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#7c10f7;
	--theme_accent_semi:rgba(124,16,247,.8);
}
body{
	color:#434e5f;
	font-family:'Poppins',Arial,sans-serif
}
a:hover{
	color:var(--theme_accent);
	text-decoration:none
}

/* FORMS
================================================ */
textarea,input,input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=time],input[type=week]{
	border-color:#ddd;
	font-weight:400;
	padding:.875em 1.2em;
	margin:0;
	width:100%
}
input[type=reset],input[type=submit],button[type=submit]{
	font-weight:600;
	padding:.5em 2.2em;
	letter-spacing:.02em;
	text-transform:none;
	width:auto
}
#commentform p label{
	text-transform:none;
	transform:translate(21px,42px);
	display:inline-block;
	font-size:1em
}
#review_form p label{
	transform:none
}
input[type=checkbox],input[type=radio]{
	width:auto
}
/* form input:focus */
textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=search]:focus,input[type=email]:focus,input[type=url]:focus,input[type=number]:focus,input[type=tel]:focus,input[type=date]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus{
	border-color:#959595
}

#commentform{
	display:flex;
	flex-direction:column
}
#commentform .comment-form-cookies-consent,
#commentform .form-submit,
#commentform .comment-form-comment{
	order:1
}
#commentform p.comment-form-author,
#commentform p.comment-form-email{
	width:100%;
	padding:0
}
#commentform .form-submit{
	align-self:flex-end
}

/* HEADINGS
================================================ */
h1,h2,h3,h4,h5,h6{
	font-family:'Playfair Display',serif;
	font-weight:700;
	font-style:italic
}
h1{
	font-size:3.2em;
	letter-spacing:0
}
h2{
	font-size:2.8em;
	letter-spacing:0
}
h3,h4{
	font-family:'Poppins',Arial,sans-serif;
	font-weight:600;
	font-style:normal;
	letter-spacing:.04em
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap{
	box-shadow:0 7px 18px 0 rgba(0,0,0,.09)
}
#header{
	padding-top:.7em;
	padding-bottom:.7em
}

/* SITE LOGO
================================================ */
#site-logo{
	font-size:1.85em;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:0
}

/* MAIN NAVIGATION
================================================ */
#main-nav a{
	text-transform:uppercase;
	letter-spacing:.008em;
	font-weight:600;
	padding:0
}
#main-nav > li{
	padding:0 .5em
}
.boxed-content #main-nav >li > a:after,
.boxed-layout #main-nav >li > a:after,
.header-block #main-nav >li > a:after,
.header-top-bar #main-nav >li > a:after,
.header-horizontal #main-nav >li > a:after,
.header-top-widgets #main-nav >li > a:after{
	content:'';
	display:block;
	width:0;
	border-bottom:2px solid transparent;
	position:absolute;
	bottom:0;
	left:-1px;
	transition:all .3s ease-in-out
}
.boxed-content #main-nav > li > a:hover:after,
.boxed-content #main-nav .current_page_item > a:after,
.boxed-content #main-nav .current-menu-item > a:after,
.boxed-layout #main-nav > li > a:hover:after,
.boxed-layout #main-nav .current_page_item > a:after,
.boxed-layout #main-nav .current-menu-item > a:after,
.header-block #main-nav > li > a:hover:after,
.header-block #main-nav .current_page_item > a:after,
.header-block #main-nav .current-menu-item > a:after,
.header-top-bar #main-nav > li > a:hover:after,
.header-top-bar #main-nav .current_page_item > a:after,
.header-top-bar #main-nav .current-menu-item > a:after,
.header-horizontal #main-nav > li > a:hover:after,
.header-horizontal #main-nav .current_page_item > a:after,
.header-horizontal #main-nav .current-menu-item > a:after,
.header-top-widgets #main-nav > li > a:hover:after,
.header-top-widgets #main-nav .current_page_item > a:after,
.header-top-widgets #main-nav .current-menu-item > a:after{
	border-color:currentcolor;
	width:100%
}

/* mega menu */
#main-nav .mega-menu-posts .post,
#main-nav .mega-menu-posts .post-title{
	text-align:left
}

/* CART ICON
================================================ */
.cart-wrap a span{
	position:static;
	margin:0 0 -3px -12px
}

/* SEARCH LIGHTBOX
================================================ */
.search-option-tab li:hover a,
.search-option-tab li.active a{
	box-shadow:inset 0 -3px 0 0 var(--theme_accent)
}
.search-results-wrap .view-all-button{
	color:var(--theme_accent)
}
.view-all-button:after{
	border-color:var(--theme_accent)
}

/* HEADER TOP WIDGETS
================================================ */
.header-widget-full{
	font-size:1em;
	background-color:transparent
}
.header-widget-full .header-widget{
	border-bottom:1px solid rgba(225,227,229,.4);
	letter-spacing:.017em;
	padding-top:.8em;
	padding-bottom:1.05em
}
.header-widget-full .header-widget p:last-child{
	margin:0
}

/* HEADER STRIPE
================================================ */
.header-stripe #headerwrap{
	box-shadow:none
}
.header-stripe #header{
	padding-top:0;
	padding-bottom:0
}
.header-stripe #site-logo{
	background-color:var(--theme_accent)
}
.header-stripe .navbar-wrapper{
	display:flex;
	flex-wrap:wrap
}
.header-stripe #main-nav-wrap{
	margin-left:auto;
	padding-right:1.5em;
	padding-top:10px
}
.header-stripe #headerwrap.fixed-header{
	box-shadow:none;
	background-color:transparent
}

/* TRANSPARENT HEADER
================================================ */
.boxed-content #headerwrap,
.transparent-header #headerwrap{
	box-shadow:none
}
.transparent-header #main-nav > li > a:hover{
	color:#fff
}
.transparent-header a,
.transparent-header #main-nav a{
	transition:none
}
.transparent-header .header-icons a{
	color:inherit
}

/* FIXED HEADER
================================================ */
.transparent-header #headerwrap.fixed-header,
#headerwrap.fixed-header{
	box-shadow:0 1px 15px rgba(0,0,0,.12);
	background-color:rgba(255,255,255,.9);
	color:#000
}
.transparent-header .fixed-header #main-nav > li > a:hover{
	color:var(--theme_accent)
}

/************************************************************************************
PORTFOLIO
*************************************************************************************/
.project-date,.project-client,.project-services,.project-view{
	color:var(--theme_accent)
}

/************************************************************************************
WIDGETS
*************************************************************************************/
.widgettitle{
	font-family:'Poppins',Arial,sans-serif;
	font-weight:500;
	font-size:1.2em;
	letter-spacing:.04em
}
.widget li{
	padding:.3em 0
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	background-color:#463274;
	border:none;
	color:#fff;
	line-height:1.5em;
	padding:125px 0 0
}
#footer a{
	color:#fff;
	transition:all .3s
}
#footer a:hover{
	color:#e24886
}
#footerwrap a.tb_turn_on{
	color:#fff
}

/* FOOTER LOGO
================================================ */
#footer-logo{
	font-size:1.95em;
	text-transform:uppercase;
	margin:0 0 1.3em;
	letter-spacing:0
}

/* FOOTER WIDGETS
================================================ */
.footer-widgets{
	margin:0 0 2em
}
.footer-widgets .widgettitle{
	color:inherit;
	margin:0 0 1.5em
}
#footer .themify-social-links li{
	margin:0 11px 0 0
}
#footer .themify-social-links a i{
	border-radius:5em;
	background-color:#e24886;
	color:#fff;
	padding:8px;
	display:inline-block
}
#footer .themify-social-links a i{
	font-size:1em
}
#footer .themify-social-links a:hover{
	color:#463274
}

/* FOOTER TEXT
================================================ */
.footer-text{
	font-size:.95em
}
.section-col + .footer-text{
	border-top:1px solid rgba(255,255,255,.1);
	padding:1.35em 0 2.3em;
	text-align:center;
	font-weight:300;
	font-size:.95em;
	letter-spacing:-.025em
}
.section-col + .footer-text .one,
.section-col + .footer-text .two{
	display:inline-block;
	vertical-align:middle
}
.section-col + .footer-text .one{
	margin-right:.4em
}

/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* BUTTON
================================================ */
#slide-cart .button,.woocommerce ul.products li.product .button,.woocommerce a.button.disabled,.woocommerce button.button.disabled,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled],.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt{
	font-weight:600;
	padding:.75em 2.2em;
	letter-spacing:.02em;
	text-transform:none;
	transition:all .3s
}
#slide-cart .button:hover,.woocommerce ul.products li.product .button:hover,.woocommerce a.button.alt.disabled:hover,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover{
	background-color:#e24886;
	color:#fff
}

/* SINGLE PRODUCTS
================================================ */
/* breadcrumb */
.woocommerce .woocommerce-breadcrumb{
	color:#e24886;
	font-weight:700
}
.woocommerce .woocommerce-breadcrumb a{
	color:var(--theme_accent)
}

/* Title */
.woocommerce div.product .product_title{
	color:rgb(54,54,54);
	font-size:2.5em;
	letter-spacing:0;
	margin:0 0 .33em
}

/* price */
.woocommerce div.product p.price,
.woocommerce div.product span.price{
	color:#e24886;
	font-family:'Playfair Display',serif;
	font-size:1em;
	font-weight:700;
	margin:0 0 .75em;
	transform:none
}
.woocommerce div.product p.price{
	font-size:1.5em
}
.woocommerce div.product p.price del,
.woocommerce div.product span.price del{
	color:var(--theme_accent)
}
#slide-cart .cart-total{
	color:#e24886
}

/* quantity */
.woocommerce .quantity .qty{
    width:5em;
	font-size:1em
}

/* tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	color:#999;
	padding:1.05em 1.45em
}

/* related products */
.woocommerce .related h2,
.woocommerce .upsells h2{
	font-size:3.8em;
	letter-spacing:0;
	text-transform:none
}

/* CART
================================================ */
.woocommerce #content table.cart td.actions .coupon .input-text,
#content .woocommerce .woocommerce-cart-form table.cart td.actions .coupon .input-text{
	padding:.45em .7em;
	width:8.5em
}

/* CHECKOUT
================================================ */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height:55px;
	border-radius:5px;
	border-color:#ddd
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:55px
}
.select2-results__option{
	margin:0
}
.woocommerce form .form-row .textarea:focus,
.woocommerce form .form-row .input-text:focus,
.woocommerce form .form-row select:focus{
	border-color:#959595
}

/************************************************************************************
BUILDER STYLES
*************************************************************************************/
/* BUILDER BUTTON
================================================ */
.ui.builder_button{
	font-weight:600
}
.module.module-buttons a.purple.builder_button{
	background-color:var(--theme_accent);
	color:#fff
}
.module.module-buttons a.purple.builder_button:hover{
	background-color:var(--theme_accent_semi);
	color:#fff
}

/* ICON MODULE
================================================ */
.module-image .image-wrap span.zoom{
	background-color:#fff;
	color:var(--theme_accent);
	padding:45px;
	margin:-45px 0 0 -45px;
	box-sizing:border-box
}
.module-image .image-wrap span.zoom:hover{
	background-color:var(--theme_accent)
}
.module-image .image-wrap a[href*="vimeo"] span.zoom:before,.module-image .image-wrap a[href*="youtu.be"] span.zoom:before,.module-image .image-wrap a[href*="youtube"] span.zoom:before,.module-image .image-wrap a[href*=".avi"] span.zoom:before,.module-image .image-wrap a[href*=".mov"] span.zoom:before,.module-image .image-wrap a[href*=".flv"] span.zoom:before,.module-image .image-wrap a[href*=".f4v"] span.zoom:before,.module-image .image-wrap a[href*=".mp4"] span.zoom:before{
	content:"";
	display:inline-block;
	width:0;
	height:0;
	border:16px solid transparent;
	border-bottom-width:21px;
	border-left-width:31px;
	border-left-color:inherit;
	border-right-width:0;
	margin:-17px 0 0 -12px
}

/* PRICING TABLE MODULE
================================================ */
.ui.module-pricing-table{
	font-size:.8em;
	border:none
}
.ui.module-pricing-table .module-pricing-table-header{
	padding:3.1em  1.7em 0em
}
.ui.module-pricing-table .module-pricing-table-title{
	font-size:1.5em;
	letter-spacing:.024em;
	font-weight:600
}
.module-pricing-table .module-pricing-table-description{
	padding-top:1.8em;
	line-height:1.45
}
.ui.module-pricing-table .module-pricing-table-content{
	padding-top:.5em;
	padding-bottom:3.4em;
	background-color:transparent
}
.ui.module-pricing-table .module-pricing-table-features{
	border:none;
	padding-top:.2em;
	padding-bottom:.2em
}
.ui.module-pricing-table .module-pricing-table-button{
	background-color:#fff;
	color:#000;
	font-size:18px;
	display:inline-block;
	padding:.7em 1.3em;
	margin:2.5em auto 0;
	text-transform:capitalize
}
/* Default */
.default.ui.module-pricing-table{
	background-color:rgb(233,233,233);
	color:#000
}
.default.module-pricing-table .module-pricing-table-header{
	color:#000
}
/* Rounded */
.module-pricing-table.rounded,
.module-pricing-table .module-pricing-table-header.rounded{
	border-radius:10px
}
.module-pricing-table.rounded .module-pricing-table-content{
	border-radius:0
}
/* Shadow */
.shadow.module-pricing-table{
	box-shadow:0 3px 16px 0 rgba(0,0,0,.09)
}
/* Colors */
.ui.purple{
	background-color:var(--theme_accent);
	color:#fff
}
.ui.pink{
	background-color:#d314b1;
	color:#fff
}
.ui.orange{
	background-color:#ff6000;
	color:#fff
}
.ui.pink .module-pricing-table-header,
.ui.purple .module-pricing-table-content,
.ui.pink .module-pricing-table-content,
.ui.orange .module-pricing-table-content{
	color:#fff
}

/* SLIDER MODULE
================================================ */
.themify_builder_slider .slide-image a{
	position:relative;
	display:block
}
.themify_builder_slider .slide-image img{
	filter:brightness(.7);
	transition:filter .7s
}
.module-slider .themify_builder_slider .slide-image img:hover{
	filter:brightness(.5)
}
.themify_builder_slider .slide-image a.themify_lightbox:before,
.themify_builder_slider .slide-image a.themify_lightbox:after{
	content:"";
	display:block;
	width:2.5em;
	height:2px;
	border-top:2px solid #fff;
	position:absolute;
	top:50%;
	left:50%;
	z-index:1
}
.themify_builder_slider .slide-image a.themify_lightbox:before{
	transform:rotateZ(90deg) translate(-50%,-50%);
	transform-origin:0 0;
	margin-left:-2px
}
.themify_builder_slider .slide-image a.themify_lightbox:after{
	transform:translate(-50%,-50%)
}

/* pager */
.themify_builder_slider_wrap .carousel-pager a{
	color:var(--theme_accent)
}

/* arrow */
.themify_builder_slider_wrap .carousel-prev,
.themify_builder_slider_wrap .carousel-next{
	position:relative;
	margin:0 10px
}
.themify_builder_slider_wrap .carousel-prev{
	padding-right:69px
}
.themify_builder_slider_wrap .carousel-next{
	padding-left:65px
}
.themify_builder_slider_wrap .carousel-prev:before,
.themify_builder_slider_wrap .carousel-prev:after,
.themify_builder_slider_wrap .carousel-next:before,
.themify_builder_slider_wrap .carousel-next:after{
	color:#434e5f;
	border-radius:3px;
	margin-left:0
}
.themify_builder_slider_wrap .carousel-prev:after,
.themify_builder_slider_wrap .carousel-next:after{
	content:"";
	display:inline-block;
	border-top:2px solid;
	width:75px;
	position:absolute;
	top:50%;
	margin-top:-1px;
}
.themify_builder_slider_wrap .carousel-prev:before,
.themify_builder_slider_wrap .carousel-next:before{
	width:8px;
	height:8px
}
.themify_builder_slider_wrap .carousel-prev:after{
	left:6px
}
.themify_builder_slider_wrap .carousel-next:after{
	right:12px
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width:680px){
	h1{
		font-size:3.5em
	}
	h2,
	.woocommerce .related h2,
	.woocommerce .upsells h2{
		font-size:2.5em
	}
}