#{$prefix}-page-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    a,span {
        background: #f94d1c;
        color: #fff;
        display: inline-flex;
        min-width: 45px;
        height: 30px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-top: 20px;
        text-decoration: none;
        padding: 10px;
        margin: 0 5px;

        &:hover,
        &.current {
            background: #010834;
            color: #fff;
            text-decoration: none;
        }
    }
}


#{$prefix}-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
        width: calc(50% - 15px);
        position: relative;
        margin: 30px 0;
        display: flex;
        align-items: center;
        &:empty {
            display: none !important;
            &:before {
                content: "";
                display: none !important;
            }
        }
        a {
            position: relative;
            color: #010834;
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: 600;
            padding-left: 6px;
            line-height: 1.3;
            &:hover {
                color: #f04819;
            }
        }

    }
    #{$prefix}-nav-next {
        a {
            margin-right: 5px;
            i {
                font-size: 16px;
            }
        }
    }
}
