/*
Skin Name:Ultra Spa
Version:1.0
Demo URI:https://themify.me/demo/themes/ultra-spa/
Required Plugins:builder-contact, builder-maps-pro, builder-pricing-table, woocommerce, builder-woocommerce
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#f1a3a3;
	--theme_accent_semi:rgba(241,164,164,.8);
}
body{
    font:.95em/1.5em 'Varela Round',Arial,sans-serif;
    color:#404040
}
a:hover,
#footer a:hover{
    color:#d78282
}

/* Form Elements */
textarea,input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=time],input[type=week]{
    color:inherit
}
select{
    border:1px solid #bdbdbd;
    background-color:#fff
}
input[type="reset"], input[type="submit"], button[type="submit"]{
    min-width:10em;
    padding:1.3em 1.4em
}
input[type=reset]:hover, input[type=submit]:hover, button:hover{
    background-color:var(--theme_accent_semi)
}

/* reset general border-radius */
input[type=reset],input[type=submit],button,select,textarea,input[type=checkbox],input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=time],input[type=week],.woocommerce ul.products li.product .button,.woocommerce a.button,.woocommerce #respond input#submit,.woocommerce #respond input#submit.alt,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce button.button.alt,.woocommerce button.button,.woocommerce a.button,.woocommerce a.button.alt,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.loops-wrapper.polaroid .post,.loops-wrapper.overlay .post,.loops-wrapper.auto_tiles > .product,.loops-wrapper.auto_tiles .post-image + .post-content,.loops-wrapper.auto_tiles > .post,.post-image img,.product img, ul.products li.product .post-image,#cart-wrap .product-image img,.woocommerce div.product div.images img,.woocommerce-product-gallery__wrapper .tf_swiper-container-initialized,#add_payment_method table.cart img,.woocommerce-cart table.cart img,.woocommerce-checkout table.cart img,.select2-dropdown,.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow,#slide-cart .button,#slide-cart .product-image img,.woocommerce-cart #content table.cart td.actions .coupon .input-text,.woocommerce span.onsale,.woocommerce ul.products li.product .onsale,.woocommerce table.shop_table,.woocommerce-checkout #payment,#add_payment_method #payment ul.payment_methods li,.woocommerce-cart #payment ul.payment_methods li,.woocommerce-checkout #payment ul.payment_methods li,.woocommerce-error, .woocommerce-info, .woocommerce-message,.woocommerce-page .cart-collaterals .cart_totals,body:not(.footer-block) #footer .back-top a,#main-nav .highlight-link > a,.pagenav a,.pagenav span,.pagenav .current,a.load-more-button,.more-link,.widget .feature-posts-list .post-img{
	border-radius:0
}

/************************************************************************************
HEADING
*************************************************************************************/

h1,h2,h3,h4,h5,h6{    
    color:inherit    
}
h1{
    font:700 4.2em "Comfortaa";
    text-transform:uppercase;
    letter-spacing:.03em
}
h2{    
    font:600 3.75em "Comfortaa";
    text-transform:uppercase;
    letter-spacing:.05em
}
h3{
    font:700 1.875em "Comfortaa";
    text-transform:uppercase;
    letter-spacing:.07em
}
h5{    
    font:700 1.125em "Comfortaa";
    letter-spacing:.1em
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap.fixed-header,
.transparent-header #headerwrap.fixed-header{
    background-color:rgba(255, 255, 255, .85)
}
#headerwrap{
    background:#fff
}
#site-logo{
    font-family:'Josefin Sans',Arial,sans-serif;
    letter-spacing:0
}
.header-horizontal #site-logo{
    font:400 3em 'Josefin Sans',Arial,sans-serif
}

/* MAIN NAVIGATION
================================================ */
#main-nav a{
    font:700 .94em 'Comfortaa';
    text-transform:uppercase
}
.header-horizontal #main-nav{
    margin-top:10px !important
}
.header-horizontal #main-nav a{
    letter-spacing:.05em;
    padding:1em 1em 1.65em
}
.header-horizontal #main-nav .current_page_item > a,
.header-horizontal #main-nav .current-menu-item > a,
.header-horizontal #main-nav > li > a:hover{
    background:url('images/menu-active.png') no-repeat center bottom;
    color:#404040;
    transition:none
}

/* Cart Icon*/
.header-horizontal .cart-icon{
    margin-left:10px;
    position:relative
}
.header-horizontal .pull-down + .cart-icon{
    margin-left:20px
}
.header-horizontal .cart-icon:before{
    content:"";
    width:1px;
    height:40px;
    background:rgba(169, 169, 169, .3);
    position:absolute;
    top:50%;
    transform:translateY(-50%)
}
.header-horizontal .cart-icon-link{
    margin-left:.8em
}
.cart-wrap a span{
    vertical-align:super;
    margin:0 0 0 -7px;
    line-height:1em
}

/* HEADER OVERLAY 
================================================ */

.header-overlay.mobile-menu-visible #headerwrap{
    background-color:rgba(130, 211, 218, .94)
}

/* Transparent Header */
.transparent-header #headerwrap,
.transparent-header .header-icons a{
    color:#404040
}
.transparent-header .header-icons a:hover{
    color:#68bfc6
}

/* HEADER STRIPE
================================================ */

.header-stripe #site-logo{
    background-color:#82d3da;
    font-size:2em
}
.header-stripe #site-logo a{
    color:#fff
}
.header-stripe #main-nav > li > a{
    padding:1.5em .95em
}

/************************************************************************************
BUILDER
*************************************************************************************/

/* Top Banner*/
.location-hours ul{
    margin-left:0;
    text-transform:uppercase
}
.spa-info .location-hours li{
    border-bottom:1px solid #82d3da;
    width:94%
}
.location-hours li{
    padding-bottom:.875em;
    float:left;
    width:100%
}
.location-hours strong{
    float:left;
    font-weight:400;
    width:47%
}
.location-hours em{
    font-style:normal;
    float:right
}
ul{
    margin-left:0;
    list-style:none
}
li .fa.fa-circle{
    color:#82d3da;
    font-size:12px;
    padding-right:15px
}

/* Fancy Heading */
.module-fancy-heading:not(.inline-fancy-heading) .tb_fancy_heading_icon_wrap{
	margin-top:0
}
.module-fancy-heading .tb_fancy_heading_icon img{
	width:22px;
	height:22px;
	vertical-align:middle
}

/* Image Caption */
.service-block .module-image.image-overlay .image-wrap noscript + .image-content,
.service-block .module-image.image-overlay .image-wrap a + .image-content,
.service-block .module-image.image-overlay img + .image-content{
    bottom:-2.8125em;
    left:50%;
    transform:translateX(-50%)

}
.module-image.image-overlay .image-content{
    background:#82d3da
}
.service-block .module-image.image-overlay .image-content{
    text-align:center;
    width:auto;
    min-width:20em;
    padding:3% 4%
}
.service-block .module-image.image-overlay .image-content h3{
    margin-bottom:0;
    font-weight:400
}
.gallery-block .image-wrap .image-content{
    width:100%;
    height:100%;
    left:0;
    top:0;
    margin:0;
    opacity:0;
    transition:opacity .3s ease .1s, background-color .3s ease .1s;
    padding:1.375em;
    text-align:center
}
.gallery-block .image-wrap .image-content:before{
    content:"";
    width:99%;
    height:99%;
    display:inline-block;
    border:2px solid #fff
}
.gallery-block .image-wrap:hover .image-content{
    background:rgba(130, 211, 218, .9);
    cursor:pointer;
    opacity:1
}
.gallery-block .image-wrap .image-content h3{
    font-size:1.125em;
    left:50%;
    position:absolute;
    top:50%;
    transform:translate(-50%, -50%)
}

/* Service Menu Module */
.module-service-menu{
    border-bottom:1px solid rgba(0,0,0,.2)
}
.module-service-menu.image-top .tb-image-content{
    margin-bottom:0;
    margin-top:6%
}
.module-service-menu .tb-menu-title{
    font:400 1em 'Varela Round',Arial,sans-serif;
    float:left;
    text-transform:none
}
.module-service-menu .tb-menu-price{
    float:right;
    font:400 1em 'Varela Round',Arial,sans-serif;
    margin-top:0
}

/* Newsletter */
.newsletter-block h2{
    font:400 3.125em "Comfortaa"
}
.mc4wp-form label{
    display:none
}
.mc4wp-form input[type="email"]{
    float:left;
    font-size:14px;
    height:62px;
    margin-right:0;
    padding:.7em 1.75em;
    max-width:30em;
    border-color:#fff;
    color:#404040
}
.mc4wp-form input[type="submit"]{
    background:var(--theme_accent);
    height:62px;
    padding:.7em 2em;
    font:400 14px 'Comfortaa';
    margin-left:0
}
.mc4wp-form input[type="submit"]:hover,
.mc4wp-form input[type="submit"]:focus{
    background:var(--theme_accent_semi)    
}


/* Pricing Table */
.module-pricing-table .module-pricing-table-price{
    font:700 3.75em/1em 'Comfortaa';
    letter-spacing:.05em;
    margin:0
}
.module-pricing-table .module-pricing-table-description{
    font-size:1.5em;
    text-transform:uppercase;
    letter-spacing:.05em
}
.module-pricing-table .module-pricing-table-features{
    font-size:.875em;
    line-height:1.5em;
    color:#fff;
    padding:0;
    letter-spacing:.03em
}
.module-pricing-table.transparent,
.module-pricing-table.transparent .module-pricing-table-header.transparent{
    background:transparent;
    border-color:transparent
}


/* Buttons */
.module-buttons.squared{
	font:.875em 'Comfortaa';
	letter-spacing:.07em;
	text-transform:uppercase
}
.module.module-buttons a.pink.builder_button{
    background-color:var(--theme_accent);
    border-color:var(--theme_accent)
}
.module.module-buttons a.pink.builder_button:hover{
    background-color:var(--theme_accent_semi);
    border-color:var(--theme_accent_semi)
}

/* Border Button */
.module-buttons.outline a{
    border-width:2px;
    letter-spacing:.1em
}
.module-buttons.outline{
    font:.875em 'Comfortaa';
    text-transform:uppercase
}
.module.module-buttons.outline a.pink.builder_button{
    border-color:var(--theme_accent);
    color:#404040
}
.module.module-buttons.outline a.pink.builder_button:hover{
    background-color:var(--theme_accent) !important;
    color:#fff
}

/* Contact Form */
.builder-contact input[type="text"],
.builder-contact input[type="password"],
.builder-contact input[type="search"],
.builder-contact input[type="email"],
.builder-contact input[type="url"],
.builder-contact input[type="tel"]{
    max-width:100%;
    border:none;
    height:3.75em;
    padding:1em
}
.builder-contact textarea{
    border:none;
    padding:1em
}
.contact-info p{
    line-height:1.875em
}
.contact-info h3{
    margin-bottom:0
}

/* Blog Post */
.project-date, .project-client,
.project-services, .project-view{
    color:var(--theme_accent)
}

/************************************************************************************
FOOTER
*************************************************************************************/

#footerwrap{
    background:url('images/footer-bg.jpg') no-repeat left bottom / 100%;
    border-top:0;
    margin-top:4em;
    padding:10% 0 24%
}
.footer-text{
    color:#404040
}
.footer-text .one{
    font-size:1.5em;
    letter-spacing:.05em 
}
.footer-text .one h3{
    font-size:1.5em;
    margin-bottom:1.3em
}
.footer-text .two h3{
    color:#82d3da;
    margin-top:1.5em;
    font:400 2.2em "Comfortaa"
}
.footer-nav a{
    color:#404040
}
.footer-nav a:hover{
    color:var(--theme_accent)
}
.footer-widgets .widgettitle{
    color:#82d3da
}
/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
.woocommerce ul.products li.product .button,
.woocommerce a.button.disabled,
.woocommerce button.button.disabled,
.woocommerce button.button.alt.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],/* for disabled state */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
    font:.875em 'Comfortaa';
    padding:1.125em .9em
}
.woocommerce ul.products li.product .button{
	font-size:.75em;
    padding:1em 1.25em
}
.woocommerce ul.products li.product .button:hover,
.woocommerce a.button.alt.disabled:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover{
    background-color:var(--theme_accent_semi)
}
.woocommerce ul.products li.product h3,
.wc-products .product h3{
    border-bottom:1px solid rgba(0,0,0,.2);
    margin-bottom:.9375em;
    padding-bottom:1em
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price{
    color:#82d3da;
    font-size:1em
}
.woocommerce ul.products li.product h3 a,
.woocommerce .product h3 a{
    font:700 1.125em 'Comfortaa';
    color:#404040;
    text-transform:uppercase
}
.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce ul.products li.product h3 a:hover,
.woocommerce .product h3 a:hover{
    color:var(--theme_accent);
    text-decoration:none
}
.woocommerce .quantity .qty{
    padding:.825em .5em
}
.woocommerce-page #content table.cart td.actions .coupon .input-text{
	padding:.85em;
	width:8.5em
}
/* OPTIN MODULE */
.tb_optin_horizontal form > div[class*="tb_optin_"]{
	padding:0
}
.module-optin .tb_optin_submit button{
	border-radius:0;
	background-color:rgba(241, 164, 164, 1)
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

@media screen and (max-width:1200px){    
    #headerwrap #main-nav .current_page_item > a,
    #headerwrap #main-nav .current-menu-item > a,
    #headerwrap #main-nav a:hover,
    #headerwrap #main-nav ul a:hover{
        color:var(--theme_accent)
    }
    .header-leftpane #headerwrap #menu-icon,
    .header-rightpane #headerwrap #menu-icon{
        background-color:var(--theme_accent)
    }
    .newsletter-block h2{
        font-size:2.5em
    }
}

@media screen and (max-width:1000px){
    .gallery-block .image-wrap .image-content{
        position:absolute !important
    }
    .newsletter-block h2{
        font-size:2em
    }
    .mc4wp-form input[type="email"]{
        max-width:64%
    }    
}

@media screen and (max-width:760px){
	h1{
	    font-size:3.75em
	}
	h2{
	    font-size:2em
	}
    body #content{
        padding-top:5.75%
    }
    .service-block .module-image.image-overlay .image-content{
        position:absolute !important
    }
    .newsletter-block h2{
        font-size:1.6em
	}
	
	.woocommerce #content table.cart td.actions .coupon .input-text{
		width:48%
	}
}

@media screen and (max-width:680px){
    h1{
        font-size:3.4em
    }
    h2,
    .newsletter-block h2{
        font-size:2.5em
    }
    #site-logo,
    #site-logo a{
        font-size:1.5em !important
    }
    textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week]{
        max-width:100%
    }
    .module-pricing-table.transparent,
    .module-pricing-table.transparent .module-pricing-table-header.transparent{
        border-right:transparent !important
    }
    .contact-info{
        padding-left:0 !important
    }
    .mc4wp-form input[type="email"]{
        max-width:100%
	}
	
	.woocommerce #content table.cart td.actions .coupon .input-text{
		width:100%
	}
}
