.ui.module-alert{
    margin-bottom:2em;
    padding:1.5em 2em
}
.module-alert > .tf_close{
    position:absolute;
    top:7px;
    right:7px;
    padding:2px;
    font-size:14px;
    min-width:1.5em;
    min-height:1.5em;
    transition:transform .25s;
    transform-origin:center;
    border-radius:100%
}
.module-alert > .tf_close:before,
.module-alert > .tf_close:after{
    height:60%
}
.module-alert > .tf_close:hover{
    transform:rotate(90deg);
	background-color:rgba(200,200,200,.25)
}
.module-alert p{
    margin:0 0 5px
}
.module .alert-heading{
    color:inherit;
    font-size:140%;
    line-height:130%;
    margin:0 0 5px;
    padding:0
}
.module .alert-button{
    margin-top:5px
}
/* button left */
.module.button-left .alert-content{
    float:right;
    width:70%
}
.module.button-left .alert-button{
    float:left;
    width:25%;
    text-align:left
}
/* button bottom */
.module.button-bottom .alert-content,
.module.button-bottom .alert-button{
    width:auto!important;
    float:none;
    text-align:left
}
.module.button-bottom-center .alert-button,
.module.button-bottom .alert-button{
    margin-top:15px
}
/* button center */
.module.button-bottom-center .alert-content,
.module.button-bottom-center .alert-button{
    width:auto!important;
    float:none;
    text-align:center
}
/* transparent color */
.ui.module-alert.transparent{
    padding:0
}
.module.transparent.button-right .alert-button{
    margin-top:30px
}
.module-alert.transparent.button-right div.tf_close{
    top:8px
}
