.module.module-buttons a{
    text-decoration:none;
    display:inline-block
}
.module.module-buttons a:hover{
    text-decoration:none;
}
.module.module-buttons .tb_default_color{
    color:#555
}
.module-buttons-item + .module-buttons-item{
    margin-left:.4em
}
.module-buttons span{
    margin-left:.2em;
    margin-right:.2em
}
.module-buttons em{
    display:inline-block;
    font-size:16px;
	line-height:1
}
/* size */
.module-buttons.small em{
    font-size:12px
}
.module-buttons.small span{
    font-size:.8em
}
.module-buttons.large em{
    font-size:24px
}
.module-buttons.large span{
    font-size:1.2em
}
.module-buttons.xlarge span{
    font-size:1.4em
}
.module-buttons.none.small em{
    font-size:18px
}
.module-buttons.none.large em{
    font-size:30px
}
.module-buttons.xlarge em,
.module-buttons.none.xlarge em{
    font-size:36px
}
/* button styles */
.module.module-buttons.rounded a{
    border-radius:8px
}
.module.module-buttons.squared a{
    border-radius:0
}
.module.module-buttons.circle a{
    border-radius:50em
}
.module.module-buttons .transparent,
.module.module-buttons.transparent a{
    background:transparent;
    border:none;
}
.module.module-buttons.transparent a:hover{
    background:transparent
}
@media screen and (max-width:680px){
    .module-buttons span{
        font-size:.9em
    }
    .module-buttons.xlarge span,
    .module-buttons.large span{
        font-size:1.1em
    }
}