.module-social-share a{
	color:#fff;
	padding:.5em .9em;
	margin-right:.25em;
	margin-bottom:.25em;
	line-height:1;
	display:inline-flex;
	align-items:center;
	text-decoration:none;
	transition:color .5s ease-in-out,background-color .5s ease-in-out,opacity .5s ease-in-out
}
.module-social-share a:hover{
	text-decoration:none;
	opacity:.6
}
.module.tb_ss_shape_circle a{
	border-radius:30px;
	padding:.9em
}
.module.tb_ss_shape_rounded a{
	border-radius:8px
}
.module.tb_ss_shape_squared a{
	border-radius:0
}
.module-social-share a[data-type=facebook]{
	background-color:#3b5998
}
.module-social-share a[data-type=twitter]{
	background-color:#00acee
}
.module-social-share a[data-type=linkedin]{
	background-color:#0077B5
}
.module-social-share a[data-type=pinterest]{
        background-color:#e60223
}
.module-social-share a[data-type=email]{
	background-color:#999
}
.module.tb_ss_shape_none a{
	background-color:transparent;
	color:#000
}
.module.tb_ss_size_small span,
.module.tb_ss_size_small em{
	font-size:12px
}
.module.tb_ss_size_large span,
.module.tb_ss_size_large em{
	font-size:1.2em
}
.module.tb_ss_size_xlarge em{
	font-size:36px
}
.module.module-social-share span{
	padding-left:.3em
}
.module.tb_ss_size_xlarge span{
	font-size:1.4em
}