/*
Skin Name:Ultra Sport
Version:1.0
Demo URI:https://themify.me/demo/themes/ultra-sport/
Required Plugins:builder-contact, builder-maps-pro, builder-woocommerce, woocommerce
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#ea2079;
	--theme_accent_semi:rgba(234,32,121,.8);
}
body{
	color:#808080;
	font:1.1em/1.7em 'Open Sans', sans-serif
}
a{
	color:var(--theme_accent)
}
a:hover{
	color:#242856
}

/* reset general border-radius */
input[type=reset],input[type=submit],button,select,textarea,input[type=checkbox],input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=time],input[type=week],.woocommerce ul.products li.product .button,.woocommerce a.button,.woocommerce #respond input#submit,.woocommerce #respond input#submit.alt,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce button.button.alt,.woocommerce button.button,.woocommerce a.button,.woocommerce a.button.alt,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.loops-wrapper.polaroid .post,.loops-wrapper.overlay .post,.loops-wrapper.auto_tiles > .product,.loops-wrapper.auto_tiles .post-image + .post-content,.loops-wrapper.auto_tiles > .post,.post-image img,.product img, ul.products li.product .post-image,#cart-wrap .product-image img,.woocommerce div.product div.images img,.woocommerce-product-gallery__wrapper .tf_swiper-container-initialized,#add_payment_method table.cart img,.woocommerce-cart table.cart img,.woocommerce-checkout table.cart img,.select2-dropdown,.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow,#slide-cart .button,#slide-cart .product-image img,.woocommerce-cart #content table.cart td.actions .coupon .input-text,.woocommerce span.onsale,.woocommerce ul.products li.product .onsale,.woocommerce table.shop_table,.woocommerce-checkout #payment,#add_payment_method #payment ul.payment_methods li,.woocommerce-cart #payment ul.payment_methods li,.woocommerce-checkout #payment ul.payment_methods li,.woocommerce-error, .woocommerce-info, .woocommerce-message,.woocommerce-page .cart-collaterals .cart_totals,body:not(.footer-block) #footer .back-top a,#main-nav .highlight-link > a,.pagenav a,.pagenav span,.pagenav .current,a.load-more-button,.more-link,.widget .feature-posts-list .post-img{
	border-radius:0
}

/* FORMS
================================================ */
input[type=reset],input[type=submit],button{
	background-color:transparent;
	border:none;
	font:bold .85em 'Titillium Web',Arial,sans-serif;
	letter-spacing:.2em;
	padding:.8em 1.4em
}
input[type=reset]:hover,input[type=submit]:hover,button:hover{
	box-shadow:none;
	transform:none
}
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week]{
	border:1px solid #ccc;
	background-color:transparent;
	padding:.5em;
	text-transform:none
}
#commentform p label{
	display:inline-block
}
/* form input:focus */
textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=search]:focus,input[type=email]:focus,input[type=url]:focus,input[type=number]:focus,input[type=tel]:focus,input[type=date]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus{
	border-color:var(--theme_accent)
}

.form-submit-wrapper{
	position:relative;
	background-color:var(--theme_accent);
	margin-left:2%;
	display:inline-block;
	cursor:pointer
}
.form-submit-wrapper:hover{
	background-color:#242856
}
.form-submit-wrapper input[type=submit],
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit.alt:hover{
	background-color:transparent
}

/* HEADINGS
================================================ */
h1,h2,h3,h4,h5,h6{
	font-family:'Titillium Web',Arial,sans-serif;
	font-weight:bold
}
h1,.page-title{
	font-family:'Titillium Web',Arial,sans-serif;
	font-weight:bold;
	font-size:4em
}
h2{
	font-size:2.4em;
	line-height:1.2em
}
h3{
	font-size:2em;
	line-height:1.4em
}
/* fancy heading */
.fancy-heading{
	color:#242856;
	letter-spacing:.07em;
	position:relative;
	font-weight:600
}
.fancy-heading .main-head{
	display:inline-block
}
.fancy-heading .main-head,
.fancy-heading .sub-head{
	position:relative;
	line-height:normal
}
.module.module-fancy-heading .sub-head,
.fancy-heading .sub-head{
	font-size:.7em;
	margin-top:-.3em;
	padding:0
}
.fancy-heading .main-head:after{
	content:"";
	display:block;
	border-bottom:9px solid var(--theme_accent);
	width:100%;
	position:absolute;
	top:auto;
	bottom:11px;
	z-index:-1;
	left:0;
	margin:0
}
.fancy-heading .sub-head:before,
.tb_hide_divider .main-head:after{
	display:none
}
.fancy-heading.tf_textl span,
.fancy-heading.tf_textr span{
	display:inline-block
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap{
	border-bottom:none;
	box-shadow:0 1px 15px rgba(0,0,0,0.12)
}

/* SITE LOGO
================================================ */
#site-logo{
	font-family:'Titillium Web',Arial,sans-serif;
	font-size:1.7em;
	font-weight:bold;
	letter-spacing:.01em;
	text-transform:uppercase
}

/* MAIN NAVIGATION
================================================ */
#main-nav a{
	font-family:'Titillium Web',Arial,sans-serif;
	font-weight:bold;
	text-transform:uppercase
}
#main-nav ul a{
	letter-spacing:normal;
	text-transform:none
}

/* remove dropdown rounded corners */
#main-nav li:not(.themify-widget-menu) > ul,
#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu{
	border-radius:0
}

/* mega menu */
#main-nav .mega-menu-posts .post,
#main-nav .mega-menu-posts .post-title{
	text-align:left;
	font-weight:bold
}

/* CART ICON
================================================ */
.cart-wrap a span{
	position:relative;
	margin:0 0 -3px -6px;
	padding:3px 0;
	z-index:1;
	right:0;
	bottom:0
}
.cart-wrap a span:before{
	content:"";
	display:block;
	width:calc(100% + 15px);
	height:100%;
	background-color:inherit;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	margin-left:-2px;
	z-index:-1;
	pointer-events:none;
	border:none;
	transform:skewX(-30deg);
	transform-origin:right top
}
.pull-down{
	padding:5px 12px 6px
}
.cart-wrap a:hover,
.search-button:hover,
.pull-down:hover,
.widget .social-links a:hover{
	color:var(--theme_accent)
}

/* SEARCH LIGHTBOX
================================================ */
.search-option-tab li:hover a,
.search-option-tab li.active a{
	box-shadow:inset 0 -3px 0 0 var(--theme_accent)
}
.view-all-button:after{
	border-color:var(--theme_accent)
}
.search-button{
	margin-left:5px;
	padding:10px 11px
}

/* TRANSPARENT HEADER
================================================ */
.transparent-header #headerwrap{
	box-shadow:none
}
.transparent-header #headerwrap.fixed-header{
	background-color:rgba(255,255,255,.9);
	color:#000
}
.transparent-header #headerwrap a{
	transition:none
}

/* HEADER STRIPE
================================================ */
.header-stripe #site-logo{
	background-color:var(--theme_accent)
}

/* HEADER OVERLAY
================================================ */
.header-overlay.transparent-header .fixed-header,
.header-overlay.mobile-menu-visible #headerwrap{
	background-color:rgba(255,255,255,.9);
	color:#000
}
.header-overlay.transparent-header .fixed-header .header-icons a,
.header-overlay.mobile-menu-visible .header-icons a,
.header-overlay.mobile-menu-visible #header,
.header-overlay.mobile-menu-visible #header a,
.header-overlay.mobile-menu-visible #mobile-menu.sidemenu{
	color:#000
}
.header-overlay.transparent-header .fixed-header .header-icons a:hover,
.header-overlay.mobile-menu-visible .header-icons a:hover,
.header-overlay.mobile-menu-visible #header a:hover{
	color:var(--theme_accent)
}

/************************************************************************************
POST
*************************************************************************************/
.comment-title,
.comment-reply-title{
	font-size:1.1em;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:.05em;
	line-height:1.6em
}
/* post meta */
.post-meta{
	color:#959595;
	text-transform:capitalize
}
.post-author{
	text-transform:uppercase
}
/* loops wrapper */
.loops-wrapper.grid4 .type-post .post-image,
.loops-wrapper.grid3 .type-post .post-image,
.loops-wrapper.grid2 .type-post .post-image{
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden
}
.loops-wrapper.grid4 .type-post .post-image img,
.loops-wrapper.grid3 .type-post .post-image img,
.loops-wrapper.grid2 .type-post .post-image img{
	transition:all .3s;
	transform:scale(1)
}
.loops-wrapper.grid4 .type-post:hover .post-image img,
.loops-wrapper.grid3 .type-post:hover .post-image img,
.loops-wrapper.grid2 .type-post:hover .post-image img{
	transform:scale(1.1)
}
.loops-wrapper.grid4 .type-post .post-title,
.loops-wrapper.grid3 .type-post .post-title,
.loops-wrapper.grid2 .type-post .post-title{
	transition:all .3s;
	transform:none
}
.loops-wrapper.grid4 .type-post:hover .post-title,
.loops-wrapper.grid3 .type-post:hover .post-title,
.loops-wrapper.grid2 .type-post:hover .post-title{
	transform:translateY(-5px)
}
/* boxed post content */
.loops-wrapper.grid4.boxed .type-post:hover,
.loops-wrapper.grid3.boxed .type-post:hover,
.loops-wrapper.grid2.boxed .type-post:hover{
	box-shadow:0 0 43px rgba(102,102,102,.11)
}
.loops-wrapper.boxed .post{
	text-align:inherit
}
.post-image img,
.loops-wrapper.boxed .post img,
.woocommerce .boxed .product,
.loops-wrapper.boxed .post{
	border-radius:0
}
.loops-wrapper.boxed .post-content{
	padding-bottom:.5em
}
.loops-wrapper.boxed .post-content-inner {
    display:flex;
    flex-wrap:wrap
}
.loops-wrapper.boxed .post-date-wrap{
    order:1
}
/* SINGLE */
.single .post-content .post-date,
.single .post-meta,
.single .post-title{
	text-align:left
}
.single .post-content,
.single .related-posts,
.single .commentwrap{
	margin-left:15%;
	margin-right:15%
}

/* PAGINATION
================================================ */
.pagenav a,
.pagenav span{
	border:none;
	position:relative;
	z-index:0;
	margin:0 6px;
	font-family:'Titillium Web',Arial,sans-serif;
	color:inherit
}
.pagenav a:hover{
	background:none;
	color:var(--theme_accent)
}
.pagenav .current{
	background-color:var(--theme_accent);
	color:#fff
}
.pagenav .current:before{
	content:"";
	display:block;
	background-color:inherit;
	width:136%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	transform:skewX(-20deg);
	transform-origin:right top
}

/************************************************************************************
WIDGETS
*************************************************************************************/
.widgettitle{
	font-family:'Titillium Web',Arial,sans-serif;
	font-size:.9em;
	font-weight:600
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	background-color:#242856;
	color:#fff;
	font-size:.9em
}
#footerwrap a{
	color:var(--theme_accent)
}
#footerwrap a:hover{
	color:#fff
}

/* FOOTER LOGO
================================================ */
#footer-logo{
	font-family:'Titillium Web',Arial,sans-serif;
	font-weight:600;
	font-size:1.8em;
	text-transform:uppercase
}
#footer-logo a{
	color:#fff
}

/* FOOTER WIDGETS
================================================ */
.footer-widgets .widgettitle{
	color:inherit;
	font-weight:600
}

/* FOOTER TEXT
================================================ */
.section-col + .footer-text{
	text-align:center
}
.section-col + .footer-text .one,
.section-col + .footer-text .two{
	display:inline-block;
	vertical-align:middle
}
.section-col + .footer-text .one{
	margin-right:.4em
}

/* FOOTER BACK TO TOP
================================================ */
#footerwrap .footer-tab,
#pagewrap .back-top-float,
.back-top:not(.back-top-float) .arrow-up a{
	border-radius:5px
}
#footerwrap .footer-tab{
	border-radius:0 0 5px 5px
}

/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* BUTTON
================================================ */
.woocommerce-product-search button,
#slide-cart .button,
.woocommerce .button{
	position:relative;
	z-index:0
}
#slide-cart .button,.woocommerce ul.products li.product .button,.woocommerce a.button.disabled,.woocommerce button.button.disabled,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled],.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt{
	font-family:'Titillium Web',Arial,sans-serif;
	font-weight:700;
	font-size:.7em;
	padding:.65em 1.65em;
	letter-spacing:.05em;
	line-height:normal;
	transition:all .3s
}
#slide-cart .button:hover,.woocommerce ul.products li.product .button:hover,.woocommerce a.button.alt.disabled:hover,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover{
	background-color:#242856;
	color:#fff
}
#cart-wrap .button:before,
#slide-cart .button:before,
.form-submit-wrapper:before,
.woocommerce ul.products li.product .button:before,
.woocommerce #content input.button:before,
.woocommerce #respond input#submit:before,
.woocommerce #content input.button.alt:before,
.woocommerce #respond input#submit.alt:before,
.woocommerce a.button:before,
.woocommerce button.button:before,
.woocommerce input.button:before,
.woocommerce a.button.alt:before,
.woocommerce button.button.alt:before,
.woocommerce input.button.alt:before{
	content:"";
	display:block;
	width:115%;
	height:102%;
	background-color:inherit;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
	pointer-events:none;
	border:none;
	margin:auto;
	transform:skewX(-20deg);
	transform-origin:right top
}

/* ARCHIVE PRODUCTS
================================================ */
/* on sale */
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale{
	font-family:'Titillium Web',Arial,sans-serif;
	font-weight:600;
	font-size:.7em;
	line-height:normal;
	margin:20px;
	padding:.11em 5px;
	min-height:auto;
	left:0;
	right:auto;
	text-transform:none;
	transform:none
}
.woocommerce span.onsale:before{
	content:"";
	display:block;
	width:132%;
	height:100%;
	background-color:inherit;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
	pointer-events:none;
	border:none;
	margin:auto;
	transform:skewX(-30deg);
	transform-origin:right top
}
.single-product.woocommerce span.onsale,
.single-product.woocommerce ul.products li.product .onsale{
	margin:0 15px
}
/* product gray bg */
.woocommerce ul.products li.product .post-image{
	position:relative;
	z-index:0
}
.woocommerce .product .woocommerce-product-gallery__wrapper:before,
.woocommerce ul.products li.product .post-image:before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-1;
	margin:30px 0;
	background-color:rgba(45,45,45,.06);
	transition:background-color 1s
}
.woocommerce div.product:hover div.images .woocommerce-product-gallery__wrapper:before,
.woocommerce ul.products li.product:hover .post-image:before{
	background-color:#242856
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper:before{
	margin:50px 0
}
.woocommerce #content div.product div.summary{
	margin-top:50px
}

/* archive product title */
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .woocommerce-loop-product__title{
	font:300 1em 'Titillium Web',Arial,sans-serif;
    padding:0;
    margin:0
}
/* order by */
.woocommerce .woocommerce-ordering select{
	border:2px solid var(--theme_accent);
	box-sizing:border-box;
	padding:.8em 1em;
	font-size:.75em;
	text-transform:uppercase
}

/* SINGLE PRODUCTS
================================================ */
/* breadcrumb */
.woocommerce .woocommerce-breadcrumb{
	color:#242856;
	font-size:.9em;
	font-weight:normal
}
.woocommerce .woocommerce-breadcrumb a{
	color:var(--theme_accent)
}
/* WC zoom icon to left corner */
.woocommerce div.product div.images .woocommerce-product-gallery__trigger{
	right:auto;
	left:5px;
	top:60px
}
/* product title */
.woocommerce div.product .product_title{
	font:bold 2.1em 'Titillium Web',Arial,sans-serif;
	margin:0 0 .4em;
	letter-spacing:-.015em
}
.woocommerce ul.products li.product h3{
	margin:0
}
.woocommerce ul.products li.product .price{
	color:var(--theme_accent);
	margin-bottom:.3em;
	font-weight:bold
}
/* price */
.woocommerce div.product p.price,
.woocommerce div.product span.price{
	color:var(--theme_accent);
	font-weight:bold;
	margin:0 0 .8em
}
.woocommerce ul.products li.product .price ins,
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins{
	font-weight:bold;
	letter-spacing:.08em
}
.woocommerce ul.products li.product .price del,
.woocommerce div.product p.price del,
.woocommerce div.product span.price del{
	color:#242856;
	opacity:1;
	letter-spacing:.05em;
	margin-right:.1em
}
/* quantity */
.woocommerce .quantity{
	position:relative;
	border:1px solid #ccc;
	transform:skewX(-20deg)
}
.woocommerce .quantity .qty{
	border:none;
	width:3.5em;
	padding:.05em .2em .15em 1em;
	transform:skewX(20deg);
	font:bold .8em 'Titillium Web',Arial,sans-serif
}
.woocommerce div.product form.cart div.quantity{
	margin:0 6px 0 0
}
.woocommerce .woocommerce-cart-form .quantity{
	max-width:57px
}
/* tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	font:bold 1.3em 'Titillium Web',Arial,sans-serif;
	text-transform:none
}
.woocommerce form .form-row textarea,
.woocommerce #reviews #comment{
	height:170px
}
/* related products */
.woocommerce .related h2{
	color:#242856;
	font-size:2em;
	text-transform:none;
	text-align:center
}
.woocommerce .related.product h2,
.woocommerce .upsells.product h2{
    font-size:2.4em;
    text-transform:none;
    text-align:center
}
.related-posts .post-content{
    margin:0
}

/* CART
================================================ */
/* coupon */
.woocommerce-page #content table.cart td.actions .coupon{
	float:none;
}
.woocommerce-page #content table.cart td.actions .coupon .form-submit-wrapper,
.woocommerce-page #content table.cart td.actions .coupon button[type=submit]{
	float:left
}
.woocommerce-page #content table.cart td.actions .coupon .form-submit-wrapper{
	margin-right:20px;
	background-color:transparent
}
.woocommerce-page #content table.cart td.actions .coupon .form-submit-wrapper:before{
	border:1px solid
}
.woocommerce-page #content table.cart td.actions .coupon .input-text{
    padding:.575em .65em;
    width:7em;
    font-size:.75em;
	font-family:'Titillium Web',Arial,sans-serif;
    border:none;
    box-shadow:none;
    color:#000
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.alt{
	padding:.5em;
	width:calc(100% - 17%);
	margin-left:17px
}

/* CHECKOUT
================================================ */
.woocommerce-checkout #payment #place_order{
	margin-right:27px
}

/* ADD TO CART BUTTON ANIMATION
================================================ */
.woocommerce ul.products li.product .button{
	padding:.6em 1.25em;
	transform:translateY(-10px);
	opacity:0;
	visibility:hidden
}
.woocommerce ul.products li.product:hover .button{
	transform:none;
	opacity:1;
	visibility:visible
}

/************************************************************************************
BUILDER
*************************************************************************************/
.ui.builder_button{
	font-family:'Titillium Web',Arial,sans-serif;
	font-weight:600;
	font-size:1.05em;
	text-transform:uppercase;
	border:none;
	position:relative;
	z-index:0;
	margin-left:1em
}
.module_column .module.module-buttons .tb_default_color{
	background-color:var(--theme_accent);
	color:#fff
}
.module_column .module.module-buttons .tb_default_color:hover{
	background-color:#242856
}
.module-buttons-item a:before{
	content:"";
	display:block;
	width:112%;
	height:102%;
	background-color:inherit;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
	pointer-events:none;
	border:none;
	margin:auto;
	transform:skewX(-20deg);
	transform-origin:right top
}
.module-buttons.outline a:before{
	border:1px solid
}
.module-buttons.rounded a:before{
	border-radius:8px
}
.module-buttons.circle a:before{
	display:none
}

/* MODULE SLIDER */
.themify_builder_slider_wrap .carousel-nav-wrap{
	margin-top:1em
}
.themify_builder_slider_wrap .carousel-pager a{
	background-color:#242856;
	width:13px;
	height:13px;
	margin:0 3px
}
.themify_builder_slider_wrap .carousel-pager a:hover,
.themify_builder_slider_wrap .carousel-pager a.selected{
	background-color:var(--theme_accent);
	border-color:var(--theme_accent)
}

.themify_builder_slider_wrap .testimonial-content{
	position:relative;
	padding-left:35px;
	padding-top:25px
}
.themify_builder_slider_wrap .testimonial-content:before{
	content:"\201C";
	color:var(--theme_accent);
	display:inline-block;
	font-size:100px;
	line-height:1em;
	position:absolute;
	left:0;
	top:0
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media (max-width:768px){
	.page-title,h1{
		font-size:3em
	}
	h2{
		font-size:1.8em
	}
	h3{
		font-size:1.6em
	}
	.woocommerce .woocommerce-cart-form .quantity{
		margin-left:auto
	}
    .woocommerce-page #content table.cart td.actions .coupon{
    	display:flex
    }
	.woocommerce-page #content table.cart td.actions .coupon .form-submit-wrapper{
		margin-right:auto
	}
    .woocommerce-page #content table.cart tr td.actions .coupon .input-text{
    	width:100%
    }
	.woocommerce-page #content table.cart td.actions .coupon .form-submit-wrapper,
	.woocommerce-page #content table.cart td.actions .coupon button[type=submit]{
		width:40%
	}
	.woocommerce-page #content table.cart td.actions .coupon button[type=submit]{
		margin-right:auto;
		margin-left:auto
	}
	.woocommerce-page #content table.cart button.button:disabled,
	.woocommerce-page #content table.cart button.button:disabled[disabled]{
		width:calc(100% - 13%);
		float:none
	}
}
@media (max-width:760px){
	/* SINGLE */
	.single .post-content,
	.single .related-posts,
	.single .commentwrap{
		margin-left:0;
		margin-right:0
	}
}