.sidemenu{
	background-color:#242847;
	color:#fff
}
.transparent-header .fixed-header #main-nav > .current-menu-item.highlight-link > a,
.transparent-header .fixed-header #main-nav > li > a,
#headerwrap a{
	color:#fff
}
#main-nav .has-mega-sub-menu .mega-sub-menu,
#main-nav .has-mega-column > .sub-menu{
	color:inherit
}
#headerwrap #main-nav .current_page_item > a,
#headerwrap #main-nav .current-menu-item > a,
#headerwrap #main-nav a:hover,
#headerwrap a:hover,
#headerwrap #main-nav ul li a:hover{
	color:#e4c272
}
.header-horizontal .cart-wrap,
.header-horizontal .search-button{
	float:none;
	margin-left:auto
}
.header-horizontal .search-button:before{
	font-size:18px
}
#headerwrap #main-nav a,
#headerwrap #main-nav ul a{
	border-bottom:1px solid rgba(255,255,255,.3)
}
.header-horizontal .cart-wrap a i:before{
	font-size:1.4em
}