body{
	background-color:#f7f7f7
}
.module_row .row_inner{
	width:90%;
	margin:auto
}
.boxed-content #pagewrap{
	width:1230px;
	margin:0 auto;
	position:relative;
	max-width:94%
}
.transparent-header #headerwrap{
	position:static
}
.fixed-header-enabled #headerwrap{
	position:relative
}
#headerwrap.fixed-header{
	position:fixed
}
.fixed-header .header-bar{
	display:block;
	float:left
}
.fixed-header .sidemenu .cart-icon{
	float:right;
	margin-top:8px;
	position:relative;
	z-index:1
}
#headerwrap,#footerwrap{
	background:none;
	border:none;
	box-shadow:none
}
#header{
	text-align:center;
	padding:1em 0 2em;
}
#body{
	background-color:#fff;
	padding:3.15%;
	box-shadow:0 3px 16px rgba(0,0,0,.10);
	border-radius:8px;
}
.full_width #body{
	padding:0
}
.search-button{
	margin-right:0
}
#main-nav-wrap{
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative
}
#main-nav{
	margin-top:15px;
}
.footer-horizontal-left .back-top,
.footer-horizontal-right .back-top,
.footer-left-col .back-top,
.footer-right-col .back-top{
	left:30px
}