#body,
#footerwrap{
	padding-left:69px
}
.row_inner{
	width:auto;
	max-width:90%;
	margin:0 auto
}
.slide-cart-visible.full_width #body,
.mobile-menu-visible.full_width #body{
	padding-left:0
}
.announcement-bar-showing .themify_announcement.top{
    top:0
}
.sidemenu-left.announcement-top.announcement-bar-showing #mobile-menu.sidemenu-on{
	padding-top:90px
}
.header-minbar.announcement-top.announcement-bar-showing #headerwrap #menu-icon{
	top:90px
}
.sidemenu-active #headerwrap{
	float:left;
	width:318px;
	position:fixed;
	height:100%;
	left:-249px;
	transition:left .2s ease-in-out;
	z-index:9999;
	border:none;
	box-shadow:none
}
.transparent-header #headerwrap{
	background-color:rgba(0,0,0,.3)
}
#header{
	position:absolute;
	height:100%;
	width:248px;
	font-size:.95em;
	padding:0
}
.header-bar{
	transform:rotate(-90deg);
	transform-origin:0 0;
	position:fixed;
	bottom:-45px;
	left:0;
	height:69px;
	line-height:69px
}
.header-icons{
	display:block
}
#mobile-menu,
.header-widget{
	opacity:0
}
.cart-wrap .cart-icon-link{
	padding:0;
	margin:.3em 0 0;
	position:relative
}
.header-widget{
	height:auto
}
.sidemenu{
	transition:left .2s ease-in-out,top .2s ease-in-out,top .2s ease-in-out,bottom .2s ease-in-out,transform .2s ease-in-out,background-color .2s ease-in-out,color .2s ease-in-out;
	height:100%;
	width:250px;
	padding:40px 25px 25px;
	background-color:#fff;
	color:#000;
	display:block;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	position:fixed;
	top:0;
	z-index:11111;
	box-shadow:3px 0 12px -3px rgba(0,0,0,.07)
}
.sidemenu.sidemenu-on{
	box-shadow:3px 0 12px 0px rgba(0,0,0,.07)
}
#mobile-menu{
	left:-300px;
	transition:left .2s ease-out
}
#mobile-menu.sidemenu-on{
	left:0
}
.sidemenu-active{
	position:relative;
	left:0;
	transition:left .2s ease-in-out
}
.slide-cart-visible.sidemenu-right{
	left:319px;
	overflow-x:hidden
}
.sidemenu-active .header-widget{
	transition:opacity .2s ease-out
}
.sidemenu-active .header-widget{
  opacity:1
}
.sidemenu-left{
	left:319px
}
.sidemenu-left #mobile-menu.sidemenu-on{
	left:69px;
	opacity:1;
	visibility:visible;
	z-index:1
}
#site-logo{
	padding-top:0;
	margin:0 .3em 0 0;
	display:inline-block;
	vertical-align:middle
}
#site-logo img{
	height:30px;
	width:auto
}
#site-description{
	font-size:.9em;
	margin:0;
	display:inline-block
}
.social-widget .widget_search{
	display:block
}
#header .social-widget{
	margin:0;
}
#headerwrap #searchform-wrap{
	width:100%;
	display:block;
	float:none;
	clear:both;
	margin:1em 0
}
#headerwrap #searchform{
    width:100%
}
#headerwrap #searchform #s{
    position:static;
    width:100%;
    background-color:#eee;
	padding-left:40px
}
#headerwrap #searchform #s:focus,
#headerwrap #searchform #s:hover,
#headerwrap #searchform .tf_fa:hover + #s{
    width:100%
}
header .tf_s_dropdown .tf_search_result{
    right:auto;
    left:0;
    width:190px
}
#main-nav-wrap{
	margin:1em 0 1.5em
}
#main-nav li{
	clear:both;
	width:100%;
	display:block
}
#main-nav a{
	padding:.6em 0;
	color:inherit;
	width:100%
}
#main-nav .child-arrow{
	display:inline-block
}
.menu-item .child-arrow:hover{
	background:rgba(200,200,200,.25)
}
#main-nav li > .sub-menu{
	border:none;
	background:none;
	position:static;
	width:auto;	
	padding:.5em 0;
	margin:0 0 0 1em;
	letter-spacing:0;
	display:none;
	transition:none;
	opacity:1;
	transform:none;
	overflow:inherit;
	color:inherit;
	box-shadow:none
}
#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega > .sub-menu {
	padding:0;
	width: auto;
	margin:0;
}
#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-column > .sub-menu ul,
#main-nav .has-mega-sub-menu .mega-sub-menu ul{
	float:none;
	margin: 0 0 0 1em
}
#main-nav .has-mega-column .widgettitle,
#main-nav .has-mega-column > .sub-menu > .columns-sub-item > a,
#main-nav .has-mega-column > .sub-menu a{
	font-weight:400;
	text-transform:none
}
.header-minbar #gallery-controller .carousel-nav-wrap,
#main-nav li.mega-link.loading:before,
#main-nav .mega-sub-menu li:hover a:after,
#main-nav .mega-menu-posts{
	display:none
}
#main-nav .has-mega-column > .sub-menu .widget{
	margin-top:.5em;
	margin-bottom:.5em
}
#main-nav > li:last-child a,
#main-nav > li a{
	border-bottom:1px solid rgba(180,180,180,.2)
}
#headerwrap #main-nav > li li a{
	margin-bottom:0;
	padding:.6em 0
}
#headerwrap .col4-1,
#headerwrap .col4-2,
#headerwrap .col3-1{
	float:none;
	width:auto;
	margin:auto
}
#slide-cart{
	right:auto;
	left:-250px;
	width:250px
}
#slide-cart.sidemenu-on{
	right:auto;
	left:69px;
	box-shadow:-1px 0 15px rgba(0,0,0,.1)
}
.slide-cart #main-nav{
	margin-bottom:.5em
}
#headerwrap .header-icons{
	position:fixed;
	display:block;
	text-decoration:none;
	top:30px;
	left:0;
	font-size:1.4em;
	text-align:center;
	width:69px;
	z-index:9999;
	transition:left .2s ease-in-out;
	transform:none;
	min-width:initial
}
#menu-icon{
	display:inline-block;
	padding:14px 10px;
	margin:0
}
.mobile-menu-visible #menu-icon{
	padding:10px
}
.menu-icon-inner{
    width:26px;
    height:18px;
	margin:auto;
	display:block;
	transition:border .5s,transform .5s
}
.mobile-menu-visible .menu-icon-inner{
	border:none;
	height:26px;
	width:26px;
	overflow:hidden
}
.mobile-menu-visible .menu-icon-inner:hover{
	transform:rotateZ(90deg)
}
.mobile-menu-visible .menu-icon-inner:before,
.mobile-menu-visible .menu-icon-inner:after{
	transform:rotateZ(-45deg);
	top:50%
}
.mobile-menu-visible .menu-icon-inner:after{
	transform:rotateZ(45deg)
}
.header-minbar.mobile-menu-visible{
	overflow-x:hidden;
	overflow-y:auto
}
.body-overlay{
	display:none
}
@media screen and (max-width:680px){
	#menu-icon{
		width:20px;
		height:20px;
		margin:0 auto 6px;
		padding:12px 10px 8px
	}
	.mobile-menu-visible .menu-icon-inner,
	.mobile-menu-visible #menu-icon{
		height:20px;
		width:20px
	}
	.menu-icon-inner{
		height:16px;
		width:20px
	}
	#header{
		z-index:initial; /* reset z-index to prevent header cover menu-icon */
	}
	body.slide-cart-visible,
	.header-minbar.sidemenu-left{
		left:296px
	}
	.sidemenu-active #headerwrap{
		left:-204px;
		width:250px;
	}
	.slide-cart-visible #headerwrap,
	.mobile-menu-visible #headerwrap{
		left:0;
	}
	.header-bar{
		height:46px;
		line-height:46px;
		width:200%;
		bottom:-20px
	}
	.header-minbar #headerwrap .header-icons{
		width:46px;
		font-size:1em
	}
	#slide-cart.sidemenu-on,
	.sidemenu-left #mobile-menu.sidemenu-on{
		left:0
	}
	#body,
	#footerwrap,
	.full_width #body{
		padding-left:46px
	}
	.header-minbar #menu-icon-close,
	.slide-cart-visible #headerwrap #menu-icon{
		display:block
	}
	#slide-cart.sidemenu-on{
		right:auto;
		left:46px
	}
}
@media screen and (max-width:320px){
	.sidemenu{
		width:251px
	}
}
@media screen and (min-width:1201px){
	.full_width .row_inner{
		 max-width:96%
	}
}