.sidemenu-right{
	left:0
}
#headerwrap{
	position:relative
}
#header{
	padding:0;
	display:flex;
	flex-flow:row wrap;
	width:100%;
	max-width:none;
	z-index:auto;
	text-align:center
}
.header-bar{
	margin-left:2%
}
#site-logo{
	margin:15px 10px 15px 0;
	display:inline-block;
	vertical-align:middle
}
#site-logo,
#site-logo a{
	transition:none
}
#site-description{
	display:inline-block;
	margin:10px 0;
	vertical-align:middle
}
#headerwrap .header-icons{
	position:absolute;
	top:32px;
	right:2%;
	text-decoration:none;
	color:inherit;
	z-index:2!important;
	transform:translateY(-50%);
	display:flex;
	align-items:center;
	flex-direction:row
}
.mobile-menu-visible #headerwrap .header-icons{
	top:auto;
	bottom:-10px
}
#menu-icon{
	order:1;
}
.mobile-menu-visible .menu-icon-inner{
	border:none;
	transform-origin:center;
	width:1.3em;
	height:1.3em
}
.mobile-menu-visible .menu-icon-inner:before{
	transform:rotateZ(-45deg);
	top:50%
}
.mobile-menu-visible .menu-icon-inner:after{
	transform:rotateZ(45deg);
	top:50%
}
.mobile-menu-visible #mobile-menu.sidemenu,
#mobile-menu.sidemenu{
	display:flex;
	flex-direction:column;
	order:-1;
	width:100%;
	padding:0;
	position:static;
	max-height:0;
	opacity:0;
	visibility:hidden;
	transition:opacity .25s linear,max-height .25s linear,visibility .25s linear,padding .25s linear
}
.mobile-menu-visible #mobile-menu.sidemenu{
	max-height:500px;
	opacity:1;
	visibility:visible;
	padding:1em 0
}
#main-nav{
	font-size:1.1em;
	position:relative
}
#main-nav .mega-menu-posts .post,
#main-nav .mega-menu-posts .post-title{
	text-align:left
}
.header-widget{
	order:-1
}
.body-overlay{
	display:none
}
.slide-cart-visible .body-overlay-on{
	display:block
}
body.mobile-menu-visible{
	overflow-y:visible
}
@media screen and (min-width:1261px){
	.navbar-wrapper,
	.header-widget{
		width:100%;
		max-width:1160px;
		margin:auto
	}
}
@media screen and (max-width:1260px){
	.header-widget,
	.navbar-wrapper{
		width:100%;
		max-width:96%;
		margin:auto
	}
}
@media screen and (max-width:680px){
	.header-bar{
		margin-left:5%
	}
	#headerwrap .header-icons{
		right:5%;
		min-width:auto
	}
	.header-widget,
	.navbar-wrapper{
		max-width:90%
	}
}
