#header{
	padding:5px 28px;
	width:100%
}
.header-bar{
	float:left
}
#site-logo{
	margin:5px 10px 5px 0;
	display:inline-block;
	vertical-align:middle
}
#site-description{
	margin:1em 0;
	font-size:.75em;
	display:inline-block;
	vertical-align:middle
}
#site-description .site-taglink{
	color:inherit;
	font-size:inherit
}
#site-description .site-taglink:hover{
	text-decoration:none
}
.navbar-wrapper{
	display:flex;
	justify-content:flex-end;
	align-items:center
}
#searchform-wrap,
.search-button,
.cart-icon,
#header .social-widget{
	order:1
}
#header .social-widget{
	float:left;
}
.themify_builder_active #header .social-widget{
	white-space:nowrap
}
#headerwrap #searchform #s{
	padding:0 25px 0 15px;
}
#main-nav-wrap{
	display:flex;
	align-items:center;
	justify-content:flex-end
}
#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu{
	margin:0 27px;
	width:calc(100% - 56px)
}
#main-nav .has-mega-column > .sub-menu{
	padding:32px 39px 39px
}
.header-widget{
	display:none;
	text-align:center
}
.header-widget .header-widget-inner{
	height:100%;
	overflow:auto;
	-webkit-overflow-scrolling:touch
}
.fixed-header .header-bar{
	display:block
}
.pull-down{
	float:right
}
@media screen and (max-width:760px){
	#site-description{
		display:none
	}
}
@media screen and (max-height:900px){
	#headerwrap .header-widget-inner{
		max-height:70vh
	}
}