#header{
	padding:1em 0
}
.header-bar{
	float:left
}
#site-logo{
	margin:.5em .7em .5em 0
}
#site-description{
	margin:5px .5em 5px 0;
	font-size:.8em
}
#headerwrap #searchform-wrap,
.cart-icon,
.search-button,
.social-widget{
	order:1
}
.social-widget .social-links.horizontal li{
	padding-bottom:0;
	margin-bottom:0
}
#headerwrap .header-widget-full #searchform #s{
	position:static
}
#main-nav .has-mega-column > .sub-menu{
	padding:32px 39px 39px
}
.sidemenu-off .navbar-wrapper,#header{
	display:flex;
	align-items:center
}
.sidemenu-off{
	flex:1
}
.sidemenu-off #main-nav-wrap{
	margin-left:auto
}
.header-widget{
	height:auto;
	padding: 7px 0
}
.header-widget .header-widget-inner{
	overflow:auto;
	-webkit-overflow-scrolling:touch
}
.fixed-header-on #headerwrap .social-widget,
.fixed-header-on #headerwrap #searchform-wrap,
.fixed-header .search-button{
	display:inline-block
}
.fixed-header .header-bar{
	display:block
}
.header-top-widgets .pull-down,.sidemenu .header-widget{
	display:none
}
.header-widget-full{
	background:rgba(0,0,0,.07);
	font-size:.9em;
	position:relative;
	z-index:2
}
.header-widget-full .header-widget-inner{
	margin:0 auto;
	max-width:100%;
	width:1160px
}
.header-widget-full .header-widget-inner .widget{
	margin:1em 0;
	padding:0
}
.header-widget-full .header-widget-inner .widget p{
	margin: 0 0 5px
}
.header-widget-full .header-widget-inner .widgettitle{
	margin:0 0 .2em
}
.header-top-widgets .sidemenu > p{
	margin:0
}
.header-widget-full .header-widget-inner > .first ~ div:last-child{
	text-align:right
}
.header-widget-full .header-widget-inner .widget{
	margin:0;
	display:inline-block
}
.header-widget-full .header-widget{
	transition:transform .4s,min-height .4s,height .4s;
	min-height:30px;
	display:block
}
.fixed-header .header-widget-full .header-widget{
	transform:translateY(-100%);
	overflow:hidden;
	min-height:0;
	height:0;
	padding:0
}
@media screen and (max-width:1260px){
	.header-widget-full > .header-widget-inner{
		max-width:96%
    }
}
