/*
Skin Name: Ultra Profile
Version: 1.0
Demo URI: https://themify.me/demo/themes/ultra-profile/
Required Plugins: builder-progress-bar
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#fe1821;
	--theme_accent_semi:rgba(254,24,33,.8)
}
body{
	color:#505050;
	font:1.125em/1.5em 'Sorts Mill Goudy', serif
}
a:hover{
	color:var(--theme_accent);
	text-decoration:none
}

/* FORMS
================================================ */
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week]{
	border-radius:0;
	border-color:rgb(168,168,168);
	box-shadow:0px 0px 0px 0px rgba(0,0,0,.1);
	transition:border .3s linear,box-shadow .3s linear
}
/* form input:focus */
textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, input[type=email]:focus, input[type=url]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=month]:focus, input[type=time]:focus, input[type=week]:focus{
	box-shadow:0px 16px 32px 0px rgba(0,0,0,0.1);
	border-color:rgb(0,0,0)
}

/* form button */
input[type=reset], input[type=submit], button[type=submit]{
	border-radius:50em;
	background-color:#000;
	color:#fff;
	font-size:1.1em;
	font-weight:normal;
	padding:.45em 1.7em;
	letter-spacing:.02em;
	text-transform:none
}
/* form input:hover */
input[type=reset]:hover, input[type=submit]:hover, button[type=submit]:hover{
	background-color:var(--theme_accent);
	color:#fff
}
#commentform p{
	margin:0 0 0.9em
}
#commentform p label{
	text-transform:none;
	transform:translate(20px, 39px);
	display:inline-block
}
#review_form p label{
	transform:none
}

/* HEADINGS
================================================ */
h1, h2, h3, h4, h5, h6{
    font-weight:normal
}
h1{
	font-size:4.2em;
	font-family:'Muli',Arial,sans-serif;
	font-weight:bold;	
	letter-spacing:normal;
	margin:0 0 .15em
}
h2{
	font-size:2.8em;
	margin:0 0 .2em
}
h3{
	font-family:'Sorts Mill Goudy', serif;
	font-size:2em;
	letter-spacing:-.02em;
	margin:0 0 .2em
}
h4{
	font-family:'Muli',Arial,sans-serif;
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:.14em
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap{
	border:none
}
#headerwrap.fixed-header{
	box-shadow:0px 2px 2px 0 rgba(0,0,0,.03)
}

/* SITE LOGO
================================================ */
#site-logo{
	font-family:'Muli',Arial,sans-serif;
	font-size:1.7em;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.09em
}

/* MAIN NAVIGATION
================================================ */
#main-nav a{
	font-size:1.15em;
	padding:.6em .8em
}
#main-nav .highlight-link > a{
	border:none;
	border-radius:50em;
	background-color:#000;
	color:#fff;
	padding:.3em 1.2em;
	letter-spacing:-0.02em
}
#main-nav .highlight-link > a:hover{
	background-color:var(--theme_accent);
	color:#fff
}
#main-nav .highlight-link.current_page_item > a,
#main-nav .highlight-link.current-menu-item > a{
	color:#fff
}

/* remove dropdown rounded corners */
#main-nav li:not(.themify-widget-menu) > ul,
#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu{
	border-radius:0
}

/* mega menu */
#main-nav .mega-menu-posts .post,
#main-nav .mega-menu-posts .post-title{
	text-align:left
}

/* CART ICON
================================================ */
.cart-wrap a span{
	position:static;
	margin:0 0 -3px -12px;
	box-sizing:border-box;
	padding:3px 5px;
	font-family:'Muli',Arial,sans-serif;
}

/* SEARCH LIGHTBOX
================================================ */
.search-option-tab li:hover a,
.search-option-tab li.active a{
	box-shadow:inset 0 -3px 0 0 #000
}
.view-all-button:after{
	border-color:inherit
}

/* SEARCH BUTTON
================================================ */
.search-button{
	margin-left:15px
}

/* HEADER HORIZONTAL/TOP WIDGETS/BOXED COMPACT
================================================ */
.header-top-widgets #header .social-widget,
.boxed-compact #header .social-widget,
.header-horizontal #header .social-widget{
	order:2;
}
.header-top-widgets #searchform-wrap,
.header-horizontal #searchform-wrap,
.boxed-compact #searchform-wrap,
.header-top-widgets .search-button,
.header-horizontal .search-button,
.boxed-compact .search-button{
	order:1
}
.header-horizontal #site-logo{
	margin-top:8px
}

/* HEADER OVERLAY
================================================ */
.header-overlay.transparent-header #headerwrap.fixed-header,
.header-overlay.mobile-menu-visible #headerwrap{
	background-color:#000;
	background-color:rgba(0,0,0,.94)
}

/* HEADER STRIPE
================================================ */
.header-stripe #site-logo{
	background-color:var(--theme_accent)
}

/* HEADER BOTTOM
================================================ */
#footerwrap .footer-tab{
	background-color:var(--theme_accent)
}

/* HEADER CLASSIC
================================================ */
.header-classic #main-nav .highlight-link > a{
	margin:.45em 0
}

/************************************************************************************
POST
*************************************************************************************/
.loops-wrapper.list-post .post-date .year,
.single .post-date .year{
	font-family:inherit
}
.loops-wrapper.overlay .post-image + .post-content .post-content-inner{
	transform:none;
	top:0;
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	position:static
}
.post-meta{
	font:.7em 'Muli',Arial,sans-serif;
	text-transform:uppercase;
	letter-spacing:.1em
}
.post-title{
	font-family:'Sorts Mill Goudy', serif;
	font-weight:normal;
	letter-spacing:.03em
}

/************************************************************************************
PORTFOLIO
*************************************************************************************/
.overlay .product,
.polaroid .product,
.loops-wrapper.polaroid .post,
.loops-wrapper.overlay .post{
	text-align:left
}
.overlay .product .product-image + .product-content, .polaroid .product .product-image + .product-content,
.overlay .product .post-image + .post-content, .polaroid .product .post-image + .post-content,
.loops-wrapper.overlay .post-image + .post-content, .loops-wrapper.polaroid .post-image + .post-content{
	background-color:rgba(0,0,0,.5);
	padding:9.7% 11.4%
}
.overlay .disp-cell.valignmid,
.polaroid .disp-cell.valignmid{
	vertical-align:top;
	display:flex;
	flex-direction:column
}
.overlay .post-content .post-content-inner .post-title,
.polaroid .post-content .post-content-inner .post-title,
.overlay .disp-cell.valignmid .post-title,
.polaroid .disp-cell.valignmid .post-title{
	order:-1
}
.loops-wrapper.grid3 .post-title{
	font-size:1.45em
}
.overlay .post-content .post-content-inner:before,
.overlay .post-content .post-content-inner:after,
.loops-wrapper.overlay.portfolio .disp-cell:before,
.loops-wrapper.overlay.portfolio .disp-cell:after{
    content:"";
    display:block;
    color:#fff;
    position:absolute;
    bottom:33px;
    width:18px;
    height:20px;
    right:9.4%
}
.overlay .post-content .post-content-inner:before,
.loops-wrapper.overlay.portfolio .disp-cell:before{
    border:3px solid #fff;
    border-left-color:transparent;
    border-bottom-color:transparent;
    transform:rotateZ(45deg);
    right:calc(7.4% + 9px)
}
.overlay .post-content .post-content-inner:after,
.loops-wrapper.overlay.portfolio .disp-cell:after{
    border-top:3px solid #fff;
    bottom:25px;
    width:78px
}
.overlay .post-content .post-content-inner:before,
.overlay .post-content .post-content-inner:after,
.loops-wrapper.overlay.portfolio .disp-cell:before,
.loops-wrapper.overlay.portfolio .disp-cell:after{
	opacity:0;
	margin-right:50px;
    transition:opacity .3s ease, margin .3s ease;
    transition-delay:.4s
}
.loops-wrapper.polaroid > .post:hover .post-content-inner:before,
.loops-wrapper.polaroid > .post:hover .post-content-inner:after,
.loops-wrapper.overlay > .post:hover .post-content-inner:before,
.loops-wrapper.overlay > .post:hover .post-content-inner:after,
.loops-wrapper.overlay > .portfolio:hover .disp-cell:before,
.loops-wrapper.overlay > .portfolio:hover .disp-cell:after{
	opacity:1;
	margin-right:0
}

/* portfolio info */
.project-date strong,.project-client strong,.project-services strong,.project-view strong{
	font-family:'Muli',Arial,sans-serif;
	letter-spacing:.14em
}
.single-portfolio .post-category {
	letter-spacing:.14em
}

/************************************************************************************
PAGE
*************************************************************************************/
.page-title{
	font-family:'Sorts Mill Goudy', serif;
	font-weight:normal
}

/************************************************************************************
WIDGETS
*************************************************************************************/
.widgettitle{
    font-size:1.3em;
    letter-spacing:.08em
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	background-color:#000;
	border:none;
	color:#fff;
	padding:4em 0 2em
}
#footer a{
	color:#fff
}
#footer a:hover{
	color:var(--theme_accent)
}
#footerwrap a.tb_turn_on{
	color:#fff
}

/* FOOTER LOGO
================================================ */
#footer-logo{
	font-family:'Muli',Arial,sans-serif;
	font-size:1.55em;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.04em;
	margin-top:7px
}

/* FOOTER BACK TO TOP
================================================ */
#pagewrap .back-top.back-top-float a:before{
	border-width:3px;
	margin-left:-8px;
	top:10px
}
#pagewrap .back-top.back-top-float a:after{
	content:"";
	display:inline-block;
	border-left:3px solid;
	border-left-color:inherit;
	height:20px;
	position:absolute;
	top:10px
}

/* FOOTER MENU
================================================ */
.footer-nav a{
	font-size:1.1em;
	display:inline-block
}
.footer-nav .highlight-link{
	margin-left:.7em
}
.footer-nav .highlight-link > a{
	border-radius:50em;
	border:none;
	letter-spacing:-0.02em;
	padding:.35em 2.05em
}
#footer .footer-nav .highlight-link > a{
	background-color:#fff;
	color:#000
}
#footer .footer-nav .highlight-link > a:hover{
	background-color:var(--theme_accent);
	color:#fff
}

/* footer layout */
.footer-horizontal-left .footer-logo-wrapper,
.footer-horizontal-left #footer .social-widget{
	float:left
}
.footer-horizontal-right .footer-logo-wrapper,
.footer-horizontal-right #footer .social-widget{
	float:right
}
.footer-horizontal-left .footer-logo-wrapper{
	margin-right:1em
}
.footer-horizontal-right .footer-logo-wrapper{
	margin-left:1em
}
.footer-horizontal-left #footer .footer-nav,
.footer-horizontal-right #footer .footer-nav{
	float:right
}
.footer-horizontal-left .footer-left-wrap,
.footer-horizontal-right .footer-left-wrap{
	width:46.6%
}
.footer-horizontal-left .footer-right-wrap,
.footer-horizontal-right .footer-right-wrap{
	width:50.2%
}

/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* BUTTON
================================================ */
#slide-cart .button,.woocommerce ul.products li.product .button,.woocommerce a.button.disabled,.woocommerce button.button.disabled,
.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled],.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt{
	border-radius:50em;
	background-color:#000;
	color:#fff;
	font-weight:bold;
	padding:.65em 1.95em;
	letter-spacing:.005em;
	text-transform:none
}
#slide-cart .button:hover,.woocommerce ul.products li.product .button:hover,.woocommerce a.button.alt.disabled:hover,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce #respond input#submit:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover{
	background-color:var(--theme_accent);
	color:#fff
}

/* SINGLE PRODUCTS
================================================ */
/* price */
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price{
    font-family:'Muli',Arial,sans-serif;
    font-style:normal
}

/* CHECKOUT
================================================ */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height:49px;
	border-color:#ddd
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:49px
}
.select2-results__option{
	margin:0
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true]{
	background-color:var(--theme_accent);
	color:#fff
}

/************************************************************************************
BUILDER STYLING
*************************************************************************************/
/* TESTIMONIAL MODULE
================================================ */
.themify_builder_slider_wrap .carousel-pager a,
.themify_builder_slider_wrap .carousel-pager a:hover,
.themify_builder_slider_wrap .carousel-pager a.selected{
	border-width:9px;
	margin:0 7px
}
.themify_builder_slider_wrap .carousel-pager a:hover,
.themify_builder_slider_wrap .carousel-pager a.selected{
	color:var(--theme_accent)
}

.themify_builder_slider_wrap .carousel-prev:before,
.themify_builder_slider_wrap .carousel-next:before{
    position:absolute;
    top:50%;
    margin-top:-6px
}
.themify_builder_slider_wrap .carousel-prev:before{
	left:0
}
.themify_builder_slider_wrap .carousel-next:before{
	right:0
}
.themify_builder_slider_wrap .carousel-prev:after,
.themify_builder_slider_wrap .carousel-next:after{
	content:"";
	display:inline-block;
	width:77px;
	height:2px;
	border-bottom:2px solid;
	position:absolute;
	top:50%;
	margin-top:-1px
}
.themify_builder_slider_wrap .carousel-prev:after{
	left:7px
}
.themify_builder_slider_wrap .carousel-next:after{
	right:7px
}
.themify_builder_slider_wrap .carousel-prev,
.themify_builder_slider_wrap .carousel-next{
	position:relative;
	width:88px
}
.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-prev,
.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-next{
	background-color:transparent;
	color:#000;
	overflow:visible;
	width:88px !important
}
.testimonial-author .person-name{
	font-size:1.4em;
	margin:0 0 .2em
}
.testimonial-author .person-position{
	font-family:'Muli',Arial,sans-serif;
	text-transform:uppercase
}
.module-testimonial-slider .testimonial-image img{
	border-radius:0;
	box-shadow:7px 7px 0px 0px rgba(0, 0, 0, .15)
}

/* image bottom */
.module-testimonial-slider.image-bottom .testimonial-content{
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	max-width:80%;
	margin:auto
}
.module-testimonial-slider.image-bottom .testimonial-entry-content{
	width:100%;
	margin-bottom:1em
}
.module-testimonial-slider.image-bottom .testimonial-image{
	margin:0
}
.module-testimonial-slider.image-bottom .testimonial-image img{
	padding-bottom:0;
	margin:0 7px 7px 0;
	display:inline-block
}
.module-testimonial-slider.image-bottom .testimonial-author{
	order:1;
	text-align:left;
	margin-left:1.5em
}

/* image bubble */
.module-testimonial-slider.image-bubble .testimonial-item:before{
	position:absolute;
	left:18px
}
.module-testimonial-slider.image-bubble.themify_builder_slider_vertical .testimonial-content{
	padding-top:7%;
	padding-bottom:0
}
.themify_builder_slider_wrap.image-bubble .carousel-prev,
.themify_builder_slider_wrap.image-bubble .carousel-next{
	display:inline-block !important;
	position:relative;
	transform:none
}
.ui.builder_button{
	box-shadow:0px 0px 0px 0px rgba(0,0,0,.1)
}
.ui.builder_button:hover{
	box-shadow:0px 16px 32px 0px rgba(0,0,0,.1)
}
/* ACCORDION MODULE
================================================ */
.ui.module-accordion .accordion-title{
	font-weight:normal
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width:768px){
	h1{
		font-size:2.5em
	}
	h2{
		font-size:2em
	}
	h3{
		font-size:1.8em
	}
}
@media screen and (max-width:680px){
	.footer-horizontal-left .footer-left-wrap,
	.footer-horizontal-right .footer-left-wrap,
	.footer-horizontal-left .footer-right-wrap,
	.footer-horizontal-right .footer-right-wrap{
		width:100%
	}
	.footer-horizontal-right .footer-logo-wrapper,
	.footer-horizontal-right #footer .social-widget{
		float:left
	}
	.footer-horizontal-right .footer-logo-wrapper{
		margin-left:0;
		margin-right:1em
	}
}