.woocommerce-account .woocommerce-MyAccount-navigation{
	width:24.5%
}
.woocommerce-account .woocommerce-MyAccount-navigation ul{
	padding:0;
	margin:0;
	margin-top:.75em;
	border-top:1px solid rgba(0,0,0,.08)
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li{
	display:block;
	border-bottom:1px solid rgba(0,0,0,.08);
	margin:0;
	padding:0;
	position:relative
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a{
    display:block;
    padding:.5em 
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a:after{
	content:'';
	display:inline-block;
	vertical-align:middle;
	border:1px solid transparent;
	border-top-color:inherit;
	border-right-color:inherit;
	width:15px;
	height:15px;
	transform:rotate(45deg);
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-9px
}
.woocommerce-account .woocommerce-MyAccount-content{
	width:70%
}
@media screen and (max-width:760px){	
	.woocommerce-account .woocommerce-MyAccount-content,
	.woocommerce-account .woocommerce-MyAccount-navigation{
		float:none;
		width:auto;
		clear:both
	}
	.woocommerce-account .woocommerce-MyAccount-content{
		margin-top:2em
	}
}