.woocommerce-cart {
    .woocommerce {        
        .woocommerce-notices-wrapper {
            flex: 0 0 100%;
        }
        form.woocommerce-cart-form {
            margin-bottom: 40px;
            padding: 30px 0;
            @include media(xs) {
                flex: 0 0 100%;
                margin-bottom: 30px;
            }
            table {
                margin-bottom: 0;
                .coupon {
                    min-width: 300px;
                    input#coupon_code {
                        width: 165px;
                    }
                }
                button.button {
                    background: $color-primary;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
        .cart-collaterals {
            @include media(xs) {
                flex: 0 0 100%;
            }
            .cart_totals {
                width: 100%;
                padding-top: 10px;
                padding: 30px 0;
                height: 100%;
                h2 {
                    margin-top: 0;
                    line-height: 1;
                    font-size: 18px;
                }
                table {
                    background: #fff;
                }
                a.checkout-button.button.alt.wc-forward {
                    width: 200px;
                    font-size: 14px;
                    background: $color-primary;
                    border-radius: 5px;
                    font-weight: 400;
                    color: #fff;
                    &:after {
                        content: "\f07a";
                        font-family: 'FontAwesome';
                        margin-left: 6px;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}