.wp-block-woocommerce-product-search {
    padding: 15px;
    label.wc-block-product-search__label {
	    font-size: 18px;
	    color: #000;
	    font-weight: bold;
	    margin-bottom: 16px;
	    display: block;
	}
}