.woocommerce.widget_price_filter {
	.price_slider_amount {
		.button {
		    color: #fff !important;
		}
	}
}

.widget {
	.woocommerce-product-search {
		input {
		    height: 45px;
		    vertical-align: top;
		}
		button {
		    background: #000;
		    border: none;
		    color: #fff;
		    height: 45px;
		    border-radius: 3px;
		    font-size: 17px;
		    cursor: pointer;
		}
	} 

	.select2-selection.select2-selection--single {
		height: 45px;
		.select2-selection__rendered {
			line-height: 45px;
		}
	}

	.star-rating {
	    margin: 0 0 13px;
	}
}
