#headerwrap #main-nav a:hover,
#headerwrap #main-nav ul a:hover{
	color:var(--theme_accent)
}
.header-leftpane #headerwrap #menu-icon,
.header-rightpane #headerwrap #menu-icon{
	background-color:var(--theme_accent)
}
.header-top-widgets.slide-cart .cart-icon,
.boxed-compact.slide-cart .cart-icon,
.header-horizontal.slide-cart .cart-icon{
	position:static
}