/*  
Skin Name:Ultra eCommerce
Version:1.0
Demo URI:https://themify.me/demo/themes/ultra-ecommerce/
Required Plugins:woocommerce, builder-woocommerce, themify-wc-product-filter
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#e4c272;
	--theme_accent_semi:rgba(36,40,71,.8);
}
body{
	font-family:'Poppins',Arial,sans-serif
}
a:hover{
	color:#8282a2
}
input[type=reset],
input[type=submit],
button{
	color:#242847;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:.095em;
	padding:.9em 1.2em .9em 1.5em
}
input[type=reset]:hover,
input[type=submit]:hover,
button:hover{
	background-color:#d4ad52
}
/* reset general border-radius */
input[type=reset],input[type=submit],button,select,textarea,input[type=checkbox],input[type=text],input[type=password],input[type=search],input[type=email],input[type=url],input[type=number],input[type=tel],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=time],input[type=week],.woocommerce ul.products li.product .button,.woocommerce a.button,.woocommerce #respond input#submit,.woocommerce #respond input#submit.alt,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce button.button.alt,.woocommerce button.button,.woocommerce a.button,.woocommerce a.button.alt,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.loops-wrapper.polaroid .post,.loops-wrapper.overlay .post,.loops-wrapper.auto_tiles > .product,.loops-wrapper.auto_tiles .post-image + .post-content,.loops-wrapper.auto_tiles > .post,.post-image img,.product img, ul.products li.product .post-image,#cart-wrap .product-image img,.woocommerce div.product div.images img,.woocommerce-product-gallery__wrapper .tf_swiper-container-initialized,#add_payment_method table.cart img,.woocommerce-cart table.cart img,.woocommerce-checkout table.cart img,.select2-dropdown,.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow,#slide-cart .button,#slide-cart .product-image img,.woocommerce-cart #content table.cart td.actions .coupon .input-text,.woocommerce span.onsale,.woocommerce ul.products li.product .onsale,.woocommerce table.shop_table,.woocommerce-checkout #payment,#add_payment_method #payment ul.payment_methods li,.woocommerce-cart #payment ul.payment_methods li,.woocommerce-checkout #payment ul.payment_methods li,.woocommerce-error, .woocommerce-info, .woocommerce-message,.woocommerce-page .cart-collaterals .cart_totals,body:not(.footer-block) #footer .back-top a,#main-nav .highlight-link > a,.pagenav a,.pagenav span,.pagenav .current,a.load-more-button,.more-link,.widget .feature-posts-list .post-img{
	border-radius:0
}

/************************************************************************************
HEADING
*************************************************************************************/
h1, h2, h3{
	font-weight:700;
	text-transform:none
}
h1, h2, h3, h4, h5, h6{
	color:#242847
}
h1{
	font-size:3.75em;
	letter-spacing:-.05em
}
h2{
	font-size:3.1em;
	margin-bottom:.3em
}
h3{
	font-size:1.16em;
	letter-spacing:.03em
}
h4{
	font-size:1em;
	font-weight:500;
	letter-spacing:.11em;
	margin-bottom:.5em
}
.sub-head{
	font-weight:400;
	letter-spacing:normal
}
/*STRUCTURE*/
.sidebar-left #content{
	width:75%
}
.sidebar-left #sidebar{
	width:20%
}
#sidebar,
#footer{
	font-size:.9em
}
/*HEADER**/
#headerwrap{
	background-color:#242847;
	border:none;
	color:#fff
}
#headerwrap a{
	color:#fff
}
#headerwrap a:hover{
	color:var(--theme_accent)
}
/* SITE LOGO*/
#site-logo{
	font-weight:700;
	text-transform:none;
	letter-spacing:-.05em
}

/* MAIN NAVIGATION*/
#main-nav a{
	font-weight:700
}
#main-nav ul a{
	font-weight:400
}

/* CART WRAP*/
.cart-wrap a i{
	font-size:1.1em
}
.cart-wrap a span{
	border-radius:100%;
	color:#242847;
	display:inline-block;
	font-size:11px;
	font-weight:600;
	padding:6px 1px 1px;
	margin-bottom:-4px;
	opacity:1;
	min-width:18px;
	min-height:12px;
	line-height:1;
	text-align:center
}
.cart-wrap i .tf_fa{
	display:none
}
.woocommerce ul.products li.product .button:before,
.cart-wrap a i:before{
	content:"";
    -webkit-mask:url('images/font-icons.svg#c') no-repeat;/*ti-shoping-cart*/
    mask:url('images/cart.svg') no-repeat;/*for firefox*/
    background-color:currentColor;
    display:inline-block;
    vertical-align:middle;
    margin-right:.2em;
	width:1em;
    height:1em
}
#slide-cart{
	background-color:#fff;
	color:#242847
}
#headerwrap #slide-cart a{
	color:#242847
}
#slide-cart #cart-list{
	margin-bottom:1.4em
}
#slide-cart .product:last-child,
#slide-cart .product{
	border-bottom:1px solid rgba(0,0,0,.08);
	padding:1em 0 .5em;
	margin:0
}
#slide-cart .product-title{
	margin-bottom:.2em;
	text-transform:none;
	font-size:1em
}
#slide-cart .quantity-count{
	color:#adadad;
	font-size:1em;
	margin:0
}
#slide-cart .remove-item{
	color:#8282a2
}
#slide-cart .cart-total .amount{
	font-size:1em
}
#slide-cart .cart-total #view-cart{
	color:#8282a2;
	text-transform:none;
	letter-spacing:.075em
}
#slide-cart .button{
	font-size:1em;
	line-height:1.1em;
	padding:1em 1.5em
}
/* SEARCH LIGHTBOX */
.search-option-tab li:hover a,
.search-option-tab li.active a{
	box-shadow:inset 0 -3px 0 0 var(--theme_accent)
}
.search-results-wrap .view-all-button{
	color:var(--theme_accent)
}
.view-all-button:after{
	border-color:var(--theme_accent)
}
/* HEADER HORIZONTAL*/
.header-horizontal .cart-wrap,
.header-horizontal .search-button{
	float:right;
	margin-left:.8em
}
.header-horizontal .search-button{
	margin:5px 0 0
}
.header-horizontal .search-button .tf_fa{
	display:none
}
.header-horizontal .search-button:before{
	content:"";
    -webkit-mask:url('images/font-icons.svg#s') no-repeat;/*ti-search*/
    mask:url('images/search.svg') no-repeat;/*for firefox*/
    background-color:currentColor;
    display:inline-block;
    vertical-align:middle;
	width:1.15em;
    height:1.15em
}
.header-horizontal.slide-cart #main-nav-wrap{
	position:static
}
.header-horizontal #main-nav{
	clear:none
}
.header-horizontal .cart-wrap a i:before{
	font-size:1.55em;
	margin:0
}
/* HEADER STRIPE*/
.header-stripe #headerwrap{
	background:0
}
.header-stripe #header{
	background-color:#242847;
	color:#fff
}
/* HEADER SLIDE OUT*/
.header-slide-out #main-nav a,
.header-slide-out #main-nav ul a,
.header-slide-out #main-nav .mega-menu-posts a{
	color:inherit
}
.header-minbar .sidemenu,
.header-slide-out .sidemenu{
	background-color:#242847;
	color:#fff
}
.header-minbar #headerwrap #main-nav a,
.header-minbar #headerwrap #main-nav ul a,
.header-slide-out #headerwrap #main-nav a,
.header-slide-out #headerwrap #main-nav ul a{
	border-bottom:1px solid rgba(255,255,255,.3)
}

/* HEADER OVERLAY*/
.header-overlay.mobile-menu-visible #headerwrap{
	background-color:var(--theme_accent_semi)
}
.header-overlay #slide-cart{
	left:auto
}
/* HEADER TOP BAR*/
.header-top-bar .cart-wrap{
	float:left
}
/* BOXED CONTENT*/
.boxed-content #headerwrap,
.boxed-content #headerwrap a{
	color:#000
}
/* BOXED COMPACT*/
.boxed-compact .cart-wrap{
	margin-top:.2em
}
/* FIXED HEADER*/
.transparent-header #headerwrap.fixed-header,
#headerwrap.fixed-header{
	background-color:var(--theme_accent_semi)
}
/* TRANSPARENT HEADER */
.transparent-header #main-nav > li:hover > a,
.transparent-header #main-nav .current_page_item > a,
.transparent-header #main-nav .current-menu-item > a,
.transparent-header .fixed-header #main-nav > .current-menu-item.highlight-link > a,
.transparent-header #main-nav .current-menu-item.highlight-link > a{
	color:#fff
}
.pull-down:before{
	border-bottom-color:#242847
}
/*POST*/
.post-nav .arrow,
.post-nav a:hover > span,
.post-title a:hover{
	color:#8282a2
}
.commentlist .comment-reply-link:hover{
	background-color:#242847;
	border-color:#242847
}
/*WIDGET*/
.widgettitle{
	font-size:1.2em;
	letter-spacing:-.025em;
	text-transform:none;
	margin:0 0 .5em
}
#sidebar .widget{
	margin:0 0 2.5em
}
#sidebar .widget li{
	border-bottom:1px solid rgba(0,0,0,.08);
	padding:.65em 0
}
/* feature posts widget */
.widget .feature-posts-list .feature-posts-title{
	font-weight:700
}
/* twitter widget */
#sidebar .widget .twitter-list li,
.widget .twitter-list li{
	padding-left:40px;
	position:relative
}
.widget .twitter-list li:before{
	content:"";
    -webkit-mask:url('images/font-icons.svg#t') no-repeat;/*ti-twitter*/
    mask:url('images/twitter.svg') no-repeat;/*for firefox*/
    background-color:currentColor;	
	position:absolute;
	left:0;
	width:1.5em;
    height:1.5em
}
.widget .twitter-list .twitter-timestamp{
	font-style:normal;	
	font-size:.9em;
	margin-bottom:1em
}

/* WooCommerce sidebar widgets */
/* woocommerce price filter */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background-color:#ddd
}
.woocommerce .widget_price_filter .ui-slider-horizontal{
	height:1px;
	margin-bottom:2.2em
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	border-radius:0;
	background-color:var(--theme_accent);
	width:13px;
	height:13px;
	top:-7px
}
.woocommerce .widget_price_filter .price_slider_amount .button{
	font-weight:700;
	padding:.8em 1em;
	background-color:#414355;
	color:#fff
}
.woocommerce .widget_price_filter .price_slider_amount .price_label{
	float:left;
	margin-left:1.2em;
	font-weight:500;
	margin-top:5px
}
.woocommerce .widget_price_filter .price_slider_amount .price_label span{
	font-weight:400
}
.woocommerce .product-categories .count,
.woocommerce .widget_product_categories .count{
	float:right;
	font-weight:700;
	opacity:.6
}
/* recent products */
.woocommerce .product-categories a,
.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a{
	font-weight:700
}
.woocommerce #content table.cart td.actions .coupon .input-text{
	padding:.4em
}
/* product filter */
#pagewrap .wpf_layout_vertical .wpf_item .wpf_item_name{
	color:#242847;
	font-size:1.2em;
	letter-spacing:-.025em;
	text-transform:none;
	margin:0 0 .5em;
	border:none
}
#pagewrap .wpf_layout_vertical .wpf_item.wpf_item_onsale .wpf_item_name, 
#pagewrap .wpf_layout_vertical .wpf_item.wpf_item_instock .wpf_item_name{
	color:inherit;
	font-size:inherit;
	letter-spacing:0
}
#pagewrap .wpf_item li{
	padding-top:0;
	border:0
}
#pagewrap .wpf_item{
	padding:0
}
/*PAGINATION*/
.pagenav a,
.pagenav span{
	font-size:.9em;
	font-weight:500;
	margin:0 4px
}
.pagenav .current{
	border:none;
	background-color:var(--theme_accent)
}
/*FOOTER*/
#footerwrap{
	background-color:#FFF;
	color:#666
}
#footerwrap a:hover{
	color:#8282a2
}
#footer-logo{
	font-size:2em;
	font-weight:700;
	text-transform:none;
	letter-spacing:-.05em
}
#footer-logo a{
	color:inherit
}
#footer-logo,
.footer-widgets .widgettitle{
	color:#242847
}
/* FOOTER SOCIAL WIDGET*/
#footer .social-links li:first-child{
	margin-left:0
}
#footer .social-widget li:first-child a i{
	padding-left:0
}
#footer .social-widget a i{
	font-size:1.4em;
	padding:0 10px
}
/* FOOTER TEXT */
.footer-left-col .footer-text .two{
	margin-top:1.9em;
	padding-top:1.9em;
	border-top:1px solid rgba(180,180,180,.3)
}
/* FOOTER WIDGET*/
#footer .widget_products li{
	border-bottom:1px solid rgba(0,0,0,.08);
	padding:.75em 0
}
/*MODULE STYLING*/
.ui.builder_button{
	padding:1.5em 1.05em 1.35em 1.35em;
	font-weight:700;
	font-size:.9em;
	border:none;
	text-transform:uppercase;
	letter-spacing:.055em
}
.module.module-buttons a.yellow.builder_button{
	background-color:var(--theme_accent);
	color:#242847
}
.module.module-buttons a.yellow.builder_button:hover{
	background-color:#000;
	color:#fff
}
/* SUBSCRIBE FORM */
.tf-subscribe-form h3{
	font-size:2em;
	letter-spacing:-2.6px
}
.tf-subscribe-form img{
	padding-left:64px
}
.tf-subscribe-form h3,
.tf-subscribe-form img,
.tf-subscribe-form .mc4wp-form{
	display:inline-block;
	vertical-align:middle
}
.tf-subscribe-form .mc4wp-form{
	max-width:360px;
	min-width:360px
}
.tf-subscribe-form input[type=email]{
	border:none;
	border-bottom:4px solid;
	background-color:transparent;
	font-size:13px;
	font-weight:700;
	max-width:360px;
	width:100%;
	margin:0;
	letter-spacing:.7px;
	padding:7px 0 18px
}
.tf-subscribe-form input[type=email]::-webkit-input-placeholder{
	color:#000
}
.tf-subscribe-form input[type=submit]{
	position:absolute;
	right:0;
	bottom:22px;
	padding:0;
	width:35px;
	height:29px;
	background-color:transparent;
	font-size:0;
	z-index:1
}
.tf-subscribe-form .mc4wp-form .mc4wp-form-fields{
	position:relative
}
.tf-subscribe-form .mc4wp-form .mc4wp-form-fields:after{
	content:"";
    -webkit-mask:url('images/font-icons.svg#e') no-repeat;/*ti-email*/
    mask:url('images/email.svg') no-repeat;/*for firefox*/
    background-color:currentColor;	
	width:1em;
    height:1em;
	font-size:35px;
	display:inline-block;
	position:absolute;
	right:0;
	bottom:22px
}
.tf-subscribe-form .mc4wp-form .mc4wp-form-fields p{
	margin:0
}
.tf-subscribe-form .mc4wp-form .mc4wp-response:empty{
	display:none
}
/*WOOCOMMERCE*/
.woocommerce .wc-products .product,
.woocommerce ul.products li.product{
	text-align:center;
	transition:box-shadow .3s linear;
	margin-bottom:1em
}
#pagewrap .wc-products .product h3,
.woocommerce ul.products li.product h3{
	font-size:1em;
	letter-spacing:0;
	padding:0 .5em
}
.products .product .product-image,
.products .product .post-image{
	border-bottom:1px solid rgba(0,0,0,.13);
	padding:8% 6%;
	margin:0 0 1.75em
}
.woocommerce ul.products li.product.sale a img,
.woocommerce .wc-products .product.sale .post-image{
	padding-top:3.3em
}
.woocommerce .wc-products .product .post-content a{
	text-decoration:none
}
.module-products .price,
.module-products .star-rating{
	float:none;
	margin:0 auto 1em
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price{
	font-size:1em
}
.woocommerce ul.products li.product .price ins,
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins{
	font-weight:400
}
.woocommerce ul.products li.product .price del + ins,
.woocommerce div.product p.price del + ins,
.woocommerce div.product span.price del + ins{
	color:#ce9c25
}
.woocommerce .product .add-to-cart-button{
	margin:0
}
.woocommerce ul.products li.product .button:before{
	width:1.6em;
	height:1.6em;
	vertical-align:sub;
	margin-right:.4em
}
.woocommerce .product .post-image{
	overflow:hidden;
	display:block
}
.products .product .product-image img,
.products .product .post-image img{
	transition:transform .3s linear,padding .3s linear
}
.woocommerce .wc-products .product:hover,
.woocommerce ul.products li.product:hover{
	box-shadow:0 0 38px rgba(0,0,0,.18)
}
.woocommerce ul.products li.product:hover a img,
.woocommerce .wc-products .product:hover .post-image img{
	padding-bottom:0;
	transform:scale(1.2)
}
.products .product:hover .product-image,
.products .product:hover .post-image{
	border-bottom-color:transparent
}
.woocommerce ul.products li.product:hover .button{
	opacity:1;
	visibility:visible;
	transform:translateY(0);
	transition-delay:.2s
}
/* SALE */
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale{
	background-color:#e0e1e9;
	color:#242847;
	font-size:1em;
	right:auto;
	left:0;
	top:0;
	width:auto;
	height:auto;
	min-width:initial;
	min-height:inherit;
	line-height:normal;
	letter-spacing:.2em;
	padding:.4em 1.55em;
	margin:0
}
.woocommerce.single-product span.onsale,
.woocommerce.single-product ul.products li.product .onsale{
	margin:0;
	top:0
}
/* BUTTON */
.woocommerce ul.products li.product .button,
.woocommerce a.button.disabled,
.woocommerce button.button.disabled,
.woocommerce button.button.alt.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],/* for disabled state */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
	color:#242847;
	font-weight:700;
	font-size:.9em;
	text-transform:uppercase;
	padding:.9em;
	letter-spacing:.03em
}
.woocommerce ul.products li.product .button{
	display:block;
	text-transform:capitalize;
	padding:.9em .9em 1.3em;
	letter-spacing:.03em;
	white-space:normal;
	margin-bottom:0;
	opacity:0;
	visibility:hidden;
	transform:translateY(20px);
	transition:transform .2s linear,visibility .2s linear,opacity .2s linear
}
/* ARCHIVE PRODUCT*/
.woocommerce .woocommerce-ordering select{
	border:none;
	padding:0 0 0 22px;
	background:none;
}
.woocommerce .woocommerce-ordering{
	position:relative
}
.woocommerce .woocommerce-ordering:after{
	content:'\2195';
	position:absolute;
	left:5px;
	top:-5px;
	border:none;
	margin:0;
	transform:none;
	height:auto;
	font-size:14px
}
/* SINGLE PRODUCT*/
.woocommerce div.product .product_title{
	font-size:3em;
	letter-spacing:-.05em;
	line-height:1.15em;
	margin:0 0 .25em
}
.woocommerce div.product p.price,
.woocommerce div.product span.price{
	margin:0 0 1.3em
}
/* quantity */
.woocommerce div.product form.cart div.quantity,
.woocommerce .quantity{
	position:relative;
	margin-right:1.1em
}
.woocommerce .quantity .qty{
	border:none;
	border-bottom:1px solid;
	font-size:1.4em;
	font-weight:700;
	width:4.45em;
	padding-right:0
}
.woocommerce div.product form.cart .button{
	padding:1.3em 2.65em;
	font-size:.95em;
	letter-spacing:.15em
}
.product_meta a{
	color:#ce9c25;
	text-transform:uppercase
}
/* TABS */
.woocommerce div.product .woocommerce-tabs .panel{
	margin:0 0 3em
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
	border:none
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
	margin:0 0 2.5em
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
	border:none;
	background-color:transparent;
	text-transform:none;
	font-size:1.35em;
	color:#242847
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	padding:.85em
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
	background-color:transparent;
	color:inherit
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
	box-shadow:inset 0 -3px 0 0 var(--theme_accent)
}
/* RELATED PRODUCTS */
.woocommerce .related.products{
	border:none
}
.woocommerce .related h2,
.woocommerce .upsells h2{
	text-transform:none;
	font-size:1.5em;
	letter-spacing:-.05em;
	margin:0 0 1.75em
}
/* message, info, error */
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message{
	border-top-color:transparent
}
/* OPTIN MODULE */
.module-optin.tb_optin_horizontal .tb_optin_submit,
.module-optin.tb_optin_horizontal .tb_optin_submit button{
	width:auto;
	background:0
}
.module-optin.tb_optin_horizontal .tb_optin_submit button{
	font-size:33px;
	color:rgba(102, 102, 102, 1);
	padding:0;
	margin-bottom:0
}
/*MEDIA QUERIES*/
@media screen and (max-width:760px){
	/* HEADINGS */
	h1{
		font-size:1.95em
	}
	h2{
		font-size:1.75em
	}
	h3{
		font-size:1.05em
	}
	/* structure */
	.sidebar-left #content,
	.sidebar-left #sidebar{
		width:auto
	}
	.woocommerce ul.products li.product a img,
	.woocommerce .wc-products .product .post-image{
		margin-bottom:1em
	}
	/* fix woocommerce tabs */
	.woocommerce div.product .woocommerce-tabs ul.tabs li{
		font-size:1em
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
		padding:.5em
	}
}
@media screen and (max-width:680px){
	.header-minbar #pagewrap #headerwrap #menu-icon{
		background-color:#242847
	}
	#site-logo{
		font-size:25px
	}
}