.wp-block-search__inside-wrapper{
    .wp-block-search__input {
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 3px;
    }

    .wp-block-search__button {
        background: #2b9dff;
        border: 1px solid #ccc;
        padding: 0 30px;
        color: #ffffff;
        margin-left: 0;
        word-break: normal;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        border-radius: 3px;
        cursor: pointer;
    }
}