.wp-block-tag-cloud {
    a{
        color: #282835;
        padding: 3px 10px;
        color: #5a5a77;
        background: #f0f2f9;
        border-radius: 4px;
        margin: 2px;
        display: inline-block;
        font-size: 12px !important;
    }
}
